{% extends "mails/messages/activity_base.html" %}
{% load i18n %}
{% block message %}
<p>
    {% blocktrans context 'platform-email' %}Tomorrow is the big day on which your activity "{{ title }}" starts!{% endblocktrans %}
</p>
<p>
    {% blocktrans context 'platform-email' %}This is a good time to send your participants a motivational message to make your activity a success. Send a message to all your participants via the update wall on your activity page.{% endblocktrans %}
</p>
{% endblock %}
