{% load bb_ember i18n static %}

{% tplhandlebars "_fundraiser_donation_list_header" %}
    <div class="l-section account-header">
        <nav class="l-wrapper">

            <figure class="account-avatar"><img {{bindAttr src="currentUser.getAvatar"}} /></figure>

            <header class="account-title">
                <h2>{% trans "My <Bluebottle Project>" %} <em class="account-subtitle">{% trans "Fundraising" %}</em> <em class="account-subtitle">{% trans "Donations" %}</em></h2>
            </header>
        </nav>
    </div>
{% endtplhandlebars %}