{% load i18n bb_ember static %}


{% tplhandlebars "project_fundraiser_list" %}
    
    <div class="activity">

        <header class="activity-header">
            <h2 class="activity-title">{% trans "Fundraisers" %}</h2>
        </header>

        {{#if fundraisers.length}}
            <ul class="activity-list">
                {{#each fundraiser in controller}}
                    {{render "projectFundRaiser" fundraiser}}
                {{/each}}
            </ul>

            <footer class="activity-footer">
                {{#linkTo 'fundRaiserNew' controllers.project.id class='activity-action' }}
                    <strong>{% trans "Be the first to fundraise" %} &raquo;</strong><br />
                    {% trans "Throw a party or run a marathon to raise funds" %}
                {{/linkTo}}
            </footer>
        {{else}}
            {{#if controllers.project.isStatusCampaign}}
            <footer class="activity-footer">
                {{#linkTo 'fundRaiserNew' controllers.project.id class='activity-action' }}
                    <strong>{% trans "Be the first to fundraise" %} &raquo;</strong><br />
                    {% trans "Throw a party or run a marathon to raise funds" %}
                {{/linkTo}}
            </footer>
            {{/if}}

        {{/if}}

    </div>

{% endtplhandlebars %}