{% load i18n bb_ember static %}


{% tplhandlebars "project_fundraiser_list" %}
    
    <div {{bindAttr class=":activity controllers.project.isStatusCampaign::activity-hide" }}>

        {{#if fundraisers.length}}
            <header class="activity-header">
                <h2 class="activity-title">{% trans "Fundraisers" %}</h2>
            </header>

            <ul class="activity-list">
                {{#each fundraiser in controller}}
                    {{render "projectFundraiser" fundraiser}}
                {{/each}}
            </ul>

            {{#if controllers.project.isStatusCampaign}}
                <footer class="activity-footer">
                    {{#linkTo 'fundraiserNew' controllers.project.id class='activity-action' }}
                        <strong>{% trans "Start your own fundraiser" %} &raquo;</strong><br />
                        {% trans "Throw a party or run a marathon to raise funds" %}
                    {{/linkTo}}
                </footer>
            {{/if}}
        {{else}}
            {{#if controllers.project.isStatusCampaign}}
                <header class="activity-header">
                    <h2 class="activity-title">{% trans "Fundraisers" %}</h2>
                </header>

                <footer class="activity-footer">
                    {{#linkTo 'fundraiserNew' controllers.project.id class='activity-action' }}
                        <strong>{% trans "Be the first to fundraise" %} &raquo;</strong><br />
                        {% trans "Throw a party or run a marathon to raise funds" %}
                    {{/linkTo}}
                </footer>
            {{/if}}

        {{/if}}

    </div>

{% endtplhandlebars %}