{% load i18n bb_ember static %}


{% tplhandlebars "project_fundraiser_list" %}

    <h3 class="activity-title">
        {% trans "Fundraisers" %}
    </h3>


    {{#if fundraisers.length}}
        <ul class="activity-list">
            {{#each fundraiser in controller}}
                {{render "projectFundRaiser" fundraiser}}
            {{/each}}
            <li>
                {{#if controllers.project.isStatusCampaign}}
                    {{#linkTo 'fundRaiserNew' controllers.project.id class="activity-action"}}
                        {% trans "Start a fundraiser" %}
                    {{/linkTo}}
                {{/if}}
            </li>
        </ul>
    {{else}}
        {% trans "No fundraisers for this project." %}
        {{#if controllers.project.isStatusCampaign}}
            {{#linkTo 'fundRaiserNew' controllers.project.id class="activity-action"}}
                {% trans "Be the first to start a fundraiser" %}
            {{/linkTo}}
        {{/if}}

    {{/if}}

{% endtplhandlebars %}