{% load bb_ember i18n static %}

{% tplhandlebars "payment_pending" %}
    <div class="modal-fullscreen-content">
        <span {{action 'closeModal'}} class="modal-fullscreen-close"></span>
        <h4>Payment Pending Modal</h4>
    </div>
    <div class="modal-fullscreen-footer">
    </div>
{% endtplhandlebars %}