{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message %}
{% blocktrans context 'email' %}
Your grant application "{{title}}" has been submitted on {{ site_name }}.<br>
<br>
<b>What’s next?</b>
<ul>
    <li>
        The platform manager will review your application.
    </li>
    <li>
        Once approved, you’ll need to enter your bank details and verify your identity and/or that of the organisation to receive the grant.  
    </li>
</ul>
You will not be able to edit the application when it is in review.
{% endblocktrans %}
{% endblock %}
