{% load i18n bb_ember %}


{% tplhandlebars "_my_menu" %}
    <li>
        {{#link-to "userProfile" }}
            {% trans "Edit my profile & settings" %}
        {{/link-to }}
    </li>

    <li>
        {% trans "My Stuff" %}
        <ul>
            <li>
                {{#linkTo "myDonationList" }}
                    {% trans "My Donations" %}
                {{/linkTo}}
            </li>

            {% if 'projects' in bb_apps %}
                {% block_verbatim 'my-projects-menu-link' %}
                    <li>
                        {{#link-to 'myProjectList'}}
                            {% trans "My Projects" %}
                        {{/link-to}}
                    </li>
                {% endblock_verbatim %}
            {% endif %}

            {% comment %}
                {% if 'tasks' in bb_apps %}
                    {% block_verbatim 'my-tasks-menu-link' %}
                        <li>
                            {{#link-to 'myTaskList'}}
                                {% trans "My Tasks" %}
                            {{/link-to}}
                        </li>
                    {% endblock_verbatim %}
                {% endif %}
            {% endcomment %}
        </ul>

    </li>


    <li>
        {{#link-to "viewProfile" currentUser.id_for_ember }}
            {% trans "View my profile" %}
        {{/link-to}}
    </li>

    <li>
        <a {{action 'logout'}}>{%  trans "Logout" %}</a>
    </li>

    {% block_verbatim language_switcher %}
        <li class="nav-member-switch-language">
            {% trans "Language" %} {{view "App.LanguageSwitchView"}}
        </li>
    {% endblock_verbatim %}
{% endtplhandlebars %}