{% load i18n bb_ember %}


{% tplhandlebars "_my_menu" %}
    <li>
        {{#link-to "viewProfile" currentUser.id_for_ember }}
            {% trans "View my profile" %}
        {{/link-to}}
    </li>

    <li>
        {{#link-to "userProfile" }}
            {% trans "Edit my profile & settings" %}
        {{/link-to }}
    </li>

    <li>
        {% trans "My Stuff" %}
        <ul>
            <li>
                {{#link-to "myDonationList" }}
                    {% trans "My Donations" %}
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'myProjectList'}}
                    {% trans "My Projects" %}
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'myTaskList'}}
                    {% trans "My Tasks" %}
                {{/link-to}}
            </li>
        </ul>

    </li>

    <li>
        <a {{action 'logout'}}>{%  trans "Logout" %}</a>
    </li>


    <li class="nav-member-switch-language">
        {% trans "Language" %} {{view "App.LanguageSwitchView"}}
    </li>
{% endtplhandlebars %}