{% load i18n bb_ember %}


{% tplhandlebars "_my_menu" %}
    <li>
        {{#link-to "userProfile" }}
            {% trans "My Account" %}
        {{/link-to }}
        <ul>
            <li>
                {{#if currentUser.hasDonations}}
                    {{#link-to "myDonationList" }}
                        {% trans "Donations" %}
                    {{/link-to}}
                {{/if}}
            </li>
            <li>
                {{#if currentUser.hasProjects}}
                    {{#link-to 'myProjectList'}}
                        {% trans "Campaigns" %}
                    {{/link-to}}
                {{/if}}
            </li>
            <li>
                {{#if currentUser.hasTasks}}
                    {{#link-to 'myTaskList'}}
                        {% trans "Tasks" %}
                    {{/link-to}}
                {{/if}}
            </li>
            <li>
                {{#if currentUser.hasFundraisers}}
                    {{#link-to 'myFundraiserList'}}
                        {% trans "Fundraisers" %}
                    {{/link-to}}
                {{/if}}
            </li>
        </ul>

    </li>
    
    {{!-- TODO: Logic if there are multiple languages --}}
    {{#if hasMultipleLanguages}}
        <li class="nav-member-switch-language">
            {% trans "Language" %} {{view "App.LanguageSwitchView"}}
        </li>
    {{/if}}

    <li>
        <a {{action 'logout'}}>{%  trans "Logout" %}</a>
    </li>
{% endtplhandlebars %}