{% load i18n bb_ember %}


{% tplhandlebars "_my_menu" %}
    <li>
        {{#link-to "userProfile" }}
            {% trans "My Account" %}
        {{/link-to }}
        <ul>
            <li>
                {{#link-to "myDonationList" }}
                    {% trans "Donations" %}
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'myProjectList'}}
                    {% trans "Campaigns" %}
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'myTaskList'}}
                    {% trans "Tasks" %}
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'myFundraiserList'}}
                    {% trans "Fundraisers" %}
                {{/link-to}}
            </li>
        </ul>

    </li>
    
    {{!-- TODO: Logic if there are multiple languages --}}
    {{#if hasMultipleLanguages}}
        <li class="nav-member-switch-language">
            {% trans "Language" %} {{view "App.LanguageSwitchView"}}
        </li>
    {{/if}}

    <li>
        <a {{action 'logout'}}>{%  trans "Logout" %}</a>
    </li>
{% endtplhandlebars %}