{% load i18n bb_ember %}


{% tplhandlebars "_profile_anchor" %}
    <a href="#" class="nav-member-dropdown">
        <strong>
            {% trans "Profile" %} &nbsp;
        </strong>
    </a>
{% endtplhandlebars %}