{% load i18n bb_ember %}


{% tplhandlebars "_signup_errors" %}
    {{#if errorsFixed}}
        <div class="modal-flash-message success">
            {{fixedFieldsMessage}}
        </div>
    {{else}}
        {{#if validationErrors}}
            <div class="modal-flash-message error">
                {{validationErrors.error}}
            </div>
        {{/if}}
    {{/if}}
{% endtplhandlebars %}
