{% load i18n bb_ember %}


{% tplhandlebars "_standard_login_errors" %}
    {{#if validationErrors}}
        {{#unless allError}}
            <div class="modal-flash-message error">
                {{validationErrors.error}}
            </div>
        {{/unless}}
    {{/if}}
{% endtplhandlebars %}
