{% load i18n bb_ember %}

{% tplhandlebars "account_nav" %}

    <ul class="nav-actions">
        {{#if currentUser.isAuthenticated }}
            <li class="nav-member">
                {{partial "profile_anchor"}}
                <ul class="nav-member-dropdown-menu">
                    {{partial "my_menu"}}
                </ul>
            </li>
        {{else}}
            {{partial "account_nav_anon"}}
        {{/if}}
    </ul>

{% endtplhandlebars %}