{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans %}
<h1>Welcome {{ first_name }}</h1>
<p class="lead">You are invited to join {{ site_name }}. On this platform you can work together on social projects that you care about.</p>
<p>Activate your account by setting your password.</p>
{% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}/go/setpassword/{{ uid }}-{{ token }}/"
       class="action-email">{% trans 'Set password' context 'email' %}</a>
{% endblock %}

{% block post_action %}
{% blocktrans %}
<p>If you have any questions please don’t hesitate to contact {{ contact_email }}.</p>
{% endblocktrans %}
{% endblock %}
