{% load bb_ember i18n %}

{% tplhandlebars "disable" %}

    <div class="modal-fullscreen-content">
        <span {{action 'close'}} class="modal-fullscreen-close"></span>

        <h4>{{disableAccountTitle}}</h4>
        <br />
        <p>{% blocktrans %}That’s weird, apparently someone registered an account with your email. Click "delete" below to have it removed.{% endblocktrans %}</p>

        <a {{ action 'disableAccount' }} class="btn">{% trans "Delete" %}</a>

        <a {{ action 'cancelDisable' }} class="btn">{% trans "Just kidding!" %}</a>


    </div>
    <div class="modal-fullscreen-footer">
    </div>

{% endtplhandlebars %}