{% load bb_ember i18n %}

{% tplhandlebars "disable" %}

    <div class="modal-fullscreen-content">
        <span {{action 'close'}} class="modal-fullscreen-close"></span>

        <h4>{{disableAccountTitle}}</h4>
        <p>{% blocktrans %}That’s weird, apparently someone registered an account with your email. Click "delete" below to have it removed.{% endblocktrans %}</p>

        <div class="row">
            <div class="col5">
                <a {{ action 'disableAccount' }} class="btn is-inactive">{% trans "Delete" %}</a>
            </div>
            <div class="col7">
                <a {{ action 'cancelDisable' }} class="btn">{% trans "Just kidding!" %}</a>
            </div>
        </div>

    </div>
    <div class="modal-fullscreen-footer no-content">
    </div>

{% endtplhandlebars %}