{% load bb_ember i18n %}

{% tplhandlebars "password_request_success" %}

    <div class="modal-fullscreen-content">

        <span {{action 'close'}} class="modal-fullscreen-close">
            <object type="image/svg+xml" data="/static/assets/images/icons/icon-close-modal.svg"
                    class="modal-close-image"></object>
        </span>

        <h4>{{successRequestPasswordTitle}}</h4>


        <p>
            We have sent a password reset link to:
        </p>
        {{ controllers.login.username }}

    </div>

{% endtplhandlebars %}


