{% load bb_ember i18n %}

{% tplhandlebars "password_request_success" %}

    <div class="modal-fullscreen-content">

        <span {{action 'close'}} class="modal-fullscreen-close"></span>

        <h4>{{successRequestPasswordTitle}}</h4>
        <br />

        {{ successMessage }}:
        <br />
        {{ controllers.login.username }}

    </div>

{% endtplhandlebars %}


