{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans %}

        Hello,
        <br><br>
        Seems you've requested a password reset for {{ site_name }}.
        <br><br>
        <small>If you haven't requested a reset of your password, you can ignore
            this email.
        </small>
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}/passwordreset/{{ uid }}-{{ token }}/"
       class="action-email">{% trans 'Reset password' context 'email' %}</a>
{% endblock %}
