{# Template which goes into the main {{outlet}} #}
{% load bb_ember i18n %}

{% tplhandlebars "user" %}

<div id="account">

    <div class="l-section account-header">
		<div class="l-wrapper">
			<!-- <nav class="l-content"> -->
			
			<div class="account-edit">

            {% block_verbatim profile_nav %}
                <figure class="account-avatar"><img {{bindAttr src="currentUser.getAvatar"}} /></figure>

                <header class="account-title">
                    <h2>{% trans "My" %}  <em class="account-subtitle">{% trans "Profile" %}</em></h2>
                </header>

                <a {{action openInBigBox "userModal" currentUser.content}} class="account-preview btn-link">
                    <span class="flaticon solid eye-1"></span>
                    {% trans "Preview my profile" %}
                </a>

                <ul class="tabs three">

                    {% block_verbatim profile_nav_tabs %}
                    <li class="tab-item tab-first">
                        {{#link-to 'userProfile'}}
                            <span class="tab-icon"><span class="flaticon solid user-2"></span></span>
                            <strong class="tab-title">{% trans "Profile" %} <em class="tab-subtitle">{% trans "Public info" %}</em></strong>
                        {{/link-to}}
                    </li>

                    <li class="tab-item">
                        {{#link-to 'userSettings'}}
                            <span class="tab-icon"><span class="flaticon solid settings-2"></span></span>
                            <strong class="tab-title">{% trans "Account" %} <em class="tab-subtitle">{% trans "Settings" %}</em></strong>
                        {{/link-to}}
                    </li>

                    {% endblock_verbatim profile_nav_tabs %}

                </ul>

            {% endblock_verbatim profile_nav %}
            
			</div>

        	<!-- </nav> -->
		</div>
    </div>

    <div class="l-section account-details">
        <section class="l-wrapper">
            <div class="l-content">
                {# Outlet for user/profile, user/settings and user/orders #}
                {{ outlet }}
            </div>
        </section>
    </div>

</div>

{% endtplhandlebars %}