{% load bb_ember %}
{% load i18n %}


{% tplhandlebars "components/bb-multiple-selected-items" %}
    {{#bb-form-field label=label}}

        {{view App.ItemSelectView contentBinding=availableItems valueBinding=selectedItem promptBinding=prompt}}

        <ul>
        {{#each item in selectedItems }}
            <li>
                <a {{action 'removeItem' item}}><em class="flaticon solid x-1 delete"></em></a>
                <span>{{item.name}}</span>
            </li>

        {{else}}
            <li>{% trans "No items selected" %}</li>
        {{/each}}
        </ul>

    {{/bb-form-field}}
{% endtplhandlebars %}



