{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans with sender_name=sender.mail_name receiver_name=receiver.mail_name task_title=task.title site_name=site.name project_title=task.project.title project_link=project_link edit_project_link=edit_project_link task_link=confirm_link %}

        Hello {{ receiver_name }},

        The deadline of your task is reached.
        <br><br>
        Is your task realised? Please confirm the participants.
        <br><br>
        <a href="{{ site }}{{ task_link }}">Confirm participants</a>
        <br><br>
        Too early to celebrate? By changing the deadline you can extend the task
        period. You can also choose to close the task.
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ task_link }}"
       class="action-email">{% trans 'Edit task' context 'email' %}</a>
{% endblock %}
