{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans with sender_name=sender.short_name receiver_name=receiver.short_name project_title=task.project.title task_title=task.title site_name=site.name %}

        Hi {{ receiver_name }},
        <br><br>
        You did it! The project owner {{ sender_name }} marked the task
        <i>{{ task_title }}</i> as realized. Good job!
        <br><br>
        Let's celebrate with a short comment!
    {% endblocktrans %}

    {% if survey_link %}
        {% blocktrans with link=survey_link%}
        <a href="{{ link}}">Please take a moment to fill in a survey about the impact you created<a/>
        {% endblocktrans %}

    {% endif %}

{% endblock %}

{% block action %}
    {% if survey_link %}
        <a href="{{ survey_link }}"
           class="action-email">{% trans 'Fill out survey' %}</a>

    {% else %}
        <a href="{{ site }}{{ link }}"
           class="action-email">{% trans 'Comment' context 'email' %}</a>
    {% endif %}
{% endblock %}
