{% load bb_ember i18n %}


{% tplhandlebars "_order_signup_footer" %}
    <div class="modal-fullscreen-footer">
        <span class="modal-btn-signup" href="#">
            {% trans "Have an account? You can " %}
            <a {{action "modalFlip" "orderLogin"}}>
            	{% trans "Sign in here." %}
            </a><br />
            Or 
            <a {{action "guestPayment"}}>
            	{% trans "donate as guest." %}
            </a>
        </span>
    </div>
{% endtplhandlebars %}