/* line 3, ../sass/ie.scss */
.account-achievements .account-achievements-projects {
  background-position-x: -40px;
}
/* line 6, ../sass/ie.scss */
.account-achievements .account-achievements-tasks {
  background-position-x: -40px;
}
/* line 9, ../sass/ie.scss */
.account-achievements .account-achievements-time {
  background-position-x: -40px;
}

/* line 19, ../sass/ie.scss */
.wall-form .tabs li > a:before, .wall-form .tabs li > span:before {
  position: inherit;
}

/* line 27, ../sass/ie.scss */
select {
  background-image: none\9\0;
}
/* line 30, ../sass/ie.scss */
select:hover, select:focus {
  background-image: none\9\0;
}
