/* line 3, ../sass/ie.scss */
.account-achievements .account-achievements-projects {
  background-position-x: -40px;
}
/* line 6, ../sass/ie.scss */
.account-achievements .account-achievements-tasks {
  background-position-x: -40px;
}
/* line 9, ../sass/ie.scss */
.account-achievements .account-achievements-time {
  background-position-x: -40px;
}
