<div class="container section">

        <header class="wrapper">
            <h1 class="">Thanks for your request. We'll get back to you soon!</h1>
            <h2 class="green">YOU MAKE IT WORK!</h2>
        </header>

    </div>