<fieldset>
        <ul>
            

            
        </ul>
    </fieldset>

    <fieldset>
        <ul>
            

            
        </ul>
    </fieldset>

    <fieldset>
    	<legend>
        	<strong>Amount & deadline</strong>
			<p>Be realistic and...show ambition!</p>
    	</legend>
        <ul>
            

            
        </ul>
    </fieldset>