<div class="l-section" id="home-crazy-campaign-header">
        <section class="l-wrapper">
        
            <div class="campaign-image">
                <object type="image/svg+xml" data="images/campaigns/crazy-campaign-days-2013.svg"></object>
            </div>
            
            <div class="campaign-description">
            
                <div class="project-fund">
                    <p class="project-fund-amount">
                        <strong class="amount-donated">&euro;{{localize campaign.amount_donated}}</strong> 
                        fund-raced
                    </p>
                    {{bb-progressbar class="project-fund-amount-slider" totalValue=campaign.target currentValue=campaign.amount_donated}}
                </div>
                
                
                <div class="crazy-campaign-countdown">
                    <div id="countdown">
                        <span class="digit">{h10}</span> 
                        <span class="digit">{h1}</span> 
                        <span class="digit-sep">:</span> 
                        <span class="digit">{m10}</span> 
                        <span class="digit">{m1}</span> 
                        <span class="digit-sep">:</span> 
                        <span class="digit">{s10}</span> 
                        <span class="digit">{s1}</span> 
                    </div>
                </div>
        
                <p class="crazy-campaign-intro">
                    <p> The Crazy Campaign Days: 20 teams who will fund 20 world-changing projects within 5 days. Totally crazy!</p>
                    <a>Pick a crazy fund-racer and support</a>
                </p>
            </div>
             
        </section>
    </div>