{{render "monthlyProjectSearchForm"}}
    <article>
        <header>
            <ul id="search-results">
                {{#each project in model}}
                    {{render "monthlyProjectPreview" project}}
                {{else}}
                    <li class="no-results">No projects found.</li>
                {{/each}}
            </ul>
            </header>
    </article>