<fieldset>
        <legend>
            <strong>Woohoo, your pitch was accepted!</strong>
        </legend>
        <div class="fieldset-content">
            <p>To complete your project plan, please fill in the empty spaces. Are there still some gaps? Don’t worry! We have a community full of people that are willing to help you. The only thing you need to do is create a 1%Skills task ask for the right expertise.</p>
        </div>
    </fieldset>

    {{#if project.coach}}
        <fieldset>
            <legend>
                <strong>Project Coach</strong>
            </legend>
            <div class="fieldset-content">
                <p>Meet <strong>{{project.coach.first_name}}</strong>, who's ready to guide you through writing your ProjectPlan.
                    <br>
                    <a>
                        <figure class="member-avatar"><img></figure>
                        <strong class="member-name">{{project.coach.full_name}}</strong>
                    </a>
                </p>
            </div>
        </fieldset>
    {{/if}}

    {{#linkTo "myProjectPlan.basics" class="btn btn-iconed btn-next"}}<span class="flaticon solid right-2"></span>Next{{/linkTo}}

    {{partial "my_project_tasks_and_updates"}}