<legend>
        <strong>Project location</strong>
        <p>So where is it all happenin'?</p>
    </legend>

    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label">Country</label>
                <div class="controls">
                    {{view App.ProjectCountrySelectView valueBinding="country" classBinding="errors.country.length:error"}}
                </div>
                {{#if errors.country}}
                    <div class="has-errors">{{#each errors.country}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
            <li class="control-group has-popover" data-content="Select the location on the map. You can use the search to find your location.">
                <label class="control-label">Location</label>
                <div class="controls wide">
                    {{view App.MapPicker longitudeBinding="longitude" latitudeBinding="latitude" classBinding="errors.location.length:error"}}
                </div>
            </li>
        </ul>
    </fieldset>

    {{#if isDirty}}
        <button><span class="flaticon solid right-2"></span>Save & Next</button>
    {{else}}
        <button><span class="flaticon solid right-2"></span>Next</button>
    {{/if}}