<div class="l-wrapper">

            <nav class="manage-project-sidebar">
                <h4><span class="flaticon solid notebook-1"></span> Project Story </h4>
                <ul class="manage-project-nav">
                    <li>
                        {{#linkTo "myProjectPlan.basics"}}
                            <em></em>
                            Project Basics
                        {{/linkTo}}
                    </li>
                    <li>
                        {{#linkTo "myProjectPlan.description"}}
                            <em></em>
                            Project Description
                        {{/linkTo}}
                    </li>
                    <li>
                        {{#linkTo "myProjectPlan.location"}}
                            <em></em>
                            Location
                        {{/linkTo}}
                    </li>
                    <li>
                        {{#linkTo "myProjectPlan.media"}}
                            <em></em>
                            Media
                        {{/linkTo}}
                    </li>
                </ul>

                <h4><span class="flaticon solid briefcase-1"></span> Organisation</h4>
                <ul class="manage-project-nav">
                    <li>
                        {{#linkTo "myProjectPlan.organisation"}}
                            <em></em>
                            Organisation Profile
                        {{/linkTo}}
                    </li>
                    {{#if organization}}
                    <li>
                        {{#linkTo "myProjectPlan.legal"}}
                            <em></em>
                            Legal Status
                        {{/linkTo}}
                    </li>
                    
                    {{/if}}

                {{#if needsFunding}}
                    <h4><span class="flaticon solid wallet-1"></span> Crowdfunding</h4>
                    <ul class="manage-project-nav">
                        <li>
                            {{#linkTo "myProjectPlan.campaign"}}
                                <em></em>
                                Start Campaign
                            {{/linkTo}}
                        </li>
                        <li>
                            {{#linkTo "myProjectPlan.budget"}}
                                <em></em>
                                Budget
                            {{/linkTo}}
                        </li>
                        {{#if organization}}
                        <li>
                            {{#linkTo "myProjectPlan.bank"}}
                                <em></em>
                                Bank details
                            {{/linkTo}}
                        </li>
                        {{/if}}
                {{/if}}

                {{#linkTo "myProjectPlan.submit" class="btn btn-iconed btn-primary btn-submit"}}
                    <span class="flaticon solid right-2"></span>
                    Submit Plan
                {{/linkTo}}

            </nav>

            <form class="l-content">
                {{outlet}}
            </form>

        </div>