<fieldset>
        <legend>
        	<strong>Get ready to write your pitch!</strong>
			<p>Time to pitch your smart idea because we just can’t wait to hear about it! Make sure your story is positive, convincing and compelling. Fill in the Projects Basics, Location and a Picture. Need more tips and tricks to blow us away with your pitch? Check out our <a href="/#!/pages/faq-projects">FAQ</a>.</p>
        </legend>
    </fieldset>

    {{#linkTo "myProjectPitch.basics" class="btn btn-iconed btn-next"}}<span class="flaticon solid right-2"></span>Next{{/linkTo}}