<div class="l-wrapper">

        <div class="manage-project-sidebar">

            <h4><em class="flaticon solid lightbulb-3"></em>Project Pitch</h4>

            <ul class="manage-project-nav">
                <li>
                    {{#linkTo "myProjectPitch.basics"}}
                        <em></em>
                        Project Basics
                    {{/linkTo}}
                </li>
                <li>
                    {{#linkTo "myProjectPitch.location"}}
                        <em></em>
                        Location
                    {{/linkTo}}
                </li>
                <li>
                    {{#linkTo "myProjectPitch.media"}}
                        <em></em>
                        Media
                    {{/linkTo}}
                </li>
            </ul>

            {{#linkTo "myProjectPitch.submit" class="btn btn-iconed btn-primary btn-submit"}}
                <span class="flaticon solid right-2"></span>
                Submit Pitch
            {{/linkTo}}
        </div>

        <form class="l-content">
            {{outlet}}
        </form>
    </div>