<div class="l-wrapper">
        <article class="l-content">
            <header class="l-page-header">
                <h2>We're sorry, your pitch has been rejected</h2>
                <p>Please contact us if you need support to define your smart idea.</p>
            </header>
        </article>
    </div>