<div class="l-wrapper ">
        <article class="l-content">
            <header class="page-header">
                <h2>Yeah! Your plan has been approved.</h2>
                <p>You can start your  {{#linkTo "myProjectCampaign"}}Campaign{{/linkTo}}</p>
            </header>
        </article>
    </div>