<div class="l-wrapper">
        <article class="l-content">
            <header class="l-page-header">
                <h2>Yeah! Your pitch has been approved</h2>
                <p>You can write your {{#linkTo myProjectPlan}}Project Plan{{/linkTo}}!</p>
            </header>
        </article>
    </div>