<legend>
        <strong>Submit Plan</strong>
    </legend>

    <fieldset>

        <div class="fieldset-content">

            <h3>Check!</h3>
            
                Make sure that you filled out the entire form and that all items to the left have a <span class="flaticon solid checkmark-2"></span> check sign.
                If one of the items still shows a circle then that still needs some work.
            
        </div>

        <ul>
            <li class="control-group has-popover" data-content="Agree to the terms to submit the plan">
                <div class="controls wide">
                    <label class="checkbox wide">{{view Em.Checkbox checkedBinding="agreed" classBinding="errors.agreed.length:error"}} <span>I agree to the  <a>general terms and conditions</a></span></label>
                </div>
            </li>
        </ul>
    </fieldset>

    {{#if agreed}}
        <button><span class="flaticon solid right-2"></span>Submit plan</button>
    {{else}}
        <button><span class="flaticon solid right-2"></span>Submit plan</button>
    {{/if}}