<div class="l-wrapper">
        <article class="l-content">
            <header class="l-page-header">
                <h2>Your pitch is in review now</h2>
                <p>We'll get back to you soon!</p>
            </header>
        </article>
    </div>