<div class="l-section" id="news">
    <section class="l-wrapper">
    
	        <article class="l-content">
	            {{outlet}}
	        </article>
    	
	        <sidebar class="l-sidebar page-nav">
	        
                <h3>More news</h3>
	            <ul>
	                {{#each model}}
	                    <li>
	                        <a>
	                            <strong class="blog-title">{{title}}</strong> <em class="blog-timestamp">{{localize publicationDate formatting="X"}}</em>
	                        </a>
	                    </li>
	                {{/each}}
	            </ul>
	            
	            <div class="page-pagination">
		            {{#if controller.hasPrevious}}
		                <a>
		                    <span class="flaticon solid left-circle-2"></span>
		                    previous 5
		                </a>
		            {{/if}}
		            {{#if controller.hasNext}}
		                <a>
		                    next 5
		                    <span class="flaticon solid right-circle-2"></span>
		                </a>
		            {{/if}}
	            </div>
	            
	        </sidebar>
    	</div>
    </section>
</div>