{{# if isProjectOwner}}
    <div class="owner-actions">

        <header>
            <h3>You're the project owner</h3>
            <p>You can add a new task.</p>
        </header>

        {{#linkTo 'projectTaskNew' class="btn btn-primary btn-iconed task-add"}}
            <span class="flaticon solid plus-1"></span>
            Add a task
        {{/linkTo}}
    </div>
    {{/if}}

    <ul id="search-results">
        {{#each task in controller}}
            {{render taskPreview task}}
        {{else}}
            <li class="no-results">No tasks currently available for this project.</li>
        {{/each}}
    </ul>