<legend>
        <p>Are you sure you want to apply to this task?</p>
    </legend>
    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label wide" for="motivation">Motivation</label>

                <div class="controls wide">
                    {{view Ember.TextArea valueBinding="view.motivation" name="motivation" classBinding="errors.motivation.length:error"}}
                </div>
            </li>
        </ul>
    </fieldset>