<fieldset>
       <ul>
            <li class="control-group">
                <label for="wallpost-update" class="control-label">Comment</label>

                <div class="controls">
                    {{view Ember.TextArea valueBinding="text" cols="50" rows="4" name="wallpost-update" id="wallpost-update"}}
                </div>

                {{#if errors.text}}
                    <div class="has-errors">{{#each errors.text}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    <button class="btn btn-iconed"><span class="flaticon solid thinking-comment-1"></span>Comment</button>