{{#linkTo "project" project}}
        <img {{bindAttr src="project.image_square" alt="project.title"}} class="project-image"  />
        <h1>{{project.title}} <em class="country"><i class="icon-globe"></i> {{project.country.name}}</em></h1>
    {{/linkTo}}
    <div class="donation-amount">
        <div class="amount-needed">
            
            <strong>&euro; {{project.campaign.money_needed}}</strong> is still needed
        </div>
    </div>