<div class="container section voucher-banner">

        <header class="wrapper">
            <div class="voucher-banner-title">
                <h1 class="">Give</h1>
                <h1 class="">a gift</h1>
                <h1 class="">that keeps on giving</h1>
                <h1 class="pink">Give a</h1>
                <h1 class="pink">1%GIFTCARD </h1>
            </div>

            <div class="voucher-banner-calltoaction">


                {{#linkTo "voucherRedeem" class="btn btn-large btn-iconed"}}
                    <i class="icon icon-credit-card"></i>

                    <div class="btn-content">
                        <div class="btn-title">I received a 1%GIFTCARD</div>
                        <div class="btn-subtitle">Support a project by cashing your voucher</div>
                    </div>
                {{/linkTo}}



                {{#linkTo "currentOrder.voucherList" class="btn btn-large btn-iconed btn-primary"}}
                    <i class="icon icon-gift"></i>

                    <div class="btn-content">
                        <div class="btn-title">I'd like to buy a 1%GIFTCARD</div>
                        <div class="btn-subtitle">Order your digital email-vouchers right here!</div>
                    </div>

                {{/linkTo}}

                <p class="text-right voucher-custom">
                    <i class="icon icon-certificate"></i> Need a (large) batch or custom cards?
                    {{#linkTo "customVoucherRequest"}}
                        Contact us!
                    {{/linkTo}}
                </p>
            </div>
        </header>

    </div>

    <div class="container">
        <section class="wrapper">
            <ul class="voucher-instructions">
                <li>
                    <div class="voucher-ins-step">1</div>
                    <h2>Give</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta, nisi a fermentum vehicula, sapien dui facilisis arcu, in ullamcorper nisl purus id neque.</p>
                </li>

                <li>
                    <div class="voucher-ins-step">2</div>
                    <h2>Choose</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta, nisi a fermentum vehicula, sapien dui facilisis arcu, in ullamcorper nisl purus id neque.</p>
                </li>

                <li>
                    <div class="voucher-ins-step">3</div>
                    <h2>Follow</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta, nisi a fermentum vehicula, sapien dui facilisis arcu, in ullamcorper nisl purus id neque.</p>
                </li>
            </ul>
        </section>
    </div>