{{#if model.length}}
        <ul class="reactions">
            {{#each controller itemController="wallPostReaction"}}
                {{view "App.WallPostReactionView" content=this}}
            {{/each}}
        </ul>
    {{/if}}
    
    {{#if controllers.currentUser.isAuthenticated}}
    <form class="reaction-form">
        <fieldset>
            <ul>
            <li>
                <span class="member-avatar">
                    <img>
                </span>

                {{#each errors.text}}
                    <span class="error">{{this}}</span>
                {{/each}}
                {{view "Em.TextArea" placeholder="Comment"  valueBinding="newReaction.text" name="reaction" class="newReaction"}}
                
                <button class="btn" type="submit" id="reaction-post">Post</button>
            </li>
            </ul>
        </fieldset>
    </form>
    {{else}}
        <div class="login-box"><a>Login</a> or become a {{#linkTo "signup"}}member{{/linkTo}} to leave a reaction.</div>
    {{/if}}