{% extends "mails/messages/activity_base.html" %}
{% load i18n %}
{% block message %}
<p>
    {% blocktrans context 'platform-email' %}The start and/or end date of the activity "{{ title }}", in which you are participating, has changed.{% endblocktrans %}
</p>
<p>
    {% blocktrans context 'platform-email' %}Start: {{ start }}{% endblocktrans %}<br/>
    {% blocktrans context 'platform-email' %}End: {{ end }}{% endblocktrans %}
</p>
<p>
    {% blocktrans context 'platform-email' %}Head over to the activity page for more information.{% endblocktrans %}
</p>
{% endblock %}


{% block end_message %}
  {% include 'mails/messages/partials/withdraw_notification.html' %}
{% endblock %}