{% extends "mails/messages/activity_base.html" %}
{% load i18n %}
{% block message %}
<p>
    {% blocktrans context 'platform-email' %}You joined an activity on <b>{{ site_name }}</b>{% endblocktrans %}
</p>

<p>
    <b>{{ title }}</b>
</p>

<p>
{% if start %}
    {% blocktrans context 'platform-email' %}Starts on {{ start }}{% endblocktrans %}
{% endif %}
{% if end %}
    {% blocktrans context 'platform-email' %}Ends on {{ end }}{% endblocktrans %}
{% endif %}
</p>
{% endblock %}

{% block end_message %}
  {% include 'mails/messages/partials/withdraw_notification.html' %}
{% endblock %}

