{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message%}
    <p>
        {% blocktrans context 'platform-email' %}Unfortunately, nobody applied to your activity "{{ title }}" before the deadline to apply. That’s why we have cancelled your activity.{% endblocktrans %}
    </p>

    <p>
        {% blocktrans context 'platform-email' %}Don’t worry, you can always create a new activity and try again.{% endblocktrans %}
    </p>

    <p>
        {% blocktrans context 'platform-email' %}Need some tips to make your activity stand out? Reach out to the platform manager by replying to this email.{% endblocktrans %}
    </p>
{% endblock %}
