{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message%}
    <p>
        {% blocktrans context 'platform-email' %}Unfortunately, no one signed up for your activity "{{ title }}" before the deadline passed. That’s why we have cancelled the activity.{% endblocktrans %}
    </p>

    <p>
        {% blocktrans context 'platform-email' %}No worries, you can always reopen the activity by extending the deadline or start a new activity and try again.{% endblocktrans %}
    </p>

    <p>
        {% blocktrans context 'platform-email' %}Do you need tips to make your activity stand out? Get in touch with the platform manager by replying to this email.{% endblocktrans %}
    </p>
{% endblock %}
