{% extends "base.mail.html" %}
{% load djmoney %}
{% load i18n %}
{% block content %}
<p class="donation-intro">
    {% blocktrans context 'email' %} Hi {{ recipient_name }},<br />
    Thanks for your donation! {% endblocktrans %}
</p>

{% include 'mails/messages/partials/donation_receipt.html' %}
{% if pledged %}
<p class="twelve columns">
    {% blocktrans with amount=obj.amount %}
    <strong>Please transfer the amount of {{ amount }} to "{{ title }}".</strong><br />
    {% endblocktrans %}
</p>
{% endif %}
{% endblock content %}
