{% extends "base.mail.html" %}
{% load money %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans with first_name=obj.user.first_name context 'email' %}
        Thanks {{first_name}}, for your donation! Be sure to follow the project page for the latest updates on the project.
        Give some extra support and share this project with your network.
        {% endblocktrans %}
    </p>
    
    <table class="donation-table twelve columns">
        <tr class="donation-table-row">
            <th class="donation-title">
                {% trans "Donation" %} {% if obj.reward %} - {{obj.reward.title}} {% endif %}
            </th>
            <th class="donation-amount">{{ obj.amount|format_money }}</th>
            <tr class="donation-location">
                <td><a href="{{obj.activity.get_absolute_url}}">{{obj.activity.title}}</a></td>
            </tr>
        </tr>
        <tr class="donation-table-row">
            <tr class="donation-table-address">
                {%  if not obj.anonymous %}
                    <td>
                        {% if not obj.anonymous and 'members.api_read_full_member' in to.get_all_permissions %}
                            {{obj.user.full_name}} <br />
                        {% else %}
                            {{obj.user.first_name}} <br />
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    <table>
                        <tr class="order-block">
                            <td>{% trans "Date" %}</td>
                            <td nowrap="true">{{obj.created}}</td>
                        </tr>
                        <tr class="order-block">
                            <td>{% trans "Order" %}</td>
                            <td>{{obj.id}}</td>
                        </tr>
                        <tr class="order-block">
                            <td>{% trans "Initiator" %}</td>
                            <td>{{obj.activity.initiative.owner.full_name}}</td>
                        </tr>
                        {% if obj.project.organization %}
                        <tr class="order-block">
                            <td>{% trans "Organization" %}</td>
                            <td>{{obj.activity.initiative.organization.name}}</td>
                        </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        </tr>


    </table>

    {% if pledged %}
        <p class="twelve columns">
            {% blocktrans with amount=obj.amount|format_money title=obj.activity.title %}
                <strong>Please transfer the amount of {{ amount }} to "{{ title }}".</strong><br />
            {% endblocktrans %}
        </p>
    {% endif %}
    {% if SHARE_OPTIONS.facebook or SHARE_OPTIONS.twitter %}
        <table class="donation-table-share twelve columns">
            <tr class="donation-table-share-title">{% trans "Support even more by sharing the project with your network:" %}</tr>
            <tr class="donation-share-buttons">
                <td>
                    {% if SHARE_OPTIONS.facebook %}
                        <a class="action-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site}}{{link}}">
                            {% trans 'Share on facebook' %}
                        </a>
                    {%  endif %}
                    {% if SHARE_OPTIONS.twitter %}
                        <a class="action-twitter" href="https://twitter.com/intent/tweet?url={{site}}{{link}}">
                            {% trans 'Share on Twitter' %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock content %} 
