{% extends "base.mail.html" %}
{% load i18n %}
{% load message_url}

{% block content %}
{% blocktrans context 'email' %}
Hi {{ recipient_name }},
<br><br>
Nice! You just received a new donation. Why not head over to your campaign page and say thanks?
{% endblocktrans %}

{% include 'mails/messages/partials/donation_receipt.html' %}

{% endblock %}

{% block action %}
    <a href="{% message_url obj.activity.get_absolute_url %}" class="action-email">
       {% trans 'Go to campaign' context 'email' %}
    </a>
{% endblock %}`
