{% extends "base.mail.html" %}
{% load money %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans with recipient_name=obj.owner.first_name title=obj.activity.title context 'email' %}
            Hi {{ recipient_name }},<br/>
            Congrats! Your funding deadline for <i>{{title}}</i> has passed and you’ve successfully reached your funding goal.
            Head over to your campaign page and thank your awesome backers for their support.
        {% endblocktrans %}
    </p>
{% endblock content %} 

{% block action %}
    <a href="{{ site }}{{ obj.activity.get_absolute_url }}" class="action-email">
       {% trans 'Go to campaign' context 'email' %}:
    </a>
{% endblock %}`
