{% extends "base.mail.html" %}
{% load money %}
{% load i18n %}

{% block content %}
<p class="donation-intro">
{% if obj.goals.count %}
{% blocktrans with recipient_name=to.first_name funding_title=obj.title context 'email' %}
Hi {{ recipient_name }},
<br><br>
    Well done, your funding campaign <i>{{ funding_title }}</i> has succeeded. Congratulations!<br>
A couple of things we would like to ask from you:<br>
<ol>
    <li>Add your impact results</li>
    <li>Post an update to celebrate with the people who helped you out</li>
</ol>
{% endblocktrans %}
{% else %}
{% blocktrans with recipient_name=obj.owner.first_name funding_title=obj.title context 'email' %}
    Hi {{ recipient_name }},<br/>
    Congrats! Your funding deadline for <i>{{funding_title}}</i> has passed and you’ve successfully reached your funding goal.
    Head over to your campaign page and thank your awesome backers for their support.
{% endblocktrans %}
{% endif %}
</p>
{% endblock content %} 

{% block action %}
    <a href="{{ obj.get_absolute_url }}" class="action-email">
       {% trans 'Go to campaign' context 'email' %}
    </a>
{% endblock %}`
