{% extends "base.mail.html" %}
{% load djmoney %}
{% load i18n %}
{% load message_url}

{% block content %}
    <p class="donation-intro">
        {% blocktrans context 'email' %}
            Hi {{ recipient_name }},
            <br><br>
            Unfortunately your campaign “{{ title }}” has been cancelled.
            <br><br>
            If you have any questions, you can contact the platform manager by replying to this email.
        {% endblocktrans %}
    </p>
{% endblock content %} 
{% block action %}
    <a href="{% message_url obj.get_absolute_url %}" class="action-email">
       {% trans 'Go to campaign' context 'email' %}
    </a>
{% endblock %}`
