{% extends "base.mail.html" %}
{% load djmoney %}
{% load i18n %}
{% load message_url %}

{% block content %}
<p class="donation-intro">
{% if obj.goals.count %}
{% blocktrans context 'email' %}
  Hi {{ recipient_name }},
  <br><br>
  Congratulations, your funding deadline for "{{ title }}" has passed and you've successfully reached your funding goal!<br>
  Head over to your campaign page and:<br>
  <ol>
      <li>Enter the impact the campaign made, so that everybody can see how effective your campaign was.</li>
      <li>Thank your awesome backers for their donations and support. </li>
  </ol>
{% endblocktrans %}
{% else %}
{% blocktrans context 'email' %}
    Hi {{ recipient_name }},
    <br><br>
    Congratulations, your funding deadline for "{{ title }}" has passed and you've successfully reached your funding goal!<br>
    Head over to your campaign page and thank your awesome backers for their donations and support.<br>
{% endblocktrans %}
{% endif %}
</p>
{% endblock content %} 

{% block action %}
    <a href="{% message_url obj.get_absolute_url %}" class="action-email">
       {% trans 'Go to campaign' context 'email' %}
    </a>
{% endblock %}`
