{% extends "base.mail.html" %}
{% load djmoney %}
{% load i18n %}
{% load message_url}

{% block content %}
    <p class="donation-intro">
        {% blocktrans context 'email' %}
            Hi {{ recipient_name }},
            <br><br>
            Congratulations! Your campaign “{{ title }}” has been approved. This means that your campaign is open for donations.
            <br><br>
            Share your campaign to attract donations!
        {% endblocktrans %}
    </p>
{% endblock content %} 
{% block action %}
    <a href="{% message_url obj.get_absolute_url %}" class="action-email">
       {% trans 'Go to campaign' context 'email' %}
    </a>
{% endblock %}`
