{% extends "base.mail.html" %}
{% load djmoney %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans with recipient_name=obj.owner.first_name title=obj.title context 'email' %}
            Hi {{ recipient_name }},
            <br><br>
            The deadline for your campaign “{{ title }}” has been extended. This means that your campaign is open for new donations.
            <br><br>
            Share your campaign to attract new donations!

        {% endblocktrans %}
    </p>
{% endblock content %} 
{% block action %}
    <a href="{{ obj.get_absolute_url }}" class="action-email">
       {% trans 'Go to campaign' context 'email' %}
    </a>
{% endblock %}`
