{% extends "base.mail.html" %}
{% load djmoney %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans with recipient_name=to.first_name %}
            Hi {{ recipient_name }},<br/>
           

            We have received some feedback on your identity verification. 
            Please check out the comments and make the appropriate changes. 

            When you’re ready, you can submit your identity verification again and we’ll make sure it’s reviewed.
        {% endblocktrans %}
    </p>
{% endblock content %} 

{% block action %}
    <a href="{{ site }}/initiatives/activities/funding/kyc" class="action-email">
       {% trans 'Update your data' context 'email' %}:
    </a>
{% endblock %}`
