{% extends "base.mail.html" %}
{% load djmoney %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans context 'email' %}
            Hi {{ recipient_name }},<br/>
            <br/>
            We have need addiotional information in order to verify your account. <br/>
            <br/><br/>
            When you’re ready, you can submit your identity verification again and we’ll make sure it’s reviewed.
        {% endblocktrans %}
    </p>
    <p class="important">
        {% blocktrans context 'email' %}
            If you fail to complete your identity verification we won't be able to payout your crowdfunding campaign.
            All donations will be returned to your supporters!
        {% endblocktrans %}
    </p>
{% endblock content %}

{% block action %}
    <a href="{{ site }}/activities/stripe/kyc/{{ obj.pk }}" class="action-email">
       {% trans 'Provide additional data' context 'email' %}
    </a>
{% endblock %}`
