{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans context 'email' %}
            Hi {{ recipient_name }},
            <br/>
            <br/>
            You are working on a crowdfunding campaign on {{ site_name }}.
            <br/>
            <br/>
            Earlier, you submitted information to verify your identity, but unfortunately, this was not successful.
            This could be due to various reasons. Please check the link below to make sure your details are correct.
            If you still have problems, contact the platform manager at {{ contact_email }}.
            <br/>
            <br/>
            Please do this as soon as possible to avoid issues with your campaign or to resolve them quickly.
        {% endblocktrans %}
    </p>
{% endblock content %}

{% block action %}
    <a href="{{ site }}/activities/stripe/kyc/{{ obj.pk }}" class="action-email">
       {% trans 'Check your details' context 'email' %}
    </a>
{% endblock %}`
