{% load i18n bb_ember %}


{% tplhandlebars "_order_payment_errors" %}
    {{#if errors}}
        <div class="modal-flash-message error">
            {{errors.detail}}
        </div>
    {{/if}}
    
    {{#if validationErrors}}
        <div class="modal-flash-message error">
            {{validationErrors.error}}
        </div>
    {{/if}}
{% endtplhandlebars %}
