{% extends "base.mail.html" %}
{% load i18n %}
{% load message_url %}

{% block content %}
{% if body_html %}
    {{ body_html }}
{% else %}
{% blocktrans %}
<h1>Welcome {{ first_name }}</h1>
<p class="lead">Welcome to {{ site_name }}, great to have you here.</p>
{% endblocktrans %}
{% blocktrans %}
<p>To get started, activate your account by setting your password and completing your profile.</p>
{% endblocktrans %}
{% blocktrans %}
<p>The link below is valid for 24 hours.</p>
{% endblocktrans %}
{% endif %}
{% endblock %}

{% block action %}
{% if token %}

{% with url='/auth/set-password/?token='|add:uid|add:'-'|add:token %}
<a href={% message_url url %}"
       class="action-email">{% trans 'Activate account' context 'email' %}</a>
{% endwith %}
{% else %}
    <a href="{% message_url %}"
           class="action-email">{% trans "Take me there" context 'email' %}</a>
{% endif %}
{% endblock %}
