{% extends "base.mail.html" %}
{% load i18n %}
{% load message_url %}

{% block content %}
{% if body_html %}
    {{ body_html }}
{% else %}
{% blocktrans %}
<h1>Welcome {{ first_name }}</h1>
<p class="lead">You’re now officially part of the {{ site_name }} community. Connect, share and work with others on initiatives that you care about.</p>
{% endblocktrans %}
{% blocktrans %}
<p>If you have any questions please don’t hesitate to contact {{ contact_email }}</p>
{% endblocktrans %}
{% endif %}
{% endblock %}

{% block action %}
{% if token %}

{% with url='/auth/set-password/?token='|add:uid|add:'-'|add:token %}
<a href={% message_url url %}"
       class="action-email">{% trans 'Set password' context 'email' %}</a>
{% endwith %}
{% else %}
    <a href="{% message_url %}"
           class="action-email">{% trans "Take me there" context 'email' %}</a>
{% endif %}
{% endblock %}
