{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
<p>
    {% blocktrans context 'platform-email' %}Hi,{% endblocktrans %}
</p>

{% blocktrans with context='platform-email' %}
<p>Welcome to the {{ site_name }} community.<p>
<p>
    Click the link below to create a password and activate your account.
</p>
<p>
    The link will expire in 24 hours.
</p>
{% endblocktrans %}
{% endblock %}

{% block action %}
<a href="{{site}}/auth/confirm/?token={{custom_message.token}}&email={{to.email}}&url={{custom_message.url}}&segmentId={{custom_message.segment_id}}"
       class="action-email">{% trans 'Create your password' context 'platform-email' %}</a>
{% endblock %}`
