# flake8: noqa
import sys

from .base import *

LIVE_PAYMENTS_ENABLED = False

SECRET_KEY = 'secret'

ALLOWED_HOSTS = ['*']

SUPPORT_EMAIL_ADDRESSES = [
    'support@example.com',
    'helpdesk@example.com',
]

SESSION_COOKIE_SECURE = False

TESTING = len(sys.argv) > 1 and sys.argv[1] in ['test', 'behave']

MULTI_TENANT_DIR = os.path.join(PROJECT_ROOT, 'tenants')
MULTI_TENANT_DIST_DIR = MULTI_TENANT_DIR

SEND_MAIL = True

DATABASE_ROUTERS = (
    'tenant_schemas.routers.TenantSyncRouter',
)


STRIPE = {
    'webhook_secret': 'dummy',
    'webhook_secret_sources': 'dummy',
    'webhook_secret_intents': 'dummy',
    'webhook_secret_connect': 'dummy',
    'publishable_key': 'dummy',
    'api_key': 'dummy',
}


if TESTING:

    from .testing import *

    # Selenium settings
    SELENIUM_TESTS = True
    SELENIUM_WEBDRIVER = 'chrome'
    SOUTH_TESTS_MIGRATE = False
    EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

DATABASES = {
    'default': {
        'ENGINE': 'bluebottle.clients.postgresql_backend',
        'HOST': '',
        'PORT': '',
        'NAME': 'reef',
        'USER': '',
        'PASSWORD': ''
    },
}

CSRF_COOKIE_SECURE = False
CSRF_COOKIE_HTTPONLY = False

TEMPLATE_DIRS = []

BROKER_BACKEND = 'memory'
CELERY_MAIL = False
CELERY_IGNORE_RESULT = False

CELERY_RESULT_BACKEND = 'amqp'
CELERY_TASK_RESULT_EXPIRES = 300

DEBUG = True

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.filebased.FileBasedCache',
        'LOCATION': '/var/tmp/django_cache',
    }
}

AXES_CACHE = 'default'

INTERNAL_IPS = ['127.0.0.1',]

EXPORTDB_USE_CELERY = False
GOODUP_TRANSLATIONS_PATH = os.path.join(os.path.dirname(PROJECT_ROOT), 'server-deployment',  'translations')

LOCALE_PATHS = [
    os.path.join(os.environ['GOODUP_TRANSLATIONS_PATH'], 'base')
]
