{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans context 'email' %}
            Hi {{ recipient_name }},
            <br/><br/>
            For an ongoing crowdfunding campaign, identity verification failed.
            <br/><br/>
            Identity verification is required for processing the payout of the campaign.
            If the verification fails, we cannot process the payout. In that case, all donations will be returned to the supporters.
        {% endblocktrans %}
    </p>
{% endblock content %}

{% block action %}
    <a href="{{ site }}/admin/funding/payoutaccount/{{ id }}" class="action-email">
       {% trans 'Check payout account' context 'email' %}
    </a>
{% endblock %}`
