{% extends "jet:admin/base.html" %}
{% load i18n %}
{% load static %}
{% load jet_tags %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "/admin/css/dashboard.css" as url %}{{ url|jet_append_version }}" />
{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{% static "/admin/js/dashboard.js" as url %}{{ url|jet_append_version }}"></script>

  <script defer data-domain="all-platforms-admin" src="https://plausible.io/js/script.js"></script>
{% endblock %}

{% block welcome-msg %}
    {% trans 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}

{% block pretitle %}
    {% if user.is_authenticated %}
        <div class="site-title">
            {{ tenant.name }}
          {% if user.region_manager %}
            - {{ user.region_manager.name }}
          {%  endif %}
        </div>
    {% else %}
        <div class="site-title site-title-login">
            <img class="site-title-logo" alt="GoodUp Logo" src="{% static "/admin/images/logo_goodup.png" %}" />
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}
<form id="admin-logout-form" method="POST" action="{% url 'admin:logout' %}">
    {% csrf_token %}
</form>
{% endblock %}



{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{% trans 'View site' %}</a> 
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    {% if user.otp_device %}
    <a href="{% url 'two_factor:profile' %}">{% trans "Two factor authentication" %}</a>
    {% else %}
    <a href="{% url 'two_factor:setup' %}">{% trans "Enable two factor authentication" %}</a>
    {% endif %}

    <a onclick="document.getElementById('admin-logout-form').submit()">{% trans 'Log out' %}</a>
{% endblock %}

{% block nav-global %}
    {% if user.is_active and user.is_staff %}
        <a href="{% url 'admin:members_member_changelist' %}" class="sidebar-link icon">
            <span class="sidebar-link-label">
                <span class="sidebar-link-icon bb-icon-user"></span>
                {% trans 'Users' %}
            </span>
        </a>
        <a href="{% url 'admin:initiatives_initiative_changelist' %}" class="sidebar-link icon">
            <span class="sidebar-link-label">
                <span class="sidebar-link-icon bb-icon-project"></span>
                {% trans 'Initiatives' %}
            </span>
        </a>
        <a href="{% url 'admin:activities_activity_changelist' %}" class="sidebar-link icon">
            <span class="sidebar-link-label">
                <span class="sidebar-link-icon bb-icon-task"></span>
                {% trans 'Activities' %}
            </span>
        </a>
        <a href="https://support.goodup.com" target="_blank" class="sidebar-link icon">
            <span class="sidebar-link-label">
                <span class="sidebar-link-icon bb-icon-customer-support"></span>
                {% trans 'Support Centre' %}
            </span>
        </a>
    {% endif %}
{% endblock %}
