{% extends 'jet:admin/base.html' %}
{% load i18n static jet_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% jet_get_current_theme as THEME %}
{% jet_get_current_version as JET_VERSION %}

{% block branding %}
    <img src="{% static 'images/logo_goodup.png' %}" style="height: 50px" alt="Logo">
{% endblock %}

{% block userlinks %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block nav-global %}
    <a href="{% url 'analytics-index' %}" class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon icon-book"></span>
            {% trans 'Analytics' %}
        </span>
    </a>
    <a href="{% url 'admin:members_member_changelist' %}" class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon icon-book"></span>
            {% trans 'Members' %}
        </span>
    </a>
    <a href="{% url 'admin:projects_project_changelist' %}" class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon icon-book"></span>
            {% trans 'Projects' %}
        </span>
    </a>
    <a href="{% url 'admin:projects_project_changelist' %}" class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon icon-book"></span>
            {% trans 'Tasks' %}
        </span>
    </a>
    <a href="{% url 'admin:donations_donation_changelist' %}" class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon icon-book"></span>
            {% trans 'Donations' %}
        </span>
    </a>
{% endblock %}

