[flake8]
ignore = E731,E402
max-line-length = 120
exclude =
    **/migrations/*,
    docs,
    build,
    bluebottle/accounting,
    bluebottle/journals,
    bluebottle/terms,
    bluebottle/test,
    bluebottle/utils,
    bluebottle/sepa,
    bluebottle/settings,
    bluebottle/slides,
    bluebottle/social,
    bluebottle/votes,
    bluebottle/wallposts
