[flake8]
ignore = E731,E402
max-line-length = 120
exclude =
    **/migrations/*,
    docs,
    build,
    bluebottle/accounting,
    bluebottle/journals,
    bluebottle/social,
    bluebottle/votes,
    bluebottle/wallposts
