dist: xenial
sudo: false
language: python
addons:
  postgresql: "9.4"
  apt:
    packages:
      - libxmlsec1
      - libxmlsec1-dev
      - libgdal-dev
      - swig
      - openjdk-8-jdk-headless
cache:
  apt: true
  pip: true
  directories:
    - "$HOME/.cache/pip/"
    - "$HOME/virtualenv/python2.7.15/lib/python2.7/site-packages"
python: 2.7
services:
  - elasticsearch
  - postgresql
env:
  global:
  - DJANGO_SETTINGS_MODULE='bluebottle.settings.testing'
before_install:
  - curl -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.6.0.deb && sudo dpkg -i --force-confnew elasticsearch-6.6.0.deb && sudo service elasticsearch restart
install:
  - pip install --upgrade pip
  - pip install --upgrade wheel setuptools mercurial
  - pip install --upgrade -I flake8==2.6.2
  - pip install -e .[test] --trusted-host github.com
before_script:
  - flake8
  - createdb test_bluebottle_test
  - psql test_bluebottle_test < testdata.sql
script:
  - python -m coverage run --parallel-mode --source=bluebottle manage.py test --keepdb
notifications:
  slack:
    secure: TOveMBh9HePYKWuGTrWF+hTXzxGZvbVsa3KU0sB1yv6qkcixb5/ggvmkTeRddYEd/zyWyMenicFsrXVBgsP0SmbNgke6kq5+EN0U5oJWse998lvCVCpwmJQMdwDHvYsOtbFEOppQrbRK4vmH8qibx3x2YVg+u+61ePHvWYF9z6U=
after_success:
- bash post_travis.sh
- python -m coverage combine; python -m coverage report --omit **/migrations/**; coveralls
