dist: trusty
sudo: false
language: python
addons:
  apt:
    packages:
    - libxmlsec1
    - libxmlsec1-dev
    - swig
cache: pip
  - "$HOME/.cache/pip/"
  - "$HOME/virtualenv/pypy2.7-5.8.0/"
python:
- "pypy"
env:
  global:
  - DJANGO_SETTINGS_MODULE='bluebottle.settings.testing'
  # $GROUPNAME for the hipchat room name
  - secure: B05yVl8sJf8UUJuda+8VB5CV+cyuqKLTEAK0t1n/1czX+FvkyXsNdE+5b81CTjPNOQwZMzw7kbDkhq65aJpn4Ni07TWP6bpdkuX1nY6Bf+S/brLgf4wlQ+Oibj1hWhyH2iiQ9gM0ONe28/d0y/C74/ISvIDn9MYFRkuCF0Vujzo=
  # $APIKEY for the hipchat api auth
  - secure: PUYWLPG0f1QTf1Q77/0ft636ZKQaIIjy0eHZCVpzVyRMW0XX9N5UXhbTPE1fPFt5aRNdNjGIWxOF/4SuIEhYEaZamGG3PBNqvXI530SkTNUbNVoeAcTleYbwcaVWeYdyK2P2k1YdNUt+BbRuYN2o9I8+2QmQvQsZEwugCG4+UH4=
install:
- pip install --upgrade setuptools pip
- pip install --upgrade -I flake8==2.6.2
- pip install -e .[test] --process-dependency-links --trusted-host github.com
- echo `psql --version`
before_script:
- curl https://geolite.maxmind.com/download/geoip/database/GeoLiteCountry/GeoIP.dat.gz | gunzip - > GeoIP.dat
- flake8 .
script:
- pypy -m coverage run --parallel-mode --source=bluebottle manage.py test --parallel=8
notifications:
  hipchat:
    rooms:
      secure: A7SQlgtz1wTbt5wSpP5inxXAB7Gxmss6KIjnV0RdcU1jzKbf/umrAWgLIb/M6vr/zO/YwZCa60SkYm7yn0fGEU3fVjA7rWy5w1yllMEgxxEUy4E2DF1pL/0vryI4GwgcNzre0XA1o/Lx5/8cq6FB1fZ0V5yDyIl8xxMdWFb++X4=
    template:
    - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
  slack:
    secure: TOveMBh9HePYKWuGTrWF+hTXzxGZvbVsa3KU0sB1yv6qkcixb5/ggvmkTeRddYEd/zyWyMenicFsrXVBgsP0SmbNgke6kq5+EN0U5oJWse998lvCVCpwmJQMdwDHvYsOtbFEOppQrbRK4vmH8qibx3x2YVg+u+61ePHvWYF9z6U=
after_success:
- bash post_travis.sh
- pypy -m coverage combine; python -m coverage report --omit **/migrations/**; coveralls
