sudo: false
language: python
addons:
  postgresql: "9.1"
  apt:
    packages:
    - libxmlsec1
    - libxmlsec1-dev
    - swig
cache:
  directories:
  - $HOME/.pip-cache/
  - $HOME/virtualenv/python2.7.9/lib/python2.7/site-packages
python:
- '2.7.9'
env:
- DJANGO_SETTINGS_MODULE='bluebottle.settings.testing'
install:
- pip install --upgrade setuptools --use-mirrors
- pip install -e .[test] --process-dependency-links
- createdb bluebottle_test
- echo `psql --version`
before_script:
- curl https://geolite.maxmind.com/download/geoip/database/GeoLiteCountry/GeoIP.dat.gz | gunzip - > GeoIP.dat
- echo "SECRET_KEY = 'secret key'" > bluebottle/settings/secrets.py
script:
- python manage.py test
notifications:
  hipchat:
    rooms:
      secure: A7SQlgtz1wTbt5wSpP5inxXAB7Gxmss6KIjnV0RdcU1jzKbf/umrAWgLIb/M6vr/zO/YwZCa60SkYm7yn0fGEU3fVjA7rWy5w1yllMEgxxEUy4E2DF1pL/0vryI4GwgcNzre0XA1o/Lx5/8cq6FB1fZ0V5yDyIl8xxMdWFb++X4=
    template:
    - '%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}'
after_success:
- bash post_travis.sh