{% load i18n %}
{% load money %}
<table class="donation-table twelve columns">
    <tr class="donation-table-row">
        <th class="donation-title">
            {% trans "Donation" %} {% if obj.reward %} - {{obj.reward.title}} {% endif %}
        </th>
        <th class="donation-amount">{{ obj.amount|format_money }}</th>
        <tr class="donation-location">
            <td><a href="{{obj.activity.get_absolute_url}}">{{obj.activity.title}}</a></td>
        </tr>
    </tr>
    <tr class="donation-table-row">
        <tr class="donation-table-address">
            {% if obj.anonymous %}
                <td>
                    {% trans "Anonymous" %}<br />
                </td>
            {% else %}
                <td>
                    {% if not obj.anonymous and 'members.api_read_full_member' in to.get_all_permissions %}
                        {{obj.user.full_name}} <br />
                    {% else %}
                        {{obj.user.first_name}} <br />
                    {% endif %}
                </td>
            {% endif %}
            <td>
                <table>
                    <tr class="order-block">
                        <td>{% trans "Date" %}</td>
                        <td nowrap="true">{{obj.created}}</td>
                    </tr>
                    <tr class="order-block">
                        <td>{% trans "Order" %}</td>
                        <td>{{obj.id}}</td>
                    </tr>
                    <tr class="order-block">
                        <td>{% trans "Initiator" %}</td>
                        <td>{{obj.activity.initiative.owner.full_name}}</td>
                    </tr>
                    {% if obj.project.organization %}
                    <tr class="order-block">
                        <td>{% trans "Organization" %}</td>
                        <td>{{obj.activity.initiative.organization.name}}</td>
                    </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    </tr>
</table>
