{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_list admin_urls %}

{% block object-tools-items %}
    <li>
        {% if perms.payments.refund_orderpayment and properties.ENABLE_REFUNDS and original.status == 'settled' %}
            <a href="{% url 'admin:payments_orderpayment_refund' object_id %}" style="background-color: darkred">
                {% trans  "Refund" %}
            </a>
        {% endif %}
    </li>
    <li>
        <a href="{% url 'admin:payments_orderpayment_check' object_id %}" style="background-color: darkgreen">
            Check status at PSP
        </a>
    </li>
    {{ block.super }}
{% endblock %}
