{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% if obj.goals.count %}
{% blocktrans with recipient_name=to.first_name event_title=obj.title context 'email' %}
    Hi {{ recipient_name }},
    <br><br>
    You did it! Your event "{{ event_title }}" took place, that calls for a celebration.<br>
    Head over to your event page and:<br>
    <ol>
        <li>Enter the impact your event made, so that everybody can see how effective your event was.</li>
        <li>Thank the awesome attendees for their support.</li>
    </ol>
{% endblocktrans %}
{% else %}
{% blocktrans with recipient_name=obj.owner.first_name event_title=obj.title context 'email' %}
    Hi {{ recipient_name }},
    <br><br>
    You did it! Your event "{{ event_title }}" took place, that calls for a celebration.<br>
    Head over to your event page and thank the awesome attendees for their support.<br>
{% endblocktrans %}
{% endif %}
{% endblock %}

{% block action %}
    <a href="{{ obj.get_absolute_url }}"
       class="action-email">{% trans 'Got to event' context 'email' %}</a>
{% endblock %}`
