{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans with recipient_name=to.first_name event_title=obj.title event_date=obj.local_start|date event_time=obj.local_start|time event_tz=obj.local_timezone_name context 'email' %}
Hi {{ recipient_name }},
<br><br>
The date and time for "{{ event_title }}" has been changed to {{ event_date }} {{ event_time }} ({{event_tz}}).
<br><br>
<i>If you are unable to participate, please withdraw via the platform so that others can take your place.</i>
{% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ obj.get_absolute_url }}" class="action-email">
       {% trans 'Go to event' context 'email' %}
    </a>
{% endblock %}`
