{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans with recipient_name=obj.owner.first_name event_title=obj.title context 'email' %}
Hi {{ recipient_name }},
<br><br>
Unfortunately your event “{{ event_title }}” has been cancelled.
<br><br>
If you have any questions, you can contact the platform manager by replying to this email.
<br><br>
{% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ obj.initiative.get_absolute_url }}" class="action-email">
       {% trans 'Go to initiative' context 'email' %}:
    </a>
{% endblock %}`
