{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans with recipient_name=to.first_name event_title=obj.title url=obj.get_absolute_url context 'email' %}
Hi {{ recipient_name }},
<br><br>
"{{ event_title }}" will take place in a couple of days.
<br><br>
Want to know about the latest updates? Check out the <a href="{{url}}">event</a> to stay informed.
<br>
<i>If you are unable to participate, please withdraw via the platform so that others can take your place.</i>
{% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ obj.get_absolute_url }}" class="action-email">
       {% trans 'Go to event' context 'email' %}
    </a>
{% endblock %}`
