{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans with recipient_name=to.first_name title=obj.activity.title context 'email' %}
        Hi {{ recipient_name }},
        <br><br>
        Unfortunately, you have been rejected for the event “{ title }”.
        <br><br>
        Feel like doing something else? Go to the activity overview page to see if there is something for you.
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}/initiatives/activities/list"
       class="action-email">{% trans 'View other activities' context 'email' %}</a>
{% endblock %}`
