{% extends "admin/change_form.html" %}{% load staticfiles i18n %}


{% block extrahead %}
{{ block.super }}
<script src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<style type="text/css">
.col {
    width: 32%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

h1 > small {
    opacity: 0.5;
}
strong > label {
    color: #333;
    font-weight: bold !important;
}
</style>
{% endblock extrahead %}


{% block content %}
<div style="margin-top: 25px;"></div>

<h1>{{ transaction }} <small>{% trans "manual donation" %}</small></h1>

<form action="{% url 'admin:banktransaction-add-manualdonation' pk=transaction.pk %}" method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <h2>{{ form.title|capfirst }}</h2>
        {% for field in form.visible_fields %}
            <div class="form-row{% if field.errors %} errors{% endif %}">
                <div class="{% if not field.is_readonly and field.errors %} errors{% endif %}">
                    {% if not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.field.required %}<strong>{% endif %}
                    {{ field.label_tag }}
                    {% if field.field.required %}</strong>{% endif %}
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    </fieldset>

    <div class="submit-row">
        <input type="submit" value="{% trans "Save" %}" class="default" name="_save">
    </div>
</form>
{% endblock %}
