{% extends "admin/change_form.html" %}{% load staticfiles i18n %}


{% block extrahead %}
{{ block.super }}
<script src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<style type="text/css">
.col {
    width: 32%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

h1 > small {
    opacity: 0.5;
}
strong > label {
    color: #333;
    font-weight: bold !important;
}
</style>
{% endblock extrahead %}


{% block content %}
<div style="margin-top: 25px;"></div>

<h1>{{ transaction }} <small>{% trans "manual entry" %}</small></h1>

<p>
    {% trans "Choose one action to resolve this unknown transaction:" %}
    <ul>
        <li>{% trans "Create a new donation: adds a donation record to the project and/or fundraiser." %}</li>
        <li>{% blocktrans %}Add a project/organization payout journal entry:
            the linked payout will be updated with the difference you enter here (=amount).
            {% endblocktrans %}
        </li>
    </ul>
</p>

{% for form in form %}
    <form action="{% url form.url_name pk=transaction.pk %}" method="post" class="col {% if forloop.last %}last{% endif %}">{% csrf_token %}
        <fieldset class="module aligned">
            <h2>{{ form.title|capfirst }}</h2>
            {% for field in form %}
                <div class="form-row{% if field.errors %} errors{% endif %}">
                    <div class="{% if not field.is_readonly and field.errors %} errors{% endif %}">
                        {% if not field.is_readonly %}{{ field.errors }}{% endif %}
                        {% if field.field.required %}<strong>{% endif %}
                        {{ field.label_tag }}
                        {% if field.field.required %}</strong>{% endif %}
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="{% trans "Save" %}" class="default" name="_save">
        </div>
    </form>
{% endfor %}
{% endblock %}
