{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'change' obj.pk %}">{{ obj }}</a>
        &rsaquo; {% trans 'Accept follow request' %}
    </div>
{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row">
                <div class="form-row">
                    <label>{% trans 'Partner:' %}</label> {{ obj.actor }}
                </div>
                <div class="form-row">
                    <label>{% trans 'Adoption type:' %}</label> {{ obj.short_adoption_type }}
                </div>
                <div class="form-row">
                    {% trans 'Select how activities from this partner should be shared before accepting the follow request.' %}
                </div>
                <div class="form-row">
                    <div>
                        {{ form.as_table }}
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="submit-row flex-row">
            <input type="submit" name="confirm" value="{% trans 'Accept follow request' %}" class="default"/>
            <a href="{% url opts|admin_urlname:'change' obj.pk %}" class="button">{% trans 'Cancel' %}</a>
        </div>
    </form>
{% endblock %}
