{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'change' obj.pk %}">{{ obj }}</a>
        &rsaquo; {% trans 'Accept follow request' %}
    </div>
{% endblock %}

{% block content %}
    <p>{% trans 'Select how activities from this partner should be shared before accepting the follow request.' %}</p>

    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row">
                <div>
                    <label>{% trans 'Partner' %}:</label>
                    <div class="readonly">{{ obj.actor }}</div>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label>{% trans 'Adoption type' %}:</label>
                    <div class="readonly">{{ obj.short_adoption_type }}</div>
                </div>
            </div>
            {% for field in form %}
                <div class="form-row{% if field.errors %} errors{% endif %}">
                    <div>
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>

        <div class="submit-row flex-row">
            <input type="submit" name="confirm" value="{% trans 'Accept follow request' %}" class="default"/>
            <a href="{% url opts|admin_urlname:'change' obj.pk %}" class="button">{% trans 'Cancel' %}</a>
        </div>
    </form>
{% endblock %}
