{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
    {% if original %}
        {% if is_accepted %}
            <div class="submit-row">
                <p style="color: green; font-weight: bold;">✓ {% trans "This follow request has already been accepted" %}</p>
            </div>
        {% else %}
            <div class="submit-row">
                <a href="{{ accept_url }}">
                    <input type="button" value="{% trans 'Accept Follow Request' %}" class="default" name="_accept">
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block submit_buttons_top %}
    {% if original %}
        {% if is_accepted %}
            <div class="submit-row">
                <p style="color: green; font-weight: bold;">✓ {% trans "This follow request has already been accepted" %}</p>
            </div>
        {% else %}
            <div class="submit-row">
                <a href="{{ accept_url }}">
                    <input type="button" value="{% trans 'Accept Follow Request' %}" class="default" name="_accept">
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block field_sets %}
    {{ block.super }}
    {% if not is_accepted %}
        <fieldset class="module aligned module_0 initialized">
            <div class="description">
                {%  trans "Once accepted, you can choose which activities to share with this partner."  %}
            </div>
        </fieldset>
    {% endif %}
{%  endblock %}
