{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-progressbar" %}

    <div class="project-fund-amount-slider">
        <strong style="width: 0%;" class="slider-progress is-in-progress">
            <em class="slider-percentage">0%</em>
        </strong>
    </div>

{% endtplhandlebars %}
