{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-upload-image" %}
    {{#bb-form-field hint=hint label=label errors=errors}}
        <a class="btn btn-iconed btn-upload">
            {{view App.UploadFile nameBinding=name fileBinding='file' acceptBinding=accept classBinding=extraClasses}}
            <span class="flaticon solid upload-document-1"></span>
            {{buttonLabel}}
        </a>
        <br />
        {{#if image_url}}
            <img {{bindAttr src=image_url}} />
        {{/if}}
    {{/bb-form-field}}
{% endtplhandlebars %}
