{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-upload-image-area" %}
    {{#bb-form-field hint=hint label=label errors=errors }}
        <div class="image-upload">
            <div class="image-upload-drag">
                <span class="flaticon solid cloud-add-1"></span>
                <small class="image-upload-drag-instructions">Just drag your jpg or png photo here</small>

                {{#if image_url}}
                <figure>
                    <img {{bindAttr src=image_url}} />
                </figure>
                {{/if}}
            </div>
            <div class="image-upload-controls">
                <div class="image-upload-controls-instructions">Upload a picture that best describes your campaign</div>
                {{view App.UploadFile nameBinding=name fileBinding='file' acceptBinding=accept}}
                <a class="image-upload-controls-browse"><span class="flaticon solid plus-2"> </span>Browse for photos</a>
                <small class="image-upload-controls-allowed">Allowed: .jpg, .png, (minimal 600x400)</small>
            </div>
        </div>
    {{/bb-form-field}}
{% endtplhandlebars %}
