{% extends "base.mail.html" %}
{% load djmoney %}
{% load i18n %}
{% load message_url %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans context 'email' %}
            Hi {{ recipient_name }},<br/>
            Your funding deadline for <i>{{title}}"</i> passed. Unfortunately, you didn’t reach your funding goal within the deadline.
            We will send you a follow-up email with more information soon.
        {% endblocktrans %}
    </p>
{% endblock content %} 

{% block action %}
    <a href="{% message_url obj.get_absolute_url %}" class="action-email">
       {% trans 'Go to campaign' context 'email' %}
    </a>
{% endblock %}`
