{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans context 'email' %}
            Hi {{ recipient_name }},
            <br/><br/>
            You are working on a crowdfunding campaign on {{ site_name }}.
            <br/><br/>
            We have good news! Your identity has been verified, and you can continue with your crowdfunding campaign.
            <br/><br/>
            If your campaign has already started, you don’t need to do anything else. If it hasn’t started yet,
            please check that everything is in order and submit your campaign for approval.
        {% endblocktrans %}
    </p>
{% endblock content %} 

{% block action %}
    <a href="{{ obj.funding.get_absolute_url }}" class="action-email">
       {% trans 'Go to campaign' context 'email' %}:
    </a>
{% endblock %}`
