{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans context 'email' %}
            Hi {{ recipient_name }},
            <br/><br/>
            Great news! Your identity has been successfully verified on {{site_name}}.

            This means that people can now collect funds for your organisation. These funds will be paid out straight to your organisation once a funding campaign has come to an end.
        {% endblocktrans %}
    </p>
{% endblock content %} 

{% block action %}{% endblock %}`
