{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
    <p>
        {% blocktrans context 'email' %}
            You applied to an activity on <b>{{ site_name }}!</b>
        {% endblocktrans %}
    </p>

    <p>
        <b>{{ title }}</b>
    </p>

    <p>
        {% translate "What's next:" %}
        <ul>
            <li>
                <b>{% translate "Review" %}</b> -
                {% translate "The activity manager will review your application." %}
            </li>
            <li>
                <b>{% translate "Contribute" %}</b> -
                {% if hours == 1 %}
                    {% blocktrans context 'email' %}
                        You are expected to spend {{ duration }} hour contributing to this activity within the defined period. If no period is defined, then you can contribute at any time that suits you.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans context 'email' %}
                        You are expected to spend {{ duration }} hours contributing to this activity within the defined period. If no period is defined, then you can contribute at any time that suits you.
                    {% endblocktrans %}
                {% endif %}
            </li>
        </ul>
    </p>

    <p>
        <i>
            {% blocktrans context 'email' %}
                You will receive a notification by email when the activity manager accepts your application.
            {% endblocktrans %}
        </i>
    </p>
{% endblock %}
