{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
    <p>
        {% blocktrans context 'email' %}
            You applied to an activity on <b>{{ site_name }}!</b>
        {% endblocktrans %}
    </p>

    <p>
        <b>{{ title }}</b>
    </p >

    <p>
        {% translate "What's next:" context 'email' %}
        <ul>
            <li>
                <b>{% translate "Review" context 'email' %}</b> -
                {% translate "The activity manager will review your application." context 'email' %}
            </li>
            <li>
                <b>{% translate "Contribute" context 'email' %}</b> -
                {% if hours == 1 %}
                    {% blocktrans context 'email' %}
                        Once accepted, you are expected to spend around {{ duration }} hour during the set period, although the actual time may vary. If no period is defined, then you can contribute at anytime that suits you.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans context 'email' %}
                        Once accepted, you are expected to spend around {{ duration }} hours during the set period, although the actual time may vary. If no period is defined, then you can contribute at anytime that suits you.
                    {% endblocktrans %}
                {% endif %}
            </li>
        </ul>
    </p>

    <p>
        <i>
            {% blocktrans context 'email' %}
                You will receive a notification by email when the activity manager accepts your application.
            {% endblocktrans %}
        </i>
    </p>
{% endblock %}
