{% load bb_ember i18n static %}

{% tplhandlebars "_my_project_submit_final" %}

    <legend>
        <strong>{% trans "Review Campaign" %}</strong>
    </legend>


    <fieldset>
        <div class="fieldset-content">
            <h3>{% trans "Final Check!" %}</h3>
            {% trans "You are ready to submit your project now!" %}<br/><br/>
            {% blocktrans %}
            <ul>
            <li>By clicking the SUBMIT button you’re sending in your campaign for review and we’ll get back to you soon. (we aim within 3 working days)</li></br>
            <li>After the final check you can start with your crowdfunding campaign. Are you ready to rumble ?!</li>
            </ul>
            {% endblocktrans %}
        </div>
     </fieldset>

    {% blocktrans %}
        <p>I agree to the <a href="">terms of service</a> when submitting my campaign plan</p>
    {% endblocktrans %}
    <button {{bindAttr class=":btn :btn-iconed :btn-submit :btn-primary"}} {{action submitPlan}}><span class="flaticon solid right-2"></span>{% trans "Submit" %}</button>

{% endtplhandlebars %}