{% load bb_ember i18n static %}

{% tplhandlebars "_my_project_submit_check" %}

    <h4>{% trans "Almost ready…" %}</h4>
    <p>{% trans "Did you check everything? Make sure everything is filled in, all details are correct and grammar checked…" %}</p>

{% endtplhandlebars %}
