{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "_story_legend" %}
    <legend>
        <strong>{% trans "Project Description" %}</strong>
        <p>{% trans "Time to blow us away with the details! Tell us about your motivation, why this project is important and what the impact will be." %}</p>
    </legend>
{% endtplhandlebars %}