{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "my_project" %}



    <div class="l-section" id="project-dashboard">
        <article id="campaign-create">

            <header class="campaign-header l-section">

                <div class="l-wrapper">

					<h1 class="page-title">
						{% trans "My projects"%} <small>&rsaquo; {{ title }}</small>
					</h1>

                    <nav id="campaign-steps" class="steps">

                        {{#link-to "myProject.start" classBinding=":step validBasics:validated"}}
                            {{#if validBasics}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Start" %}
                        {{/link-to}}


                        {{#link-to "myProject.basics" classBinding=":step validBasics:validated"}}
                            {{#if validBasics}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Basics" %}
                        {{/link-to}}

                        {{#link-to "myProject.description" classBinding=":step validDescription:validated"}}
                            {{#if validDescription}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Description" %}
                        {{/link-to}}

                        {{#link-to "myProject.location" classBinding=":step validLocation:validated"}}
                            {{#if validLocation}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Location" %}
                        {{/link-to}}

                        {{#link-to "myProject.media" classBinding=":step validMedia:validated"}}
                            {{#if validMedia}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Media" %}
                        {{/link-to}}

                        {{#link-to "myProject.organisation" classBinding=":step validOrganization:validated"}}
                            {{#if validOrganization}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Organization Profile" %}
                        {{/link-to}}

                        {{#link-to "myProject.legal" classBinding=":step validLegal:validated"}}
                            {{#if validLegal}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Legal status" %}
                        {{/link-to}}


                    </nav>

					<a class="btn btn-modest campaign-preview-button">
						<span class="flaticon solid eye-1"></span>
						Preview
					</a>
				</div>
			</header>

            <section class="l-section">
                <div class="l-wrapper">

                    <div class="l-content">
                        <form>
                            {{outlet}}
                        </form>
                    </div>

                    <aside class="l-sidebar">
                        <iframe width="560" height="315" src="//www.youtube.com/embed/De7zcM8-oeE" frameborder="0" allowfullscreen></iframe>
                    </aside>
                </div>
            </section>
            <footer class="campaign-footer">
                <div class="l-wrapper">
                    <div class="navigation">
                        <!-- <a class="btn btn-modest previous">Previous</a> -->
                        <a href="project_create2.html" class="btn btn-modest btn-primary next">Next</a>
                    </div>
                    <div class="actions">
                        <a class="save">
                            <span class="flaticon solid pencil-3"></span> Save &amp; continue later
                        </a>
                    </div>
                </div>
            </footer>
        </article>
    </div>
{% endtplhandlebars %}

