{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "my_project" %}



    <div class="l-section" id="project-dashboard">
        <article id="campaign-create">

            <header class="campaign-header l-section">

                <div class="l-wrapper">

					<h1 class="page-title">
						{% trans "My projects"%} <small>&rsaquo; {{ title }}</small>
					</h1>

                    <nav id="campaign-steps" class="steps">

                        {{#link-to "myProject.start" classBinding=":step validStart:validated"}}
                            {{#if validStart}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Start" %}
                        {{/link-to}}


                        {{#link-to "myProject.pitch" classBinding=":step validPitch:validated"}}
                            {{#if validPitch}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Pitch" %}
                        {{/link-to}}

                        {{#link-to "myProject.story" classBinding=":step validStory:validated"}}
                            {{#if validStory}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Story" %}
                        {{/link-to}}

                        {{#link-to "myProject.organisation" classBinding=":step validPartnerOrganization:validated"}}
                            {{#if validPartnerOrganization}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Partner" %}
                        {{/link-to}}

                       {{#link-to "myProject.submit" classBinding=":step validSubmit:validated"}}
                            {{#if validsubmit}}
                                <span class="flaticon solid checkmark-1"></span>
                            {{/if}}
                            {% trans "Review" %}
                        {{/link-to}}

                    </nav>

					<a class="btn btn-modest campaign-preview-button">
						<span class="flaticon solid eye-1"></span>
						Preview
					</a>
				</div>
			</header>

            <section class="l-section">
                <div class="l-wrapper">

                    <div class="l-content">
                        <form>
                            {{outlet}}
                        </form>
                    </div>
                {{ partial '_my_project_sidebar' }}
                </div>
            </section>

            {# footer was here #}
        </article>
    </div>
{% endtplhandlebars %}

