{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}
{% load bb_ember %}

{% tplhandlebars "map_picker" %}

    <div class="map-picker"></div>
    <div class="map-look-up">
       {% bb_component 'view Em.TextField' valueBinding="view.lookup" placeholder=_('Find your exact location using city and/or street') %}
       <button {{action lookUpLocation target="view"}}>{% trans 'Search' %}</button>
    </div>

{% endtplhandlebars %}
