{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "my_project_list" %}

    <div class="l-section" id="project-dashboard">

    	{{partial "my_project_top"}}
    	
        <div class="l-wrapper">
            {{#if isLoading}}
                <div class="is-loading-big"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading projects" %}</strong></div>
            {{else}}
                    
            {{/if}}
            

            <div class="l-content">
	            <ul class="project-list">
	            	{{#each project in controller}}
                        {{ partial "_my_project_preview" }}
					{{/each}}
	            </ul>
			</div>

			{{ partial "_project_list_create_btn" }}
			

        </div>
    </div>

{% endtplhandlebars %}
