{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "my_project_review" %}

    <div class="l-section" id="campaign-create">

    	{{partial "my_project_top"}}

        <div class="l-section" id="manage-project">

            <div class="l-wrapper">

                <article class="l-content">
                    <header class="page-header">
                        <h2>{% trans "Thank your for sending us your campaign story!" %}</h2>
                        <p>{% trans "We are busy reading your plan and check all the details. After the final check you can start your crowdfunding campaign. You’ll receive an email from us within 3 working days!" %}</p>
                        <p>
                        {% blocktrans %}
                        Why don’t you complete your profile or read the latest tips & tricks about crowdfunding in the meantime?
                        {% endblocktrans %}</p>
                        <ul>
                          <li>{{#link-to 'userProfile'}}{% trans "Visit profile" %}{{/link-to}}</li>
                          <li>{{#link-to 'page' 'faq-campaign'}}{% trans "Latest tips & tricks" %}{{/link-to}}</li>
                        </ul>
                    </header>
                </article>
            </div>

        </div>
    </div>


{% endtplhandlebars %}
