{% load bb_ember i18n static %}

{% tplhandlebars 'my_project_start' %}

        <h1 class="page-title">{% trans "Project start" %}</h1>
        <br />

        {{ partial "_my_project_start_intro" }}

        <h3>{% trans "Your project is really about destination improvement when your project will." %}</h3>
        <br />
        {% blocktrans %}
        <ul>
            <li>
                improve what makes your destination special, and makes people want to visit it over and over again
            </li>
            <li>
                 contribute to the people living and working there, i.e. it benefits the local community
            </li>
            <li>
               help/ boost a local partner organisation
            </li>
            <li>
                 have a long(er) term impact
            </li>
            <li>
                be managed and owned locally
            </li>
            <li>
                require a team effort
            </li>
            <li>
                have tasks for your colleagues that can be done in half a day or a day
            </li>
        </ul>
        {% endblocktrans %}
        <br />
        <p>
            {% blocktrans %}
            So, is your idea for destination approvement the right one? Then put your project on the map!
            <br />
            <br />
            Or not sure about your idea and in need for some extra inspiration for projects and partners in your region?
            <br />
            <br />
            {% endblocktrans %}
            {% trans "Check out our" %} {{#link-to "page" "inspiration"}}{% trans "inspiration pages" %}{{/link-to}}
        </p>
        <div class="well">
            <div class="campaign-campaigner l-half">
                <h3>{% trans "The project initiator" %}</h3>
                <p>{% trans "Personalise your profile so we can get to know you even better." %}</p>
                {{#if currentUser.isAuthenticated}}
                    <figure class="campaigner-avatar">
                        <img {{bindAttr src="currentUser.getAvatar" alt="currentUser.full_name"}}>
                    </figure>
                    <div class="campaigner-details">
                        <h4 class="campaigner-name">{{ currentUser.full_name }}</h4>

                        {{#link-to "userProfile" classNames="btn btn-modest"}}
                            <span class="flaticon solid pencil-3"></span>
                            {% trans "Edit profile" %}
                        {{/link-to}}

                    </div>

                {{else}}
                    <p>{% trans "No user Logged, sign in to start and create your project." %}</p>
                {{/if}}


            </div>

            <div class="l-half">
                <div class="control-group">
                    {{#link-to 'myProject.pitch' tagName='button' class="btn btn-primary btn-block"}}
                        {% trans "Start a project" %}
                    {{/link-to}}
                </div>
            </div>
        </div>


{% endtplhandlebars %}
