{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "my_project_story" %}

    {{#unless isPhasePlanNew}}
        {{bb-flash data=flash}}
    {{/unless}}

    <legend>
        <strong>{% trans "Project Description" %}</strong>
        <p>{% trans "Time to blow us away with the details! Tell us about your motivation, why this project is important and what the impact will be." %}</p>
    </legend>

    <fieldset>
        <ul>
            {% bb_component 'bb-text-area' rows=10 name='whywhat' label=_('Why, what and how') undertext=_('Describe your project in more detail.') valueBinding='description' placeholder=_('Describe your project') errors='errors.description' maxlength=800 %}

            {% bb_component 'bb-text-area' rows=5 label=_('Goal') name='goal' undertext=_('What do you want to achieve with this project and how will you measure your success?') valueBinding='goal' placeholder=_('Describe the goal of the project') maxlength=800 %}

            {% bb_component 'bb-text-area' rows=5 label=_('Destination Impact') name='destination_impact' undertext=_('How will your project improve your destination, now and maybe even in the future?') placeholder=_('Describe how the project improves your destination') valueBinding='destination_impact' maxlength=800 %}


        </ul>
    </fieldset>

{{ partial '_my_project_save_edit_footer'}}

{% endtplhandlebars %}
