{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "my_project_submit" %}

{{#if valid}}

   	{{partial "my_project_submit_final"}}

{{else}}

    {{partial "my_project_submit_check"}}

    <ul class="missing-steps">
        <li class="introduction">
            <span class="flaticon solid post-comment-1"></span>
            <div class="introduction-text">
                <h3>{% trans "Please fill in all information before submitting" %}</h3>
                <strong>{% trans "The following information is still missing:" %}</strong>
            </div>
        </li>
        {{ partial "my_project_submit_fields" }}
    </ul>

{{/if}}

{% endtplhandlebars %}
