{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "_my_project_submit_pitch_fields" %}

        {{#unless validPitch}}
            {{#each field in missingFieldsPitch}}
                <li>
                    <div class="category">
                        {% trans "Project" %}
                    </div>
                    <div class="details">
                        {{#link-to "myProject.pitch"}}{{field}}{{/link-to}} {% trans "is not filled in" %}.
                    </div>
                    <div class="action">
                        {{#link-to "myProject.pitch"}}<span class="flaticon solid checkmark-2"></span>{% trans "Let's fix this" %}{{/link-to}}
                    </div>
                </li>
            {{/each}}
        {{/unless}}

{% endtplhandlebars %}
