{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "_my_project_top" %}

<div class="l-section campaign-header">
    <nav class="l-wrapper">

        <header class="page-title">
            <h1>{% trans "My Projects"%}
            {{#if title}}
                : <em class="campaign-subtitle">{{ title }}</em>
			{{/if}}
            </h1>
        </header>

        {{#if id}}
            {{#link-to 'project' id href=true class="campaign-preview-button btn-link"}}
                <span class="flaticon solid eye-1"></span>
                {% trans "View project" %}
            {{/link-to}}
        {{/if}}
    </nav>
</div>

{% endtplhandlebars %}
