{% extends "admin/change_form.html" %}
{% load i18n humanize accounting %}

{#{% block content %}#}
{#  <div id="content-main">#}
{#    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">#}
{##}
{#      <form id="changelist-form" action="" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#      </form>#}
{#    </div>#}
{#  </div>#}
{#{% endblock %}#}
{% block breadcrumbs %}
    {% if not is_popup %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
            <a href="../">{{ app_label|capfirst|escape }}</a> &rsaquo;
            {% trans 'Overview' %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <style type="text/css">
        small {
            font-size: 80%;
        }
        td {
            padding: 4px 6px;
        }
        thead tr {
            border-bottom: 1px solid black;
        }
        th {
            font-weight: bold;
        }
        .financial {
            text-align: right;
            clear: left;
        }
        .financial:before {
            content: '€';
            padding-right: 10px;
            float: left;
        }
        .sum {
            border-top: 1px solid black;
        }
        .sum.deduct:after, .sum.add:after {
            position: relative;
            top: -7px;
            right: -10px;
        }
        .sum.deduct:after {
            content: "-";
        }
        .sum.add:after {
            content: "+";
        }
        .total {
            border-top: 3px double black;
        }
        .help-text {
            display: block;
            font-weight: normal;
            margin-top: 2px;
            font-size: 80%;
            color: #666;
        }
        .column {
            width: 400px;
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <div id="content-main">
        <p>
        </p>

        <form action="" method="post">
            {% csrf_token %}
            <div>
                {% if form.errors or form.non_field_errors %}
                    <p class="errornote">
                        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                <fieldset class="module aligned">
                        <div class="form-row">
                            {% trans "Start" %}: {{ form.start }} {% trans "Stop" %}: {{ form.stop }}

                            {% if 'tenant' in form.fields %}
                                {% trans "Select tenant" %}: {{ form.tenant }}
                            {% endif %}

                            <input class="default" style="float: none;" type="submit" value="{% trans 'Go' %}" />
                        </div>
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                </fieldset>
            </div>
        </form>

        {% if statistics %}
        <h1>{{ start }} - {{ stop }}</h1>
        <div class="column">
            <hr>
            <h2>{% trans "Warnings" %}</h2>
            <table>
                <tbody>
                    <tr><td><a href="{% url 'admin:accounting_banktransaction_changelist' %}?integrity=invalid">
                                {{ data.invalid_transactions_count }} {% trans "invalid bank transactions" %} -
                                amount: {{ data.invalid_transactions_amount|numberformat }}
                            </a>
                    </td></tr>
                    <tr><td><a href="{% url 'admin:payments_orderpayment_changelist' %}?integrity=invalid">
                                {{ data.invalid_order_payments_count }} {% trans "invalid order payments" %} -
                                amount: {{ data.invalid_order_payments_amount|numberformat }},
                                transaction fee: {{ data.invalid_order_payments_transaction_fee|numberformat }}
                            </a>
                    </td></tr>
                    <tr><td><a href="{% url 'admin:donations_donation_changelist' %}?status__exact=failed">
                                {{ data.donations_failed_count }} {% trans "failed donations" %} -
                                amount: {{ data.donations_failed_amount|numberformat }}
                            </a>
                    </td></tr>
                    {% if request.user.is_superuser %}
                        <tr><td><a href="{% url 'admin:payouts_projectpayout_changelist' %}?status__exact=in_progress">SUPERUSER
                            {{ data.project_payouts_pending_in_progress_count }} {% trans "pending project payouts" %} -
                            amount: {{ data.project_payouts_pending_in_progress_amount|numberformat }}
                        </a>
                        </td></tr>
                    {% elif request.user.is_staff %}
                        <tr><td><a href="{% url 'admin:payouts_projectpayout_changelist' %}?status__exact=new">STAFF
                            {{ data.project_payouts_pending_new_count }} {% trans "pending project payouts" %} -
                                amount: {{ data.project_payouts_pending_new_amount|numberformat }}
                            </a>
                        </td></tr>
                    {% endif %}

                </tbody>
            </table>

            <h2>{% trans "Totals" %}</h2>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Total number" %}</th>
                        <th>{% trans "Balance" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Bank transactions</th>
                        <td><a href="{% url 'admin:accounting_banktransaction_changelist' %}">{{ data.transactions_count }}</a></td>
                        <td>{{ data.transactions_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Order payments</th>
                        <td><a href="{% url 'admin:payments_orderpayment_changelist' %}">{{ data.order_payments_count }}</a></td>
                        <td>{{ data.order_payments_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Remote docdata payments</th>
                        <td><a href="{% url 'admin:accounting_remotedocdatapayment_changelist' %}">{{ data.remote_docdata_payments_count }}</a></td>
                        <td>{{ data.remote_docdata_payments_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Remote docdata payouts</th>
                        <td><a href="{% url 'admin:accounting_remotedocdatapayout_changelist' %}">{{ data.remote_docdata_payouts_count }}</a></td>
                        <td>{{ data.remote_docdata_payouts_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Project payouts</th>
                        <td><a href="{% url 'admin:payouts_projectpayout_changelist' %}">{{ data.project_payouts_count }}</a></td>
                        <td>{{ data.project_payouts_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Project payouts (settled)</th>
                        <td><a href="{% url 'admin:payouts_projectpayout_changelist' %}">{{ data.project_payouts_settled_count }}</a></td>
                        <td>{{ data.project_payouts_settled_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Donations</th>
                        <td><a href="{% url 'admin:donations_donation_changelist' %}">{{ data.donations_count }}</a></td>
                        <td>{{ data.donations_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Donations (settled)</th>
                        <td><a href="{% url 'admin:donations_donation_changelist' %}?status__exact=pending_or_success">{{ data.donations_settled_count }}</a></td>
                        <td>{{ data.donations_settled_amount|numberformat }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <h2>{% trans "Balances" %}</h2>
            <table>
                <tbody>
                    <tr>
                        <th>{% trans "Balance of pending orders" %}</th>
                        <td class="financial">
                            <a href="#">{{ statistics.docdata.pending_orders|numberformat }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Balance of pending service fees to Docdata" %}</th>
                        <td class="financial">
                            <a href="#">{{ statistics.docdata.pending_service_fee|numberformat }}</a>
                        </td>
                    </tr>

                    <tr>
                        <th>{% trans "Balance of pending payouts by Docdata to 1%Club" %}</th>
                        <td class="financial">
                            <a href="{% url 'admin:payouts_projectpayout_changelist' %}">{{ statistics.docdata.pending_payout|numberformat }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2>{% trans "Total Project payouts" %}</h2>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Number of projects" %}</th>
                        <th>{% trans "Raised" %}</th>
                        <th>{% trans "Payable" %}</th>
                        <th>{% trans "Organization fee" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="sum add">
                        {% with entry=statistics.project_payouts %}
                            <td>{{ entry.count }}</td>
                            <td class="financial"><a href="{% url 'admin:payouts_projectpayout_changelist' %}">{{ entry.raised|numberformat }}</a></td>
                            <td class="financial"><a href="{% url 'admin:payouts_projectpayout_changelist' %}">{{ entry.payable|numberformat }}</a></td>
                            <td class="financial"><a href="{% url 'admin:payouts_projectpayout_changelist' %}">{{ entry.organization_fee|numberformat }}</a></td>
                        {% endwith %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <h2>{% trans "Bank account balances" %}</h2>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Bank account" %}</th>
                        <th>{% trans "IBAN" %}</th>
                        <th>{% trans "Last transaction" %}</th>
                        <th>{% trans "Balance" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bank_account_name, bank_account_nr in bank_accounts %}
                    {% if bank_account_name %}
                    <tr>
                        <td>{{ bank_account_name }}</td>
                        <td>{{ bank_account_nr }}</th>
                        <td>...</td>
                        <td class="financial">...</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
{##}
{#            {% for title, data in statistics.items %}#}
{#                <h2>{{ title }}</h2>#}
{#                {% for k, v in data.items %}#}
{#                    <p><strong>{{ k }}</strong>: {{ v|intcomma }}{% if k != 'count' %},<small>{{ v|floatformat:2|slice:"-2:" }}</small>{% endif %}</p>#}
{#                {% endfor %}#}
{#            {% endfor %}#}

        {% endif %}

    </div>
{% endblock %}
