{% load i18n accounting %}

<div class="column">
            <h2>{% trans "Warnings" %}</h2>
            <table>
                <tbody>
                    <tr><td>{% if show_links %}<a href="{% url 'admin:accounting_banktransaction_changelist' %}?integrity=invalid">{% endif %}
                                {{ data_dict.invalid_transactions_count }} {% trans "invalid bank transactions" %} -
                                amount: {{ data_dict.invalid_transactions_amount|numberformat }}
                            {% if show_links %}</a>{% endif %}
                    </td></tr>
                    <tr><td>{% if show_links %}<a href="{% url 'admin:payments_orderpayment_changelist' %}?integrity=invalid">{% endif %}
                                {{ data_dict.invalid_order_payments_count }} {% trans "invalid order payments" %} -
                                amount: {{ data_dict.invalid_order_payments_amount|numberformat }},
                                transaction fee: {{ data_dict.invalid_order_payments_transaction_fee|numberformat }}
                            {% if show_links %}</a>{% endif %}
                    </td></tr>
                    <tr><td>{% if show_links %}<a href="{% url 'admin:donations_donation_changelist' %}?status__exact=failed">{% endif %}
                                {{ data_dict.donations_failed_count }} {% trans "failed donations" %} -
                                amount: {{ data_dict.donations_failed_amount|numberformat }}
                            {% if show_links %}</a>{% endif %}
                    </td></tr>

        {# {% if request.user.is_superuser %} #}
                    <tr><td>{% if show_links %}<a href="{% url 'admin:payouts_projectpayout_changelist' %}?status__exact=in_progress">{% endif %}
                        {{ data_dict.project_payouts_pending_in_progress_count }} {% trans "pending project payouts (in progress)" %} -
                        amount: {{ data_dict.project_payouts_pending_in_progress_amount|numberformat }}
                    {% if show_links %}</a>{% endif %}
                    </td></tr>
        {# {% elif request.user.is_staff %} #}
                    <tr><td>{% if show_links %}<a href="{% url 'admin:payouts_projectpayout_changelist' %}?status__exact=new">{% endif %}
                        {{ data_dict.project_payouts_pending_new_count }} {% trans "pending project payouts (new)" %} -
                            amount: {{ data_dict.project_payouts_pending_new_amount|numberformat }}
                        {% if show_links %}</a>{% endif %}
                    </td></tr>
        {# {% endif %} #}
                </tbody>
            </table>

            <h2>{% trans "Totals" %}</h2>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Total number" %}</th>
                        <th>{% trans "Balance" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Bank transactions</th>
                        <td>{% if show_links %}<a href="{% url 'admin:accounting_banktransaction_changelist' %}">{% endif %}{{ data_dict.transactions_count }}{% if show_links %}</a>{% endif %}</td>
                        <td>{{ data_dict.transactions_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Order payments</th>
                        <td>{% if show_links %}<a href="{% url 'admin:payments_orderpayment_changelist' %}">{% endif %}{{ data_dict.order_payments_count }}{% if show_links %}</a>{% endif %}</td>
                        <td>{{ data_dict.order_payments_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Remote docdata payments</th>
                        <td>{% if show_links %}<a href="{% url 'admin:accounting_remotedocdatapayment_changelist' %}">{% endif %}{{ data_dict.remote_docdata_payments_count }}{% if show_links %}</a>{% endif %}</td>
                        <td>{{ data_dict.remote_docdata_payments_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Remote docdata payouts</th>
                        <td>{% if show_links %}<a href="{% url 'admin:accounting_remotedocdatapayout_changelist' %}">{% endif %}{{ data_dict.remote_docdata_payouts_count }}{% if show_links %}</a>{% endif %}</td>
                        <td>{{ data_dict.remote_docdata_payouts_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Project payouts</th>
                        <td>{% if show_links %}<a href="{% url 'admin:payouts_projectpayout_changelist' %}">{% endif %}{{ data_dict.project_payouts_count }}{% if show_links %}</a>{% endif %}</td>
                        <td>{{ data_dict.project_payouts_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Project payouts (settled)</th>
                        <td>{% if show_links %}<a href="{% url 'admin:payouts_projectpayout_changelist' %}">{% endif %}{{ data_dict.project_payouts_settled_count }}{% if show_links %}</a>{% endif %}</td>
                        <td>{{ data_dict.project_payouts_settled_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Donations</th>
                        <td>{% if show_links %}<a href="{% url 'admin:donations_donation_changelist' %}">{% endif %}{{ data_dict.donations_count }}{% if show_links %}</a>{% endif %}</td>
                        <td>{{ data_dict.donations_amount|numberformat }}</td>
                    </tr>
                    <tr>
                        <th>Donations (settled)</th>
                        <td>{% if show_links %}<a href="{% url 'admin:donations_donation_changelist' %}?status__exact=pending_or_success">{% endif %}{{ data_dict.donations_settled_count }}{% if show_links %}</a>{% endif %}</td>
                        <td>{{ data_dict.donations_settled_amount|numberformat }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <h2>{% trans "Balances" %}</h2>
            <table>
                <tbody>
                    <tr>
                        <th>{% trans "Balance of pending orders" %}</th>
                        <td class="financial">
                            {% if show_links %}<a href="#">{% endif %}{{ statistics_dict.docdata.pending_orders|numberformat }}{% if show_links %}</a>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Balance of pending service fees to Docdata" %}</th>
                        <td class="financial">
                            {% if show_links %}<a href="#">{% endif %}{{ statistics_dict.docdata.pending_service_fee|numberformat }}{% if show_links %}</a>{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>{% trans "Balance of pending payouts by Docdata to 1%Club" %}</th>
                        <td class="financial">
                            {% if show_links %}<a href="{% url 'admin:payouts_projectpayout_changelist' %}">{% endif %}{{ statistics_dict.docdata.pending_payout|numberformat }}{% if show_links %}</a>{% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2>{% trans "Total Project payouts" %}</h2>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Number of projects" %}</th>
                        <th>{% trans "Raised" %}</th>
                        <th>{% trans "Payable" %}</th>
                        <th>{% trans "Organization fee" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="sum add">
                        {% with entry=statistics_dict.project_payouts %}
                            <td>{{ entry.count }}</td>
                            <td class="financial">{% if show_links %}<a href="{% url 'admin:payouts_projectpayout_changelist' %}">{% endif %}{{ entry.raised|numberformat }}{% if show_links %}</a>{% endif %}</td>
                            <td class="financial">{% if show_links %}<a href="{% url 'admin:payouts_projectpayout_changelist' %}">{% endif %}{{ entry.payable|numberformat }}{% if show_links %}</a>{% endif %}</td>
                            <td class="financial">{% if show_links %}<a href="{% url 'admin:payouts_projectpayout_changelist' %}">{% endif %}{{ entry.organization_fee|numberformat }}{% if show_links %}</a>{% endif %}</td>
                        {% endwith %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <h2>{% trans "Bank account balances" %}</h2>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Bank account" %}</th>
                        <th>{% trans "IBAN" %}</th>
                        <th>{% trans "Last transaction" %}</th>
                        <th>{% trans "Balance" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bank_account_name, bank_account_nr in bank_accounts %}
                    {% if bank_account_name %}
                    <tr>
                        <td>{{ bank_account_name }}</td>
                        <td>{{ bank_account_nr }}</th>
                        <td>...</td>
                        <td class="financial">...</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <br>
        </div>