{% load i18n %}

<sidebar class="l-sidebar">
    <h3>{% trans "Other ways to contact" %}</h3>
{% blocktrans %}
<p>
    Email:<a href="mailto:info@onepercentclub.com?subject=Contact">info@onepercentclub.com</a><br />
    Twitter:<a href="https://twitter.com/1percentclub">@1percentclub</a><br />
    Facebook: <a href="http://www.facebook.com/onepercentclub">/onepercentclub</a>
</p>
<p>
    1%Club Foundation<br />
    's Gravenhekje 1a<br />
    1011 TG Amsterdam<br />
    The Netherlands<br />
</p>
<p>
    Bank: Rabobank (Haarlem)<br />
    Account number: NL45 RABO 01322070 44(donations)<br />
    BIC: RABONL2U<br />
    <br />
    Chamber of Commerce number 34.26.78.95<br />
    Phone(+31) 20 715 8980<br />
</p>
{% endblocktrans %}
</sidebar>