{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans with receiver_name=receiver.first_name author_name=author.first_name task_title=task.title %}

        Hello {{ receiver_name }},
        <br><br>
        {{ author_name }} just posted a comment on your <i>{{ task_title }}</i>
        wall.
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action-email">{% trans 'View comment' context 'email' %}</a>
{% endblock %}
