// ========================= Variables ==================================
// SET YOUR EDITOR TO USING TABS AND TAB SIZE OF 4 FOR PROPER ALIGNMENT
// OF THE VARIABLES BELOW

// Grays
// --------------------------------

$black                                                     : #000 !default;
$gray-darkest                                              : #222 !default;
$gray-darker                                               : #444 !default;
$gray-dark                                                 : #666 !default;
$gray                                                      : #999 !default;
$gray-light                                                : #ccc !default;
$gray-lighter                                              : #e9e9e9 !default;
$white                                                     : #fff !default;
                                                       
// Colors                                                       
// --------------------------------                             

$color-primary                                             : #0896ff !default; // light blue
$color-secondary                                           : #00c051 !default; // dark blue
                                                                   
$color-error                                               : #b84040 !default;
$color-success                                             : #5da423 !default;
$color-deselect                                            : #bfbfbf !default;

$gray-border                                               : #f2f2f2;

$gray-comment-border: #d8d8d8;
