{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message %}
{% blocktrans context 'platform-email' %}
Good news, your grant application "{{ title }}" has been approved!
<br><br>
<b>Here’s what happens next:</b>
<ul>
    <li>
        You’ll need to enter your bank details and verify your identity and/or that of the organisation from the grant application page.
    </li>
    <li>
    Once the verification process is completed successfully, the payout will be processed.
    </li>
</ul>
<br>
{% endblocktrans %}
{% endblock %}