{% extends "mails/messages/update_base.html" %}
{% load i18n %}

{% block message %}
    {% blocktrans context 'platform-email' %}
        {{ author}} posted a comment to '{{ title }}'.
    {% endblocktrans %}
    <br/><br/>
    <div class="message-box">
        {{ message|safe }}
    </div>
    {% if has_media %}
        <br/><br/>
        <span class="subtle-text">
        {% blocktrans context 'platform-email' %}
            This post includes media or files, view them in the full post.
        {% endblocktrans %}
        </span>
    {% endif %}
{% endblock %}
