{% extends "mails/messages/update_base.html" %}
{% load i18n %}

{% block message %}
    {% if update_type == 'activity-update' %}
        {% blocktrans context 'platform-email' %}
            {{ author }} posted an update to {{ title }}:
        {% endblocktrans %}
    {% else %}
        {% blocktrans context 'platform-email' %}
            {{ author }} posted a comment to {{ title }}:
        {% endblocktrans %}
    {% endif %}
    <br/><br/>
    <div class="message-box">
        {{ message|safe }}
    </div>
    {% if has_media %}
        <br/>
        <span class="subtle-text">
        {% blocktrans context 'platform-email' %}
            This post includes media or files, view them in the full post.
        {% endblocktrans %}
        </span>
    {% endif %}
{% endblock %}


{% block end_message %}
    {% blocktrans with title=obj.activity.title context 'platform-email' %}
        <p>
            You received this email because you support {{ title }}.
            Don't want to receive activity updates anymore?
        </p>
        <p>
            <a href="{{ site }}/member/profile">
                Unsubscribe
            </a> via your account page
        </p>
    {% endblocktrans %}
{% endblock %}
