
// Account page (overwrites modules)
// --------------------------------------------------

.account-header {
    background-color: $gray-lighter;
    position: relative;
    
    .account-avatar {
        @include grid(6,1,1);
        margin-top: $base-margin*2;
        margin-bottom: $base-margin*2;
    }
    
    .account-title {
        @include grid(32,1,0);
        margin-top: $base-margin;
        
        h2 {
            width: 100%;
            color: $color-heading;
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .account-subtitle {
            color: $gray;
//            font-family: $base-font-family;
//            padding-left: $base-padding;
//            margin-left: $base-margin/4;
//            background: image-url("list-item.png") transparent no-repeat 0 50%;
        }
    }
    
    .account-preview {
        @include grid(10,1,1);
        font-size: $font-size-small;
        color: $gray;
        float: right;
        margin-top: $base-margin*2;
        text-align: right;
        display: inline-block;
    }
    
    .tabs {
        @include grid(48,7,1);
        position: absolute;
        bottom: 0;
    }
    
}

// Project Picker Monthly
#project-select {
    
    width: $min-width - 100px;
    margin-left: -($min-width - 100px)/2;
    
    .modal-header {
        background-color: $gray-lighter;
    }
    
    #search {
        
    }
    
    .modal-body {
        padding: 0;
    }

    #search-form .control, #search-results li {
        @include grid(16,0,1);
    }
}

// Donation history list
.fund-history {
    
    .fund-history-date {
        
    }
    
    .fund-history-type {
        
    }
    
    .fund-history-total {
        font-family: $font-family-heavy;
    }
    
    .fund-history-project {
        width: 75%;
    }
    
    .fund-history-amount {
        width: 25%;
    }
}


.account-achievements {

	margin-top: $base-margin * 2;	
	
	li {
		float: left;
		@include grid(16,0,1);
		@include resetlist();
		text-transform: uppercase;
		font-size: $font-size-smallest;
		strong {
			font-size: $font-size-larger;
		}
		.account-achievement-icon {
			float: left;
			margin-right: $base-margin;
		}
	}
}
.account-header {
	
	background-color: $gray-lighter;
	padding: $base-padding * 2 0;

	.account-personal {
	
		@include grid(20,0,1);
	
		.account-title {
			margin-top: $base-margin * 1.5;
			text-transform: none;
			color: $gray-darker;
		}
		
		.account-edit-link {
			color: $gray;
			text-decoration: none;
			&:hover {
				color: $gray-darkest;
			}
		}
	
		.account-avatar {
			width: 150px;
			height: 150px;
			float: left;
			border: 1px solid $gray;
			margin-right: $base-margin;
		}	
	}	
	.account-achievements {

		@include grid(28,0,0);
		@include resetlist();

	}	
}



.account-body {
	
	background-color: $white;
	padding: $base-padding*2 0;

	.account-info {
		
		@include grid(24,0,1);
		
		.account-about-header, .account-why-header {
			text-transform: none;
		}
		
		.account-about-header {
			color: $color-primary;
		}			
	}
	.account-details {
		
		@include grid(24,1,0);
		margin-top: $base-margin * 4;
		
		dl {
			padding: 0;
			font-size: $base-font-size;
			border-bottom: none;
		
			> dt, > dd {
				margin: 0;
				padding: $base-padding;
				border-bottom: 1px solid $gray-light;
			}
		
			> dd {
				@include grid(32,0,0);
				text-transform: none;
			}
		
			> dt {
				@include grid(16,0,0);
				
			}
		}
	}
	.account-links {
		font-size: $font-size-small;
		.account-facebook, .account-twitter, .account-website {
			@include grid(16,0,1);
			text-decoration: none;
		}
		.account-facebook {
			color: $facebook-blue;
			&:hover {
				color: darken($facebook-blue, 20%);
			}
		}
		.account-twitter {
			color: $twitter-blue;			
			&:hover {
				color: darken($twitter-blue, 20%);
			}
		}
	}	
}
.account-statistics {
	
	background-color: $white;
	padding: $base-padding*2 0;
	color: $gray-dark;
	
	.account-statistics-header {
		
		margin-bottom: $base-margin;
		@include clear;
		
		.account-statistics-header-title {
			color: $color-primary;
			text-transform: none;
			@include grid(20,0,0);
		}
		
		.account-statistics-header-facets {
			@include grid(18,0,0);		
			padding: $base-padding;
			padding-top: $base-padding * 1.5;	
		}
		
		.account-statistics-header-map {
			@include grid(10,0,0);			
			padding: $base-padding;			
			padding-top: $base-padding * 1.5;	
			text-align: right;
		}
		a {
			color: $gray;
			text-decoration: none;
			padding: 0 $base-margin;
			&:hover {
				color: $gray-darker;
			}
		}
	}
	
	table {
		
		margin-bottom: $base-margin*2;
		
		tr {
			&:nth-child(even) {
				background: $white
			}
			
			&:nth-child(odd) {
				background: $gray-lighter
			}
			
			td {
				vertical-align: middle;
				border: none;
				a {
					text-decoration: none;
				}
			}
			.account-statistics-image {
				width: 100px;
				padding: $base-padding/4;
			}
		}
	}
	
	.account-statistics-pagination {
		
		width: 100%;
		text-align: center;
		
		a {
			text-transform: uppercase;
			color: $gray;
			text-decoration: none;
			display: inline-block;
			border: 1px solid $gray-lighter;
			padding: $base-padding;
			
			&:hover {
				color: $gray-darker;
				border: 1px solid $gray-dark;
			}
			
			strong, .flaticon {
				color: $gray-darkest;
			}
		}
	}
}

/* profile preview modal */
#profile-preview {
	
	.member-name {
		text-transform: none;
	}
	.member-since {
		text-transform: uppercase;
	}
//	.account-achievements {
//		@include clear;
//		li {
//			@include grid(16,0,0);
//			@include resetlist();
//		}
//	}
	
	.profile-preview-actions {
		
		@include clear;
		$padding: $base-padding*2 $base-padding;
		background-color: $gray-lighter;
		
		a {
			text-decoration:none;
		}
		.close-link {
			float: left;
			color: $gray;
		}
		.go-to-profile {
			float: right;
			text-align: right;
			color: $color-primary;
		}
	}
}

#public-profile-page {
	.account-achievements {
		margin: $base-margin*2 0;
	}
}