//
// Profile (modal only now)
// --------------------------------------------------

#profile-preview {
    
    .modal-header {
        @include clear;
        background-color: transparent;
        
        .profile-avatar {
            @include grid(12,0,2);
            margin-top: $base-margin;
            margin-bottom: $base-margin;
            display: block;
        }
        
        .profile-header {
            @include grid(36,0,0);
        }
    }
    
	ul.account-achievements {
		margin: 0;
	}
}

.account-achievements {
	
	li {
		font-size: 11px;
		line-height: $base-line-height;
		padding-left: 85px;
		height: 75px;
		color: $gray-darker;
		background-repeat: no-repeat;
		background-position: 0 0;
		
		strong {
			margin-top: $base-margin/4;
			display: block;
			line-height: 1em;
			font-size: 25px;
		}		
	}
}