//
// Task detail page
// --------------------------------------------------

#task-detail {
	
	padding: $base-padding 0;
	background-color: $gray-darkest;
	color: $white;
	#task-details {
		padding: ($base-padding * 2) 0;
	}
	h1, h2, h3 {
		text-transform: none;
		color: $white;
		font-family: $font-family-heavy;
		margin: 0;
		margin-bottom: $base-margin / 4;
	}
	
	dl {
		border-bottom: 1px solid $gray-darker;
//		> dt, dd {
//			width: auto;
//		}
		dt {
			@include grid(4,0,1);
		}
		dd {
			@include grid(44,1,0);
		}
	}
		
	.l-content {
    	margin-top: $base-padding*2;
        padding-top: $base-margin;
	}
	
	.task-project {
		color: $gray;
	}
	
	.task-badge {
		border: 2px solid $white;
		position: relative;
		@include grid(8,1,1);	
		
//		&:after {
//			left: 100%;
//			top: 4.5em;
//			border: solid transparent;
//			content: " ";
//			height: 0;
//			width: 0;
//			position: absolute;
//			pointer-events: none;
//			border-left-color: $white;
//			border-width: 10px;
//			margin-top: -10px;
//		}
		.task-status {
			padding: $base-padding / 2;
			text-align: center;
			background: $color-primary;
//			position: absolute;
			width: 100%;
			border-bottom: 2px solid $white;
		}
	}
	.task-sidebar {
		@include grid(16,0,1)
	}
	.edit-task {
		text-align: right;
//		padding: $base-padding 0;
		a {
			text-decoration: none;
		}
		
	}

//	.task-status {
//		display: block;
//		@include grid(12,2,4);
//		
//	   .flaticon {
//            font-size: 40px;
//            display: block;
//        }
//        
//        padding: $base-padding 0;
//        background-color: $gray-lighter;
//        color: $white;
//        text-align: center;
//        text-transform: uppercase;
//    }
    
	.task-description {
		position: relative;
//		@include grid(36,0,0);
		@include grid(24,0,1);		
//		border-bottom: 1px solid $gray;
		margin-bottom: $base-margin * 2;
		
		.task-read-more {
			text-decoration: none;
			color: $gray;
			position: absolute;
			bottom: -12px;
			right: 0;
			display: block;
			background-color: $gray-darkest;
			padding-right: $base-padding * 4;
			padding-left: $base-padding;
		}
	}
	
//	#wallposts {
//	    @include clear;
//	    clear: both;
//    	
//    	#wallpost-form {
//    	    @include clear;
//            clear: both;
//        	@include grid(48,12,0);
//        	margin-bottom: $base-margin*2;
//        	
//        	.btn {
//            	float: right;
//        	}
//    	}
//    	
//    	.wallpost {
//        	@include clear;
//            clear: both;
//    	}
//	}
	
	// Sidebar
	.task-section {
	    @include clear;
//	    background-color: $gray-lighter;
	    margin-bottom: $base-margin;
//		padding: $base-padding $base-padding*2;
		
	}
	
	.task-meta {
		p {
			color: $gray;
		}
	}
	
//	.task-members {
//	    margin: 0;
//				
//		.task-member {
//		    @include resetlist;
//            position: relative;
//			@include clear;
//            display: block;
//            padding: $base-padding/2 0;
//            border-bottom: 1px solid $gray-light;
//            
//             &:last-of-type {
//                //border: none;
//            }
//            
//            a {
//                text-decoration: none;
//            }
//            
//			.member {
//			    float: left;
//				text-transform: uppercase;
//				
//				.member-avatar {
//				    display: inline-block;
//					width: 40px;
//					padding: 0;
//					float: left;
//					margin-right: $base-margin/2;
//				}
//				
//				.timestamp {
//				    font-style: normal;
//    				color: $gray;
//                    text-transform: uppercase;
//                    font-size: $font-size-smallest;
//				}
//				
//				.member-status {
//    				font-style: normal;
//    				color: $color-primary;
//                    text-transform: uppercase;
//                    font-size: $font-size-smallest;
//				}
//			}
//			
//	        .task-edit-status {
//				color: $gray;
//				font-size: $font-size-smallest;
//				text-transform: uppercase;
//				float: right;
//				
//				&:hover, &:active {
//    				color: $color-text;
//				}
//	        }
//		}
//	}


	.task-files {
        margin: 0;
        
        .task-file {
            @include resetlist;
            
            a {
                @include clear;
                display: block;
                text-decoration: none;
                padding: $base-padding/2 0;
                border-bottom: 1px solid $gray-light;
            }
                            
            &:last-of-type a {
                border: none;
            }
            
			.file-size, .file-author, .time-applied {
				font-size: $font-size-smallest;
				text-transform: uppercase;
				font-style: normal;
				color: $gray;
			}
        }	
	}

	#task-members {
		
		background-color: $gray-darker;
		padding: $base-padding 0;
		
		.task-members-list {
		    @include grid(32,1,1);
			float: left;	
		}

		.task-action {
		    @include grid(16,1,1);
		    float: right;
			margin: $base-margin;

		    .btn {
		        font-family: $font-family-bold;
		        white-space: nowrap;
		        font-size: 1.5em;
		        display: block;
        
		        .flaticon {
		            color: $white;
		            font-size: 1.2em;
		        }
		    }
		}
        .member-initiator {
            @include grid(18,0,1);		
		}
        .member-assigned {
            @include grid(18,0,0);
		}		
	}
	
	#wallposts {
		
		background-color: $gray-light;
		padding: $base-padding 0;
		color: $black;
		
		.wallposts-timeline {
			@include grid(32,1,1);
			float: left;
		}
		
		.wallposts-important {
			@include grid(32,1,1);
			float: right;
		}
		
		.wallpost-action {
			border: 1px dashed $gray;
		}
		.wallpost-author, .wallpost-title {
			color: $color-primary;
		}
	}
}



