// TODO: make generic?

.project-fund-amount-slider {
    border-radius: 1em;
    display: block;
    overflow: hidden;
    background-color: $color-real-white;
    
    .slider-progress {
        position: relative;
        display: block;
        @include border-left-radius(1em);
        background-color: $color-sec;
        color: $color-sec;
        text-align: right;
        white-space: nowrap;
        line-height: 1em;
        height: 1em;
        
        .slider {
            padding: 0 0.5em;
            font-style: normal;
        }

        .slider-percentage {
            visibility: hidden;
        }
    }
}

#project-detail {
    margin-bottom: -30px; // TODO: Quickfix to remove whitespace on bottom
    
    // global layout wrapper
    // TODO: move to global
    .l-wrapper {
        @include outer-container;
        padding-left: $grid-padding;
        padding-right: $grid-padding;
        min-width: 960px;
    }
}

#project-detail-header {
    position: relative;
    min-height: 670px;
    color: $color-text-on-dark;
    top: -96px; // header height
    padding-top: 96px; // header height
    padding-bottom: 120px; // footer height
    margin-bottom: -96px;

    .project-background {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
        background-color: $color-real-black;
        
        .project-background-image {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            @include filter(blur(8px));
            filter: url(#projectBlur);
            @include opacity(.4);
            @include transform(scale(1.05));
        }
    }

    .project-header {
        position: relative;
        padding-top: 40px;

        .project-info {
            @include span-columns(7);

            .project-meta {
                color: $color-sec;

                .project-status {
                    background-color: $color-sec;
                    color: $color-white;
                    text-transform: uppercase;
                    padding: 6px 6px;
                    @include border-radius($radius-medium);
                    font-size: 13px;
                    font-weight: bold;
                    margin-right: 16px;
                }

                .project-campaign {
                    color: $color-sec;
                }
            }

            .project-location {
                @include svg-icon('project-detail-header/icon-location.svg');
                padding: 0 0 0 20px !important;
                margin-right: 30px;
                background-position: 0 40%;
                font-family: $font-family-base !important;
            }

            .project-category {
                @include svg-icon('project-detail-header/icon-category.svg');
                padding-left: 20px;
                background-position: 0 40%;
            }

            .project-title {
                display: inline-block;
                width: 100%;
                text-transform: none;
                font-size: 32px !important;
                line-height: 1.4em;
                font-weight: 900 !important;
                margin-bottom: 10px;
                color: $color-text-on-dark;
                font-family: $font-family-header !important;

                &:first-letter {
                    text-transform: uppercase;
                }
            }

            .project-description {
                position: relative;
                overflow: hidden;
                //white-space: nowrap;
                text-overflow: ellipsis;
                max-height: 102px;
                line-height: 1.5em;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                @include transition(all .2s);

                &.is-active {
                    max-height: 310px;
                    display: block;
                }
            }

            .project-more {
                position: relative;
                bottom: 15px;
                left: 0;
                color: $color-sec;

                &:active {
                    top: inherit;
                    color: $color-pri;
                }
            }
        }

        .project-media {
            @include span-columns(4.5);
            @include shift(0.5);
            @include clearfix;
        }

        .project-owner-actions {
            float: left;
        }

        .project-share {
            top: -5px;
            right: -5px;
            position: relative;
            display: block;
            padding: 0;
            z-index: 199;
            margin-bottom: 5px;
            text-align: right;
            float: right;
        }

        .project-image {
            clear: both;
            //min-width: 360px;
            width: 100%;
            min-height: 180px;
            max-height: 236px;
            color: $color-text-on-dark;
            @include calc(min-height, 330 / 16 * 9px);
            @include calc(max-height, 430 / 16 * 9px);

            iframe {
                min-height: 180px;
                max-height: 236px;
                @include calc(min-height, 330 / 16 * 9px);
                @include calc(max-height, 430 / 16 * 9px);
            }
        }
    }

    #project-bar {
        margin-top: 32px;

        .project-status {
            @include span-columns(7);
            margin-top: 8px;
            font-size: 18px;

            .project-fund {

                .project-fund-amount-slider {
                    background-color: rgba($color-grey-medium, .15);

                    &.is-funded .slider-progress {
                        color: $color-pri;
                        background-color: $color-pri;
                    }
                }

                .project-fund-amount {
                    margin-top: 8px; 
                    float: left;
                    color: $color-text-on-dark !important;
                    text-transform: none !important;

                    .amount-donated {
                        font-size: 24px
                    }

                    .amount-asked {
                        font-weight: bold;
                        @include opacity(0.6);
                        font-style: normal;
                    }
                }

                .project-days-left {
                    float: right;
                    margin-top: 12px;
                    text-indent: 24px;
                    @include opacity(0.6);
                    @include svg-icon('project-detail-header/icon-deadline.svg');
                    color: $color-text-on-dark !important;
                    text-transform: none !important;
                }
            }
        }
    }

    .project-action {
        @include span-columns(4.5);
        @include shift(0.5);
        float: right !important;

        .button {
            width: 100%;
        }

        .project-closed {
            @include border-radius($radius-large);
            border: 1px solid rgba($color-white, 0.6);
            padding: .3em 1em .3em 1em;
            color: $color-text-on-dark;
            text-align: center;
            @include opacity(0.6);
        }
    }

    #project-users {
        clear: both;
        position: absolute;
        bottom: 0px;
        padding: 17px 0 24px 0;
        width: 100%;
        background: rgba($color-grey-medium , 0.15);

        .project-initiator {
            @include span-columns(4);
            
            .user {
                text-decoration: none;
                margin-top: 5px;

                &:hover, &:active {

                    em {
                        color: $color-pri !important;
                    }
                }

            }

            .user-avatar {
                height: 72px;
                width: 72px;
                float: left;
                margin-right: 14px;
                border: 1px solid $color-grey-lightest;
                @include border-radius($radius-small);
            }

            .user-name {
                text-transform: none;
                color: $color-text-on-dark;

                em {
                    font-weight: bold;
                    font-style: normal;
                    color: $color-sec !important;
                    text-decoration: underline !important;
                }
            }
        }

        .project-supporters {
            @include span-columns(8);
            text-align: right;

            strong {
                
                em {
                    font-weight: normal;
                    font-style: normal;
                    @include opacity(0.6);
                }

            }

            ul {
                margin: 4px 0 0 0;


                li {
                    display: block;
                    float: right;
                    padding: 0;
                    margin: 0 0 0 1px;
                    background-image: none;
                    
                    .user, img {
                        display: inline-block;
                        width: 44px;
                        height: 44px;
                    }
                }                    
            }
        }
    }
    
    // Campaign without funding
    &.without {
        height: 480px;

        .project-background {
            height: 480px;

            .project-background-image {
                height: 482px;
            }
        }
    }

    // Task detail specific
    &.task-detail {
        min-height: 520px;

        .task-meta {
            clear: both;
            margin: 0;
            padding: 0;
            list-style-type: none;
            @include opacity(0.6);
            border-top: 1px solid rgba($color-white, 0.6);

            li {
                background-image: none;
                line-height: 30px;
                background-position: 6px 50%;
                text-indent: 14px;
                font-weight: bold;

                &:first-letter {
                    text-transform: uppercase;
                }

                &.task-location {
                    @include svg-icon('tasks/icon-task-location.svg');
                }

                &.task-time {
                    @include svg-icon('tasks/icon-task-time.svg');
                }

                &.task-deadline {
                    @include svg-icon('tasks/icon-task-deadline.svg');
                }

                &.task-users {
                    @include svg-icon('tasks/icon-task-users.svg');
                }
            }
        }
        
        .project-action {
            margin-top: 10px;
        }
    }
}