#l-wall {
	clear: both;
	background-color: $color-grey-back;
}

#wall {
	padding-top: 30px;
	padding-bottom: 30px;
	@include outer-container;
}

#wallposts {
	@include span-columns(7);
}

#sidebar {
	@include span-columns(4.5);
	@include shift(0.5);
}