#l-wall {
	clear: both;
	background-color: $color-grey-back;
}

#wall {
	@include outer-container;
	padding: 30px $grid-padding;
	
}

#wallposts {
	@include span-columns(7);
}

#sidebar {
	@include span-columns(4.5);
	@include shift(0.5);
	float: right;
}