{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}

{% block module_content %}
    <ul>
        {% spaceless %}
            {% for project in module.children %}
                <li class="{% cycle 'odd' 'even' %}">
                    <a href="{{ project.admin_url }}" >{{ project.title }}</a>
                    <ul>
                        <li>
                            <b>{{ project.status }}</b>
                        </li>
                        <li>
                            {{ project.created|date }}
                        </li>
                    </ul>
                </li>
            {% endfor %}
        {% endspaceless %}
    </ul>
{% endblock %}
