{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans %}

        Hello {{ first_name }},
        <br><br>
        {{ author }} added a new post on a {{ follow_object }} you follow:
        <br><br>
        <i>{{ wallpost_text }}...</i>
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action-email">{% trans 'View full update' context 'email' %}</a>
    <a href="{{ site }}{{ unsubscribe_link }}"
       class="action-email">{% trans 'Unsubscribe' context 'email' %}</a>

{% endblock %}
