{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans %}

        Hello {{ first_name }},
        <br><br>
        {{ author }} added a new post on a {{ follow_object }} you follow:
        <br><br>
        <i>{{ wallpost_text }}...</i>

        <p>
            You received this email because you support {{ title }}.
            Don't want to receive project updates anymore?
            <a href="{{ site }}{{ unsubscribe_link }}">
                Unsubscribe
            </a> via your account page
        </p>
    {% endblocktrans %}

{% endblock %}

{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action-email">{% trans 'View full update' context 'email' %}</a>
{% endblock %}
