// FOOTER

#footer {
	position: relative;
	background-color: $footer-bg-color;
    
    ul, li {
    	margin: 0;
        padding: 0;
        list-style: none;
        background-image: none;
    }
    
	.footer-content {
	    @include grid(48,1);
	    padding: $base-padding*2 0;
	    color: $footer-content-color;
	    
	    hr {
	        margin: $base-margin*2 0;
	    }
	
	    ul {
	        margin: 0;
	        list-style: none;
	    }
	    
		h3 {
		    font-size: $base-font-size;
		    margin-bottom: $base-margin/2;
		    color: $footer-heading-color;
		}
	}
	
	.footer-menu {
	    @include clearfix;
	    color: $footer-menu-color;
	    text-transform: uppercase;
	    
	    a {
			color: $footer-menu-link-color;
			text-decoration: none;
			
			&:hover, &:active {
				color: $footer-menu-link-hover-color;
			}
	    }
	
	    > li {
	        @include grid(12);
	    }
	    
	    .start-your-project {
		    margin-top: $base-margin;
		    font-family: $font-family-heavy;
	    }
	}
	
	.footer-news {
		text-transform: uppercase;
		
		a {
			text-decoration: none;
		}
	}
	
	.footer-news,
	.footer-join-us {
	    @include grid(24);
	    position: relative;
	
	    .btn {
	        float: right;
	    }
	}
	
	.footer-join-us ul {
		@include grid(24);
	}
		
	iframe {
		width: 38% !important;
		float: left;
	}
	
	.footer-social-links {
	    @include clear;
	    clear: both;
		padding-top: $base-margin;
		
	    li {
	        display: inline;
	        
	        a {
	            @include transition(all 0.2s ease-out);
	            display: inline-block;
    	        margin-right: $base-margin/4;
	            padding-top: $base-margin/2;
	            float: left;
	            width: 2em;
	            height: 2em;
	            text-align: center;
	            font-size: $font-size-medium;
	            background-color: $footer-social-links-bg-color;
	            
	             &:hover {
	                background-color: $footer-social-links-hover-bg-color;
	            }
	        }
	        
	        .flaticon {
	            color: $footer-social-links-icon-color;
	        }
	    }
	}
	
	// COPYRIGHT
	.copyright {
		position: absolute;
		bottom: 0;
		background-color: $footer-copyright-bg-color;
		width: 100%;
		
	    ul {
	        @include grid(48,1);
	        font-size: $font-size-smallest;
	        margin-bottom: 0;
	        color: $footer-copyright-color;
	        list-style: none;
	
	        li {
	            margin-right: $base-margin;
	            padding: $base-padding 0;
	            float: left;
	            line-height: 1;
	
	            &:last-child {
	                float: right;
	                margin-right: 0;
	            }
	
	            a {
	                color: $footer-copyright-link-color;
	                text-decoration: underline;
	
	                &.feedback {
	                    color: $footer-copyright-link-feedback-color;
	                    text-transform: uppercase;
	                }
	                
	                &:hover, &:active {
		                color: $footer-copyright-link-hover-color;
	                }
	            }
	        }
	    }
	}
}
