/* =========== Global Layout */

// Global Layout Elements
// -------------------------

#site {
    .flash-container {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(24,24,24, .60);
        z-index: 9999;
        cursor: pointer;
        @include animation(fadeOut .3s ease-out);
        @include animation-fill-mode(forwards);

        &.is-active{
            @include animation(fadeIn .3s ease-out);
        }

        & > .flash {
            position: fixed;
            text-align: center;
            left: 0;
            right: 0;
            margin-top: 112px;
            margin-left: auto;
            margin-right: auto;
            min-height: 209px;
            width: 251px;
            padding: 15px;
            background-color: rgb(24, 24, 24);
            border-radius: 8px;
            z-index: 1000;
            color: white;
            text-align: center;
            @include opacity(.9);
            @include animation(fadeOut .3s ease-out);
            @include animation-fill-mode(forwards);

            &.is-active {
                @include opacity(.9);
                @include animation(fadeIn .3s ease-out);
            }

            .flash-icon {
                width: 75px;
                height: 75px;
                display: inline-block;
                margin-top: 36px;

                &.welcome {
                    background: image-url("icons/icon-toast-correct.svg") transparent no-repeat;
                }

                &.reset {
                    background: image-url("icons/icon-toast-password-reset.svg") transparent no-repeat;
                }

                &.is-loading {
                    background: image-url("loaders/loader-toast-darkgrey.gif") transparent no-repeat;
                }
            }

            .flash-heading {
                display: block;
                margin-top: 10px;
            }

        }
    }
}

#main {

}

.is-blocked {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 990;
}

.l-section {
    width: 100%;
	min-width: $min-width;
	max-width: 100%;
}

.l-wrapper {
	@include clear;
	position: relative;
	min-width: $min-width;
	max-width: $max-width;
	margin: 0 auto;
	height: 100%;
}

.l-content, .l-header {
	@include grid(32,1,1);
}

.l-sidebar {
	@include grid(16,1,1);
	margin-top: $base-padding*2;
}

.l-results {
	
}

.l-results-item {
	
}
/* =========== Content Layout */

// Specific Layout Elements
// -------------------------

.l-full {
	@include grid(48,1,1);
}

.l-two-third {
	@include grid(32,1,1);
}

.l-half {
	@include grid(24,1,1);
}

.l-one-third {
	@include grid(16,1,1);
}

.l-quarter {
	@include grid(12,1,1);
}

.l-center {
	margin-left: auto;
	margin-right: auto;
}

// Reusable layout for content 
// (classes are assigned by backend)
// -------------------------

.image {
	
	img {
    	width: 100%;
    	position: relative;
    	vertical-align: middle;
    }
}

.text {
    //white-space: pre-line;
}

.text a {
    
}

.text.align-float-left {
	@include grid(24,0,2);
    float: left;
}

.text.align-float-right {
	@include grid(24,0,2);
    float: right;
}

text.align-center {
	clear: both;
	@include grid(24,12,12);
}

.image.align-float-left {
	@include grid(16,0,2);
    float: left;
    clear: both;

    img {
    	width: 100%;
    	position: relative;
    	vertical-align: middle;
    }

    + .text {
    	clear: right !important;
	    @include grid(32,0);
    }
}

.image.align-float-right {
	@include grid(16,1);
    float: right;
    clear: both;

    img {
    	width: 100%;
    	position: relative;
    	vertical-align: middle;
    }

    + .text {
    	clear: left !important;
	    @include grid(32,0); 

		h3 {
			padding-top: 0 !important;
		}
    }
}

.image.align-center {
	clear: both;
	
    img {
	    width: 100%;
    }

}

.left { float: left; }
.right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.nowrap { white-space: nowrap; }


// Responsive 
// TODO ?
// -------------------------


/* Tablets */
@media only screen and (max-width: 960px) {
    //body { font-size: 14px; }
}

/* Phones */
@media only screen and (max-width: 520px) {
    //header, div.container section { @include grid-reset; }
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
    
}

