body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-text;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
}

// basic text styles
// -------------------------

p {
    margin: 0 0 1em 0;
}

small {
    font-size: 12px;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

cite {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

// button
// Todo: change to .btn
// -------------------------

form.error {

}

label.error {
    background-color: $color-error-back;
    color: $color-error;
    border: 1px solid $color-error;
    padding: 5px 20px;
    text-align: center;
    margin: 0;
}

button, .button {
    //@include transition(padding 0.1s ease-in-out);
    font-family: $font-family-header;
    font-weight: 700;
    position: relative;
    display: inline-block;
    min-width: 75px;
    padding: 0.3em 1em calc(0.3em + 1px) 1em;
    -webkit-transform: scale(1);
    vertical-align: center;
    text-transform: inherit;
    color: $color-real-white !important;
    border: none;
    border-radius: $radius-large;
    background: $color-sec;
    box-shadow: 0 -1px 0 0 $color-sec-shadow inset;
    // fix for chrome animation bug
    -webkit-backface-visibility: hidden;
    top: 1px;

    &:hover {
        box-shadow: 0 -2px 0 0 $color-sec-shadow inset;
        padding-bottom: calc(0.3em + 2px);
        top: 0;
    }

    &:active {
        color: $color-sec !important;
        background: $color-sec-shadow !important;
        //box-shadow: 0 1px 0 0 $color-black inset;
        box-shadow: none;
        padding: 0.3em 1em calc(0.3em) 1em;

        span {
            background: transparent !important; // TODO: Reset old flaticon
        }
    }

    &:focus {
        outline: none;
        // box-shadow: 0 0 3px 0px lighten($color-sec, 10%);
    }
}
