body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-text;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
}

// basic text styles
// -------------------------

p {
    margin: 0 0 1em 0;
}

small {
    font-size: 12px;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

cite {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

