{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
    <p>
        {% blocktrans context 'platform-email' %}
          You have registered your team for <b>{{ title }}!</b>
        {% endblocktrans %}
    </p>

    <p>
    <p>
        {% translate "What's next:" context 'platform-email' %}
        <ul>
            <li>
                <b>{% translate "Review" context 'platform-email' %}</b> -
                {% translate "The activity manager will review your application." context 'platform-email' %}
            </li>
            <li>
                <b>{% translate "Schedule" context 'platform-email' %}</b> -
                {% translate "When you are accepted the activity manager will contact you to discuss a specific date, time and location." context 'platform-email' %}
            </li>
            <li>
                <b>{% translate "Invite" context 'platform-email' %}</b> -
                {% translate "You can invite people to your team while you wait to be scheduled or do it when the date, time and location is confirmed." context 'platform-email' %}
            </li>
        </ul>
    </p>
{% endblock %}

{% block end_message %}
  {% include 'mails/messages/partials/withdraw_notification.html' %}
{% endblock %}
