{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
  <p>
    {% blocktrans context 'email' %}
      You have registered your team for <b>{{ title }}!</b>
    {% endblocktrans %}
  </p>

    <p>
        {% translate "What's next:" context 'email' %}
        <ul>
            <li>
                <b>{% translate "Schedule" context 'email' %}</b> -
                {% translate "The activity manager will contact you to discuss a specific date, time and location." context 'email' %}
            </li>
            <li>
                <b>{% translate "Invite" context 'email' %}</b> -
                {% translate "You can invite people to your team while you wait to be scheduled or do it when the date, time and location is confirmed." context 'email' %}
            </li>
        </ul>
    </p>
{% endblock %}


{% block end_message %}
  {% include 'mails/messages/partials/withdraw_notification.html' %}
{% endblock %}
