{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
    <p>
        {% blocktrans context 'email' %}
          You have registered your team for <b>{{ title }}!</b>
        {% endblocktrans %}
    </p>

    <p>
    <p>
        {% translate "What's next:" %}
        <ul>
            <li>
                <b>{% translate "Review" %}</b> -
                {% translate "The activity manager will review your application." %}
            </li>
            <li>
                <b>{% translate "Schedule" %}</b> -
                {% translate "When you are accepted the activity manager will contact you to discuss a specific date, time and location." %}
            </li>
            <li>
                <b>{% translate "Invite" %}</b> -
                {% translate "You can invite people to your team while you wait to be scheduled or do it when the date, time and location is confirmed." %}
            </li>
        </ul>
    </p>
{% endblock %}

{% block end_message %}
    <p>
        <i>
            {% blocktrans context 'email' %}
              If your team is unable to participate, please withdraw via the activity page so that another team can take your place.
            {% endblocktrans %}
        </i>
    </p>
{% endblock %}
