{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
    <p>
        {% blocktrans context 'email' %}
          You joined an activity on <b>{{ site_name }}!</b>
        {% endblocktrans %}
    </p>

    <p>
        <b>{{ title }}</b>
    </p>

    <p>
        {% translate "What's next:" context 'email' %}
        <ul>
            <li>
                <b>{% translate "Schedule" context 'email' %}</b> -
                {% translate "The activity manager will contact you to discuss a specific date, time and location." context 'email' %}
            </li>
            {% if hour_registration %}
                <li>
                    <b>{% translate "Hour registration" context 'email' %}</b> -
                    {% blocktrans context 'email' %}
                        Make sure to register your hours using the code or URL found on the activity detail page.
                    {% endblocktrans %}
                </li>
            {% endif %}
        </ul>
    </p>
{% endblock %}
