//
// Buttons & special 
// --------------------------------------------------

// Default button
.btn {
    @include transition(all 0.1s ease-out);
    @include border-radius(1px);
	position: relative;
	font-family: $font-family-heavy;
    font-size: $font-size-large;
    line-height: $base-line-height;
    padding: $base-padding/2 $base-padding;
    display: inline-block;
    border: 1px solid $button-border-color;
    background-color: $button-bg-color;
    color: $button-color; 
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    vertical-align: top;
    
    // Button with an icon
	&.btn-iconed {
		position: relative;
		padding-left: $base-padding*3.5;
		
		.flaticon, .icon {
			padding: 0 $base-padding/2 0 $base-padding/2;
			position: absolute;
			top: 0;
			left: 0;
			width: 2em;
			height: 100%;
			line-height: 2.25em;
	        display: inline-block;
	        background: $button-iconed-icon-bg-color; 
	        color: $button-iconed-icon-color;
	        text-align: center;
			vertical-align: middle;
	    }
	    
	    .flaticon {
	        font-size: 24px;
	    }
	    
	    .icon {
	    	font-family: $font-family-bold;
	    	font-size: 32px;
	    	font-style: normal;
	    }
	    
	    &:hover {
    	
        	.flaticon, .icon {
            	background-color: $button-iconed-hover-icon-bg-color;
            	color: $button-iconed-hover-icon-color;
			}
		}

		&:active {
		    padding-left: $base-padding*3.5;
		    
			.flaticon, .icon {
            	background: $button-iconed-active-icon-bg-color;
				color: $button-iconed-active-icon-color;
			}
		
		}
	}
    
    // Primary buttons
    &.btn-primary {
    	border: 1px solid $button-primary-border-color; 
		background-color: $button-primary-bg-color;
		
		
		.flaticon, .icon {
			background-color: $button-primary-icon-bg-color;
			color: $button-primary-icon-color;
		}
	}
	
    // Button states
	&:hover {
    	border-color: $button-hover-border-color; 
    	background-color: $button-hover-bg-color; 
    	color: $button-hover-color; 
	}
	
	&:focus {
    	outline: 0;
	}

    &:active {
    	top: 0;
        background-color: $button-active-bg-color;
        color: $button-active-color;
        border-top-width: 0.30em;
        border-color: $button-active-color;
        padding: $base-padding/2 $base-padding ($base-padding/2 - 0.25em) $base-padding;
    }
    
    // Needed for position changing on active
    &:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
	
	// Disabled buttons
    &.disabled, &[disabled], &.disabled:hover, &[disabled]:hover, &.disabled:active, &[disabled]:active {
	    border-top-width: 1px;
    	top: auto;
        border-color: $button-disabled-border-color;
        background-color: $button-disabled-bg-color;
        color: $button-disabled-color;
        cursor: default;
        padding: $base-padding/2 $base-padding;
        
        .flaticon, .icon {
			background: $button-disabled-icon-bg-color;
			color: $button-disabled-icon-color;
		}
		
		&.btn-iconed {
		    padding-left: $base-padding*3.5;
		}
    }
    &.btn-block {
    	width: 100%;
    	text-align: center;
    }
}

	
// Upload button (we hide everything and make a button out of it)
.btn-upload {
    position: relative;
    
    input {
        @include opacity(0);
        cursor: pointer;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
        width: auto;
    }
}
    
 
// Allignment

.btn-submit, .btn-next, .btn-save {
    float: right;
}

.btn-cancel {
    float: left;
}

.btn-add {
    
}

.btn-show-more {
    
}

btn-login {
    
}

.btn-login {
	display: inline-block;
	padding: $base-padding/2 0;
	color: $color-text;
	font-size: $base-font-size;
	text-decoration: none;
	margin: $base-margin 0;
	
	.flaticon {
		float: left;
		margin-right: $base-margin/2;
	}
	
	strong {
		color: $color-secondary;
	}
	
	&:hover, &:hover strong {
		color: $color-primary;
	}
}


// Other buttons (links)


.btn-link {
    display: inline-block;
    font-size: $font-size-large;
    color: $color-text;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    padding: $base-padding/2 0;

    .flaticon {
     	margin-right: $base-margin/4;
    }
    
    small {
        
    }
    
    &:hover, &:active {
        color: $color-secondary;
    }
}