//
// Tabs
// --------------------------------------------------

.tabs {
    @include clear;
    padding: 0;
    margin-top: $base-margin;
    margin-left: 0;
    margin-bottom: 0;
    
    li {
        @include grid(12,0,0); // default
        @include resetlist;
        display: inline;
        position: relative;
        
       	> a, > span {
            color: $tabs-tabitem-bg-color;
            display: block;
            overflow: hidden;
            text-decoration: none;
            padding: $base-padding $base-padding $base-padding/2 $base-padding;
            text-transform: uppercase;
            
            .tab-icon {
                @include transition(all 0.1s ease-out);
                display: block;
                float: left;
                background-color: $tabs-tabitem-icon-bg-color;
                @include border-radius(16px);
                width: 32px;
                height: 32px;
                line-height: 32px;
                font-family: $font-family-heavy;
                text-align: center;
                color: $tabs-tabitem-icon-text-color;
            }
            
            .tab-title {
                display: block;
                font-size: $font-size-small;
                line-height: 1.3em;
                margin-left: 2em + $base-margin;
            }
            
            .tab-subtitle {
                display: block;
                font-size: $font-size-smallest;
                font-style: normal;
                font-family: $base-font-family;
            }
            
            &:hover {
                color: $tabs-tabitem-hover-text-color;
                
                .tab-icon {
                    background-color: $tabs-tabitem-hover-icon-text-color;
                }
                
            }
            
            // Needed for position changing on active
            &:before {
        	    content: '';
        	    position: absolute;
        	    top: 0;
        	    right: 0;
        	    bottom: 0;
        	    left: 0;
        	}
	        
	    }
        
        &:first-of-type > a, &:first-of-type > span {
		}

    }
    
    // TODO create only one type for active state: li.is-active
    li.is-active > a, li > a.active, li.is-active > span, li > span.active {
    	background-color: $tabs-tabitem-active-bg-color;
    	border-color: $tabs-tabitem-active-border-color;
    	border-bottom: 6px solid $tabs-tabitem-active-border-color;
    	
    	.tab-icon {
            background-color: $tabs-tabitem-active-icon-bg-color;
            color: $tabs-tabitem-active-icon-color;
        }
        
        .tab-title {
            color: $tabs-tabitem-active-title-color;
        }
        
        .tab-subtitle {
            color: $tabs-tabitem-active-subtitle-color;
        } 
    }
    
    &.steps {
    	margin-bottom: 2px;
    	font-family: $font-family-heavy;
    	
        &.two li {
            @include grid(24,0,0);
        } 
         
        &.three li {
            @include grid(16,0,0);
        } 
        
        &.four li {
            @include grid(12,0,0);
        }
        
        &.five li {
            @include grid(9.5,0,0);
        }
     
	    li > a, li > span {
	    	display: block;
		    padding: $base-padding;
		    color: $tabs-steps-tabitem-color;
		    background: image-url("steps-back.png") $tabs-steps-tabitem-bg-color no-repeat 100% 50%;
		    border: none;
		    
		    .flaticon {
			    margin: 0 $base-margin/2;
		    }
		    
		    &:hover, &:active {
			    color: $gray;
		    }
	    }
	    
		li.is-selected > a, li.is-selected > span {
			background: image-url("steps-back-selected.png") $tabs-steps-tabitem-selected-bg-color no-repeat 100% 50%;
			color: $tabs-steps-tabitem-selected-color;
			
			.tab-icon .flaticon:before {
				content: "\e1ba"; // replace with ok
			}
			
			&:hover, &:active {
				color: $tabs-steps-tabitem-selected-hover-color;
			}
			
		}
	    
	   	li > a.active, li > span.active  {
			border-color: $tabs-steps-tabitem-active-border-color;
			color: $tabs-steps-tabitem-active-color;
			background: image-url("steps-back-active.png") $tabs-steps-tabitem-active-color no-repeat 100% 50%;
			
			.tab-icon {
				background-color: $tabs-steps-tabitem-active-icon-bg-color;
				color: $tabs-steps-tabitem-active-icon-color;
			}
			
			.tab-title {
				color: $tabs-steps-tabitem-active-title-color;
			}
			
			.tab-subtitle {
				color: $tabs-steps-tabitem-active-subtitle-color;
			} 
			
		} 
		
		li.is-inactive > a, li.is-inactive > span {
			
			.tab-icon {
				background-color: $tabs-steps-tabitem-inactive-icon-bg-color;
				color: $tabs-steps-tabitem-inactive-icon-color;
			}
			
			.tab-title {
				color: $tabs-steps-tabitem-inactive-title-color;
			}
			
			.tab-subtitle {
				color: $tabs-steps-tabitem-inactive-subtitle-color;
			} 
			
		}
		
		li:last-of-type > a, li:last-of-type > span {
			background: $tabs-steps-tabitem-last-bg-color;
		}
		
		li:last-of-type > a.active, li:last-of-type > span.active {
			background: $tabs-steps-tabitem-last-active-bg-color;
		}
    }
}



