.activity {
    font-size: 13px;
    line-height: 1.5em;
    margin-bottom: 40px;
    color: $color-grey;
    
    .user-name {
        font-weight: bold;
    }

    a.user-name {
        color: $color-sec;
    }

    a {
        text-decoration: none;
        color: $color-grey;

        .user-name {
            color: $color-sec;
        }

        &:hover, &:active {
            color: $color-text;
                
            .timestamp {
                color: $color-grey;
            }

            .user-name {
                color: $color-text;
            }
        }
    }

    .activity-header {
        overflow: hidden;
        margin-bottom: 10px;
    }

    .activity-title {
        font-family: $font-family-base;
        font-size: 18px;
        line-height: 1.5em;
        font-weight: bold;
        color: $color-grey;
        padding-bottom: 10px;
        text-indent: 40px;
        background-position: 4px 4px;
        text-transform: none;
    }

    .activity-list {
        margin: 0;
        padding: 0;
    }

    .activity-item {
        margin: 15px 0;
        padding: 0;
        background-image: none;
        @include clearfix;

        .item-link {
            display: block;
            @include transition(color .16s ease-out);
        }

        p {
            margin: 5px 0 5px 0;
        }

        .user-avatar {
            float: left;
            margin: 0 20px 10px 0;
            padding: 0;

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
        }

        .item-body {
            overflow: hidden;
            padding-bottom: 5px;
        }

        .action-edit {
            width: 14px;
            height: 14px;
            @include hide-text;
            @include svg-icon('sidebar/icon-edit.svg', #9F9F9F, $color-grey);

            &:hover, &:active {
                @include svg-icon('sidebar/icon-edit.svg', #9F9F9F, $color-black);
            }
        }

        .item-actions {

            .action-status {
                color: $color-text;
                font-weight: bold;
            }
        }
        
        .action-edit {
            float: right;
        }
    }

    .activity-footer {
        margin-top: 15px;
    }

    .activity-action {
        display: block;
        padding-left: 55px;
        @include svg-icon('sidebar/icon-sidebar-add.svg', #9F9F9F, $color-grey);

        strong {
            color: $color-pri;
        }

        &:hover, &:active {
        }
    }

    &.activity-hide {
        display: none;
    }
}

#fundraiser-list {

    .progress-bar {
        position: relative;
        top: 5px;
        display: block;
        margin-right: 30%;

        .project-fund-amount-slider {
            border: none;
            background-color: $color-real-white;

            .slider-progress {
                height: 5px;
                padding: 0;
            }
        }
    }
}

#task-list, #files-list {
    background: none;
    
    .activity-header {
        margin-bottom: 0px;
    }

    .activity-item {
        margin: 0 0 8px 0;
    }

    // todo: refactor with classnames
    .activity-item a {
        position: relative;
        display: block;
        height: 70px;
        padding: 10px 85px 10px 15px;
        border: 1px solid $color-grey-medium;
        border-radius: $radius-medium;
        background-color: $color-real-white;
        @include transition(border 0.1s ease-out);

        .item-title {
            font-size: 15px;
            line-height: 1.1em;
            display: block;
            overflow: hidden;
            height: 2.2em;
            margin: 0;
            text-overflow: ellipsis;
            color: $color-text;

            &:first-letter {
                text-transform: uppercase;
            }
        }

        .item-meta {

            em {
                font-style: normal;
            }

            span {
                display: inline;
                margin-right: 10px;
            }
        }

        .item-status {
            font-weight: bold;
            font-style: normal;
            position: absolute;
            top: -1px;
            right: -1px;
            display: block;
            width: 70px;
            height: 70px;
            padding-top: 45px;
            text-align: center;
            text-transform: uppercase;
            color: $color-text-on-dark;
            background-color: $color-sec;
            @include border-right-radius($radius-medium);
            background-position: 50% 33%;
            
            @include transition(background-color 0.1s ease-out);

            &.task-open {
                background-color: $color-sec;
                @include svg-icon('sidebar/icon-task-open.svg');
            }

            &.task-running {
                background-color: $color-sec;
                @include svg-icon('sidebar/icon-task-open.svg');
            }

            &.task-closed {
                background-color: $color-grey-medium;
                @include svg-icon('sidebar/icon-task-done.svg');
            }

            &.task-done {
                background-color: $color-grey-medium;
                @include svg-icon('sidebar/icon-task-done.svg');
            }

            &.file-download {
                @include hide-text;
                background-color: $color-grey-medium;
                @include svg-icon('sidebar/icon-download.svg');
                background-position: 50% 50%;
            }
        }

        &:hover, &:active {
            border-color: $color-grey;

            .item-status {
                @include hide-text;
                background-color: $color-grey;
                @include svg-icon('sidebar/icon-arrow-right.svg');
                background-position: 50% 50%;
            }

            .file-download {
                @include svg-icon('sidebar/icon-download.svg');
                background-position: 50% 52%;
            }

        }
    }
}

#fundraiser-list {

    .activity-header {
        border-bottom: 1px solid $color-grey-medium;
    }

    .activity-title {
        @include svg-icon('sidebar/icon-fundraisers.svg', #999, $color-grey);
    }
}

#task-list {

    .activity-title {
        @include svg-icon('sidebar/icon-tasks.svg', #999, $color-grey);
    }

}

#supporter-list, #task-user-list {
    
    .activity-header {
        border-bottom: 1px solid $color-grey-medium;
    }

    .activity-title {
        @include svg-icon('sidebar/icon-supporters.svg', #999, $color-grey);
    }
}

#files-list {

    .activity-title {
        @include svg-icon('sidebar/icon-files.svg', #999, $color-grey);
    }
}