.share-action {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    min-width: 150px;

    li {
        margin: 0;
        padding: 0;
        background-image: none;
    }
    
    ul {
        display: none;
    }

    .actions-dropdown {
        @include border-top-radius($radius-large);
        display: inline-block;
        position: relative;
        font-size: 15px;
        padding: 0;
        margin: 0;
        color: $color-text-on-dark;
        @include svg-icon('share/icon-share.svg', #F8F7F8, $color-white);
        background-position: 10px 12px;

        strong {
            display: inline-block;
            padding: 6px 35px 6px 35px;
            @include svg-icon('share/icon-share-dropdown.svg', #F8F7F8, $color-white);
            background-position: 93% 50%;
            cursor: pointer;
        }

        &:hover {
            @include box-shadow(rgba(0,0,0, .5) 0 0 4px 0);
            color: $color-sec;
            background-color: $color-real-white;
            @include svg-icon('share/icon-share.svg', #F8F7F8, $color-sec);

            strong {
                @include svg-icon('share/icon-share-dropdown.svg', #F8F7F8, $color-sec);
            }

            ul {
                display: block;
                //@include animation(fadeIn .2s ease-in-out);
            }
        }
    }

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 200;
        background-color: $color-real-white;
        border-top: 1px solid $color-white;
        @include border-bottom-radius($radius-large);
        font-size: 13px;

        li {
            
            a {
                display: inline-block;
                padding: 3px 20px 3px 35px;
                background-position: 15px 45%;
                color: $color-grey;
                text-decoration: none;

                &.action-facebook {
                    @include svg-icon('share/icon-share-facebook.svg');
                }

                &.action-twitter {
                    @include svg-icon('share/icon-share-twitter.svg');
                }

                &.action-linkedin {
                    @include svg-icon('share/icon-share-linkedin.svg');
                }

                &.action-embed {
                    @include svg-icon('share/icon-share-embed.svg');
                }

                &.action-copy {
                    @include svg-icon('share/icon-share-copy.svg');
                }

                &:hover, &:active {
                    color: $color-sec;
                    text-decoration: underline;
                    background-position: 17px 45%;
                }

            }
        }
    }
}