// global wallposts & comments
.m-wallpost, .m-comment {
    position: relative;
    clear: both;

    a {
        text-decoration: none;
    }

    .user-avatar {
        float: left;
        margin: 0 20px 10px 0;
        padding: 0;
        cursor: pointer;

        img {
            background-color: $color-grey-back;
        }
    }

    .user-name {
        font-family: $font-family-header;
        font-size: 18px;
        font-weight: 700;
        display: block;
        margin-top: 10px;
        color: $color-sec !important;
        text-transform: capitalize;
    }

    .timestamp {
        font-size: 16px;
        color: $color-grey;
    }

    .owner-actions {
        position: absolute;
        top: 2px;
        right: 20px;
    }

    .wallpost-body, .comment-body {

        a {
            color: $color-sec !important;

            &:hover, &:active {
                text-decoration: underline !important;
            }
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

// wallpost
.m-wallpost {
    font-size: 15px;
    line-height: 1.5em;
    margin: 0 0 30px 0;
    border: 1px solid $color-grey-medium;
    border-radius: $radius-medium;
    background-color: $color-real-white;
 
    .wallpost-header {
        @include clearfix;
        padding: 20px 20px 0 20px;
    }

    .user-avatar {
        img {
            width: 70px;
            height: 70px;
        }
    }

    .wallpost-body {
        @include break-all-words;
        clear: both;
        padding: 0 20px 20px 20px;

        &:first-letter {
            text-transform: uppercase;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

.m-wallpost-system {
    background-color: $color-grey-lightest;
    color: $color-grey;

    .wallpost-header {
        padding-top: 10px;
    }

    .user-name {

        font-size: 15px;
        display: inline;
        line-height: 1.7em;
        font-family: $font-family-base;
    }

    .timestamp {
        float: right;
        font-size: 13px;
    }

    em {
        font-style: normal;
    }

    .user-avatar {
        position: relative;
        left: -2px;
        margin-right: 13px;

        img {
            width: 25px;
            height: 25px;
        }
    }
}


// photos
.photo-viewer {
    overflow: hidden;
    margin: 0 -10px 0 0;
    padding: 0;
    list-style-type: none;

    .cover, .photo {
        display: block;
        margin: 10px 0 0 0;
        padding: 0 10px 0 0;
        width: 100%;
        background-image: none;
    }

    .photo {
        display: block;
        float: left;
        width: 20%;
        margin: 10px 0 0 0;
        padding: 0 10px 0 0;
    }

    img {
        width: 100%;
        height: auto;
        background-color: $color-grey-back;
    }
}

// comments
.m-comment {
    font-size: 15px;
    line-height: 1.5em;
    margin: 0 0 30px 0;
    color: $color-text;
    padding: 0; // TODO: change global list
    border: 1px solid $color-grey-medium;
    border-radius: $radius-medium;
    background-color: $color-grey-lightest;
    background-image: none; // TODO: change global list

    .comment-header {
        padding: 20px 20px 0 20px;
    }

    .user-name {
        font-size: 15px;
        display: inline;
    }

    .timestamp {
        float: none;
        font-size: 15px;
    }

    .comment-body {
        @include break-all-words;
        overflow: hidden;
        padding: 0 20px 20px 0;

        &:first-letter {
            text-transform: uppercase;
        }
    }

    .user-avatar {
        
        img {
            width: 50px;
            height: 50px;
        }
    }

    // nested comments
    .m-comment {
        padding-left: 20px;

        .user-avatar img {
            width: 30px;
            height: 30px;
        }
    }
}

// comments list 
.comments {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .m-comment {
        margin: 0;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: $color-grey-medium;
        border-radius: 0;
        @include border-bottom-radius($radius-medium);
    }
}

// post comment (reply)
.m-comment-form {
    // TODO: move to (global) forms
    border-top: 1px solid $color-grey-medium;

    form, fieldset {
        position: relative;
        margin: 0;
        padding: 0;
        border: 0;
    }

    textarea {
        @include border-bottom-radius($radius-medium);
        font-family: $font-family-base;
        line-height: 1.5em;
        width: 100%;
        height: calc(1.5em + 20px);
        margin: 0;
        padding: 0;
        padding: 10px 20px 10px 58px;
        border: none;
        box-shadow: none;
        @include svg-icon('wallposts/icon-comment-write.svg');
        background-position: 20px 12px;
        @include transition(all .2s $ease-in-out-cubic);
    }

    label {
        width: calc(100% + 2px);
        margin: -1px -1px 0 -1px;
    }

    .comment-form-footer {
        @include clearfix;
        @include transition(height .2s $ease-in-out-cubic);
        height: 0;
        padding: 0;
        overflow: hidden;
        background-color: $color-grey-lightest;
        @include border-bottom-radius($radius-medium);
        
        .comment-form-actions {
            float: right;
            padding: 7px;
        }
    }

    &.is-active {

        textarea {
            @include border-radius(0);
            height: calc(5.5em + 20px);
        }

        .comment-form-footer {
            height: 50px;
            border-top: solid 1px $color-grey-medium;
        }
    }
}