.wallpost-update {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid $color-grey-medium;
    border-radius: $radius-medium;
    background: $color-real-white;
    @include clearfix;

    .wallpost-update-header {
        padding: 10px 20px;
        border-bottom: solid 1px $color-grey-medium;
        @include outer-container;
        @include clearfix;

        .wallpost-update-title {
            color: $color-sec;
            @include span-columns(6);
            @include svg-icon('wallposts/icon-update-status.svg', #00C051, $color-sec);
            text-indent: 31px;
            background-position: 0 50%;
        }

        .wallpost-header-action {
            text-align: right;
            font-size: 13px;
            @include span-columns(6);

            ul {
                width: 100%;
            }

            li a {
                float: left;
                margin-left: 31px;
                color: $color-grey !important;
            }

            .action-add-photo {
                @include svg-icon('wallposts/icon-add-photo.svg');
                text-indent: 18px;
                float: right;
                background-position: 0 40%;
                @include svg-icon('wallposts/icon-add-photo.svg', #9F9F9F, $color-grey);

                &.is-active, &:hover {
                    color: $color-text !important;
                    @include svg-icon('wallposts/icon-add-photo.svg', #9F9F9F, $color-text);
                }
            }

            .action-add-video {
                @include svg-icon('wallposts/icon-add-video.svg', #9F9F9F, $color-grey);
                text-indent: 18px;
                float: right;
                background-position: 0 40%;
                
                &.is-active, &:hover {
                    color: $color-text !important;
                    @include svg-icon('wallposts/icon-add-video.svg', #9F9F9F, $color-text);
                }
            }

            .status-update {
                margin-right: 31px;
                margin-left: 0;

                a {
                    font-weight: bold;
                    color: $color-sec;
                }
            }
        }
    }

    .wallpost-update-form {
        @include transition(all .2s $ease-in-out-cubic);
        margin: 0;
        
        .wallpost-update-post {
            @include transition(all .2s $ease-in-out-cubic);
            font-family: $font-family-base;
            line-height: 1.5em;
            width: 100%;
            height: 50px;
            height: calc(1.5em + 20px);
            margin: 0;
            padding: 10px 20px;
            border: none;
            box-shadow: none;
            @include border-bottom-radius($radius-medium);
        }

        #wallpost-video {
            padding-left: 0;
            border: none;
            -webkit-box-shadow: none;
        }

        .wallpost-photos {
            max-height: 0;
            overflow: hidden;
            @include transition(max-height .2s ease-in-out);

            &.is-active {
                display: inline-block;
                max-height: 100px;
                padding: 0 20px 10px 20px;
            }
        }

        .upload-photos {
            display: inline-block;
            float: left;
            width: auto;
            @include outer-container;

            .upload-photo {
                position: relative;
                float: left;
                width: 70px;
                height: 70px;
                margin: 0 10px 0 0;

                .action-delete {
                    @include hide-text;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 10px;
                    height: 10px;
                    @include svg-icon('wallposts/icon-photo-delete.svg');
                    @include opacity(0.6);

                    &:hover, &:active {
                        @include opacity(1);
                    }
                }

                .is-loading-small {
                    position: absolute;
                }
            }
        }

        .action-upload {
            float: left;
            position: relative;
            width: 70px;
            height: 70px;
            border: 1px dashed $color-grey-medium;
            display: block;
            @include transition(all .2s ease-in-out);

            &:after {
                position: absolute;
                font-size: 26px;
                width: 26px;
                height: 26px;
                margin: auto auto;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                content: '+';
                text-align: center;
                font-weight: bold;
                color: $color-grey-medium;
                @include transition(all .2s ease-in-out);
            }

           input {
                @include opacity(0);
                cursor: pointer;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                z-index: 10;
                width: auto;
            }

            &:hover {
                border-color: $color-black;

                &:after {
                    color: $color-black;
                }
            }
        }

        .wallpost-video {
            width: 94%;
            margin: auto;
            max-height: 0;
            overflow: hidden;
            @include transition(max-height .2s ease-in-out);

            input {
                font-size: 14px;
            }

            &.is-active {
                margin-bottom: 20px;
                border-bottom: dashed 1px #d8d8d8;
                max-height: 100px;
            }
        }
    }

    .wallpost-update-footer {
        @include clearfix;
        @include transition(height .2s $ease-in-out-cubic);
        height: 0;
        padding: 0;
        overflow: hidden;
        background-color: $color-grey-lightest;
        @include border-bottom-radius($radius-medium);

        .wallpost-update-options {
            float: left;
            padding: 15px 20px;
        }
        
        .wallpost-update-actions {
            float: right;
            padding: 7px;
        }
    }

    &.is-active {
        
        .wallpost-update-post {
            @include border-radius(0);
            height: calc(5.5em + 20px);
        }

        .wallpost-update-footer {
            height: 50px;
            border-top: solid 1px $color-grey-medium;
        }
    }
}

.wallpost-history {
    position: relative;
    top: -30px;
    text-align: center;
    color: $color-grey;
    font-size: 14px;
    @include svg-icon('wallposts/dotted-line-vertical.svg');
    background-position: 50%;
    background-repeat: repeat-y;
    padding-top: 150px;

    h3 {
        padding: 20px 0 0 0;
        color: $color-grey;
        font-size: 20px;
        background-color: $color-grey-back;
    }

    p {
        color: $color-grey-medium;
        background-color: $color-grey-back;
    }

    &:before {
        position: absolute;
        content: " ";
        top: 150px; // same as padding parent
        width: 20px;
        height: 20px;
        margin-left: -10px;
        line-height: 20px;
        @include border-radius(50%);
        color: #fff;
        background: $color-grey;
        font-weight: bold;
        text-align: center;
        font-size: 22px;
    }

}

.wallpost-help {
    
    .help-header {
        text-align: center;

        h1 {
            color: $color-pri;
        }
    }

    .help-body {
        margin: 2em 6em;
        color: $color-grey-dark;
        font-size: 14px;

        ol {
            counter-reset: li;
            margin: 0; 
            padding: 0;

            li {
                position: relative; 
                margin: 0 0 20px 2em;
                padding: 0 10px;
                list-style: none;
                
                &:before {
                    content: counter(li);
                    counter-increment: li;
                    position: absolute;
                    top: -2px;
                    left: -2em;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    @include border-radius(50%);
                    margin-right: 8px;
                    color: #fff;
                    background: $color-sec;
                    font-weight: bold;
                    text-align: center;
                    font-size: 22px;
                }

                h2 {
                    color: $color-grey-dark;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }

    .help-footer {
        text-align: center;
    }
}

// TODO: make global
.signin {
    padding: 7px 20px 10px 20px;
    
    p {
        margin: 0;
    }
}