.wallpost-update {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid $color-grey-medium;
    border-radius: $radius-medium;
    background: $color-real-white;
    @include clearfix;

    .wallpost-update-header {
        padding: 10px 20px;
        border-bottom: solid 1px $color-grey-medium;

        .wallpost-update-title {
            @include add-icon(update, 21px, 21px, 10px, url('/static/assets/images/img/icons/wallpost/icon-update-status.svg'));
            color: $color-sec;
        }

        .wallpost-update-header-action {
            text-align: right;

            ul {
                width: 100%;
            }

            li {
                font-weight: bold;
                float: left;
                margin-left: 31px;

                .custom-icons {
                    margin-right: 5px;
                }

                &.add-photo {
                    @include add-icon(add-photo, 13px, 12px, 0, url('/static/assets/images/img/icons/wallpost/icon-add-photo.svg'));
                    float: right;
                }

                &.add-video {
                    @include add-icon(add-video, 13px, 12px, 0, url('/static/assets/images/img/icons/wallpost/icon-add-video.svg'));
                    float: right;
                }

                .add-media {
                    color: red;
                }
            }

            .status-update {
                margin-right: 31px;
                margin-left: 0;

                a {
                    font-weight: bold;
                    color: $color-secondary;
                }
            }
        }
    }

    .wallpost-update-form {
        @include transition(all .2s $ease-in-out-cubic);
        margin: 0;
        
        .wallpost-update-post {
            @include transition(all .2s $ease-in-out-cubic);
            font-family: $font-family-base;
            line-height: 1.5em;
            width: 100%;
            height: 50px;
            height: calc(1.5em + 20px);
            margin: 0;
            padding: 10px 20px;
            border: none;
            box-shadow: none;
            @include border-bottom-radius($radius-medium);
        }

        .btn-link {
            font-size: 16px;
            text-transform: none;
        }

        #wallpost-video {
            padding-left: 20px;
            border: none;
            -webkit-box-shadow: none;
        }
    }

    .wallpost-update-footer {
        @include clearfix;
        @include transition(height .2s $ease-in-out-cubic);
        height: 0;
        padding: 0;
        overflow: hidden;
        background-color: $color-grey-lightest;
        @include border-bottom-radius($radius-medium);
        
        .wallpost-update-actions {
            float: right;
            padding: 7px;
        }
    }

    &.is-active {
  
        .wallpost-update-post {
            height: 80px;
        }

        .wallpost-update-footer {
            height: 50px;
            border-top: solid 1px $color-grey-medium;
        }
    }
}

