{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans %}
Hi {{ receiver_first_name }},<br/>
<br/>

Thanks for you monthly do-good donation. You're contribution makes a world of difference.
<br/>

On {{ date }} you contributed {{ amount }}. Below you'll find an overview of the project(s) you supported. <br/><br/>

{% endblocktrans %}
{% for donation in order.donations.all %}
    <a href="{{ site }}/go/projects/{{ donation.project.slug }}">{{ donation.project.title }}</a>
    in {{ donation.project.country.name }}.<br/>
{%  endfor %}
{% blocktrans %}
<br/><br/>
Thanks to your support we were able to realize so many projects.
{% endblocktrans %}
{% endblock %}

{% block action %}
<a href="{{ site }}" class="action-email">{% trans "Go to homepage" context 'recurring donation email' %}</a>
{% endblock %}