{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans %}
Hi {{ receiver_first_name }},<br/>
<br/>

Great news! Thanks to your support <a href="{{ site }}{{ link }}">{{ project }}</a>
 is now fully funded and ready for take off.<br/><br/>

Let's do some more good! Choose a new project you'd like to support or make it easy on yourself and let us equally divide your monthly donation on the three most likely to be fully funded projects.<br/><br/>

Thanks for you loyal support! 
<br/><br/>
{% endblocktrans %}
{% endblock %}
