{% load static  %}
<!-- highlight.js -->
<link rel="stylesheet"
      href="{% static 'django_quill/darcula.min.css' %}">
<script src="{% static 'django_quill/highlight.min.js' %}"></script>

<!-- Quill.js -->
<link href="{% static 'django_quill/quill.snow.css' %}" rel="stylesheet">
<script src="{% static 'django_quill/quill.min.js"></script>

<!-- quill-image-compress -->
<script src="{% static 'django_quill/quill.imageCompressor.min.js' %}"></script>

<!-- quill-resize -->
<script src="{% static 'django_quill/quill-resize-module.min.js' %}"></script>

<!-- Custom -->
<link rel="stylesheet" href="{% static 'django_quill/django_quill.css' %}">
<script src="{% static 'django_quill/django_quill.js' %}"></script>
