{% load i18n %}
{% load bb_ember %}

{% tplhandlebars "_main_nav" %}
    <ul class="nav-main">
        <li class="nav-main-item"><a {{action 'showPage' 'about'}} href="/#!/pages/about">{% blocktrans %}About 1%Club{% endblocktrans %}</a></li>

        {% if 'projects' in bb_apps %}
            {% block_verbatim nav_main_projects %}
                <li class="nav-main-item">
                    {{#link-to 'projectList'}}
                        {% blocktrans %}Projects{% endblocktrans %}
                    {{/link-to}}
                </li>
            {%  endblock_verbatim %}
        {% endif %}

        {% if 'tasks' in bb_apps %}
            {% block_verbatim nav_main_tasks %}
                <li class="nav-main-item">
                    {{#link-to 'taskList'}}
                        {% trans "Tasks" %}
                    {{/link-to}}
                </li>
            {%  endblock_verbatim %}
        {% endif %}

    </ul>
{% endtplhandlebars %}