{% load i18n %}
{% load bb_ember %}
{% load compress %}
{% load static %}

<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}Bluebottle Project{% endblock %}</title>

    {% block defaults_js %}
        <script type="text/javascript">
            var default_title = '{% blocktrans %}Site meta title{% endblocktrans %}';
            var default_description = '{% blocktrans %}Site meta description{% endblocktrans %}';
            var default_keywords = '{% blocktrans %}Site meta keywords{% endblocktrans %}';
        </script>
    {% endblock defaults_js %}

    {% block meta %}
        <meta name="description" content="{% blocktrans %}Site meta title{% endblocktrans %}" />
        <meta name="author" content="{% blocktrans %}Site meta description{% endblocktrans %}" />
        <meta name="keywords" content="{% blocktrans %}Site meta keywords{% endblocktrans %}" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

    {% endblock %}


    {# Stylesheets #}
    {% compress css %}
		{% block screen_css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" media="screen" />
		{% endblock screen_css %}
    {% endcompress %}

    {# Scripts #}
    <!-- avoid hardcoding these urls -->
    <script type="text/javascript">
        var STATIC_URL = '{{ STATIC_URL }}';
        var MEDIA_URL = '{{ MEDIA_URL }}';
        var LANGUAGE_CODE = '{{ LANGUAGE_CODE }}';
        var DEBUG = {{ debug|yesno:"true,false" }};
    </script>

    {# The Ember stack. jQuery, jQuery-ui, Ember, Ember-data, Ember-drf2-adapter, Ember meta #}
    {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-1.8.3.min.js"></script>
    {% else %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% endif %}

    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui/minified/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui/minified/jquery.ui.datepicker.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/handlebars-1.0.0{% if not debug %}.min{% endif %}.js"></script>
    {% endcompress %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/ember-v1.0.0{% if not debug %}.min{% endif %}.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/ember-data-v0.14{% if not debug %}.min{% endif %}.js"></script>

    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/ember-data-drf2-adapter.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/ember-meta.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/globalize.js"></script>

        {# Other libs #}
        <script type="text/javascript" src="{{ STATIC_URL }}jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>


        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap/bootstrap-transition.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap/bootstrap-modal.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap/bootstrap-popover.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap/bootstrap-typeahead.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/ember-bootstrap-df3e710.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-validation/jquery.validate{% if not debug %}.min{% endif %}.js"></script>

        {# Plugins #}
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/ember-radio-button.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.colorbox.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/handlebars.helpers.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/unslider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/ember.hashbang.js"></script>

        {# BlueBottle Application #}

        {% block ember_scripts %}
            {{ block.super }}
            <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/presets.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/app.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/utils.js"></script>

            {% for app in bb_apps %}
                <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/{{ app }}/routes.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/{{ app }}/controllers.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/{{ app }}/views.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/{{ app }}/models.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/{{ app }}/components.js"></script>
            {% endfor %}

        {% endblock %}
    {% endcompress %}

    {% block handlebars_templates %}
        {% for app in bb_apps %}
            {% include app|add:"/base.hbs" %}
        {% endfor %}
    {% endblock handlebars_templates %}
		<script src="{{ STATIC_URL }}js/vendor/jquery.scrollTo.min.js" type="text/javascript" charset="utf-8"></script>
		<!--script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.11/jquery.scrollTo.min.js"></script-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="{{ STATIC_URL }}js/infobox.js"></script>
    <script src="{{ STATIC_URL }}js/marker_clusterer.js"></script>


    {% block htmlheader %}{% endblock %}

    {% tplhandlebars "language" %}
        <a {{action "selectLanguage" view.content.code}}{{bindAttr title=view.content.name}}>{{ view.content.code }}</a>
    {% endtplhandlebars %}


    {% tplhandlebars "application" %}

    <!-- global site -->
        <div id="main">

            <!-- global header -->
            <div id="header" class="l-section">
                <header class="l-wrapper">

                    <!-- logo -->
                    <div id="logo">
                        {% block_verbatim nav_logo %}
                            {{#link-to 'home' class="logo-link"}}
                                <object type="image/svg+xml" data="{% static "images/global/logo.svg" %}" class="logo-image"></object>
                            {{/link-to}}
                        {% endblock_verbatim %}
                    </div>
                    <!-- end: logo -->

                    <!-- main navigation -->
                    <nav id="nav">

                        {% block_verbatim nav_main %}
                            <ul class="nav-main">
                                <li class="nav-main-item"><a {{action 'showPage' 'about'}} href="/#!/pages/about">{% blocktrans %}About us{% endblocktrans %}</a></li>

                                {% if 'projects' in bb_apps %}
                                    {% block_verbatim nav_main_projects %}
                                        <li class="nav-main-item">
                                            {{#link-to 'projectList'}}
                                                {% blocktrans %}Projects{% endblocktrans %}
                                            {{/link-to}}
                                        </li>
                                    {%  endblock_verbatim %}
                                {% endif %}

                                {% if 'tasks' in bb_apps %}
                                    {% block_verbatim nav_main_tasks %}
                                        <li class="nav-main-item">
                                            {{#link-to 'taskList'}}
                                                {% trans "Tasks" %}
                                            {{/link-to}}
                                        </li>
                                    {%  endblock_verbatim %}
                                {% endif %}

                            </ul>
                        {%  endblock_verbatim %}

                        {% include "bb_accounts/nav.hbs" %}
                    </nav>
                    <!-- end: main navigation -->

                    {{#if display_message}}

                        <div {{bindAttr class=":message l-full isError"}}>
                            <a {{ action 'hideMessage' }} class="message-close" rel="close">&times;</a>

                            <div class="message-title">
                                {{ message_title }}
                            </div>

                            <div class="message-content">
                                {{ message_content }}
                            </div>
                        </div>

                    {{/if}}
                </header>
            </div>

            <!-- end: main header -->

            <!-- main content -->
            <div id="content">
                {{outlet}}
            </div>
            <!-- end: main content -->

        </div>
        {{partial "footer"}}

    {% endtplhandlebars %}

	{% include "bluebottle/footer.hbs" %}

</head>
<body id="body">
    <!-- Scripts -->
    <div id="fb-root"></div>

	{% block google_analytics %}
    {#  Google analytics #}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2761714-4']);
        _gaq.push(['_trackPageview']);
        (function()
        { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); }
        )();
    </script>
	{% endblock %}
	
    <!--[if lte IE 9]>
        <script type="text/javascript" src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
        <div id="browser-not-supported">
            <div class="l-section" >
                <div class="l-wrapper">
                    <h1>Oops!</h1>
                    <p>
                        {% blocktrans %}
                        Our new website currently does not work well with older versions of Internet Explorer.<br/>
                        Please install Internet Explorer 10 or use another browser such as Firefox or Chrome!<br/>
                        {% endblocktrans %}
                    </p>
                    <ul>
                        <li>
                            <a href="http://windows.microsoft.com/nl-nl/internet-explorer/download-ie">Download: Internet Explorer 10</a>
                        </li>
                        <li>
                            <a href="http://www.mozilla.org/nl/firefox/new/">Download: Firefox</a>
                        </li>
                        <li>
                            <a href="https://www.google.com/intl/nl/chrome/browser/">Download: Chrome</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <![endif]-->

    {% block content %}
    {% endblock %}


</body>
</html>
