{% load bb_ember i18n static %}


{% tplhandlebars "bbMenu" %}
    {{#each item in menuItems}}
        {{#link-to item.link classNames="account-edit-link"}}
            <span {{bind-attr class=":flaticon :solid item.icon:"}}></span>{{item.label}}
        {{/link-to }}       
    {{/each}}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-profile-menu" %}
    {{partial bbMenu }}
{% endtplhandlebars %}

{% tplhandlebars "components/bb-backdrop" %}
    <div class="backdrop">
        {{ partial "_donation_canvas" }}
        <div class="backdrop-gradient"></div>
    </div>
{% endtplhandlebars %}


{% tplhandlebars "components/bb-backdrop-fallback" %}
    <div class="backdrop">
        <div class="backdrop-image"></div>
        <div class="backdrop-gradient"></div>
    </div>
{% endtplhandlebars %}