{% load bb_ember i18n static %}

{% tplhandlebars "error/notAllowed" %}
    <div class="unauthenticated">
        You need to <a {{action 'openInBox' 'login'}}>log in</a> to access this page.<br/>
    </div>
{% endtplhandlebars %}