{% load i18n %}
{% load humanize %}
{% block module_content %}
<ul style="line-height: 1.5em;">
    {% spaceless %}
    {% for task in module.children %}
    <li class="{% cycle 'odd' 'even' %}">
        <span class="float-right" style="text-align:right">
            {{ task.deadline|date }}
            <br>
            {{ task.days_left }} {% trans "days" %}
        </span>
        <a href="{% url 'admin:tasks_task_change' task.id %}" >{{ task.title }}</a>
        <br>
        Needed: {{ task.people_needed }} / Applied: {{ task.people_applied }}  / Accepted: {{ task.people_accepted }}
    </li>
    {% endfor %}
    {% endspaceless %}
</ul>
{% endblock %}
