{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Loading...</h2>
{% endblock %}

{% block script %}

<script>
    var token = "{{ token }}";
    var user_id = "{{ user_id }}";
    var link = location.search.replace("?next=", "");
    link = link ? link : '/';

    function setToken(token) {
        var authStorage;
        try {
            localStorage.setItem('testLocalStorage', 'testLocalStorage');
            localStorage.removeItem('testLocalStorage');
            authStorage = localStorage;
        } catch (ex) {
            authStorage = {
                _data: {},
                setItem(id, val) {
                    try {
                        return setCookie(id, value, 100);
                    } catch (ex) {
                        return (this._data[id] = String(val));
                    }
                }
            };
        }

        authStorage['jwtToken'] = token;
    }

    function getToken(user_id, token) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/users/tokenlogin');
        xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        xhr.onload = function() {
            if (xhr.status === 201) {
                console.log(xhr.responseText);
                setToken(JSON.parse(xhr.responseText).token);
                location.href = link;

            } else if (xhr.status !== 201) {
                console.log('Request failed.  Returned status of ' + xhr.status);
            }
        };
        xhr.send(JSON.stringify({user_id, token}));
    }

    getToken(user_id, token);

</script>

{% endblock %}
