{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}
{% load bb_ember %}


{% tplhandlebars "project_code" %}
    <div class="input-append">
        <pre>
            <code>
                '<div class="tes">Hallo</div>'
            </code>
        </pre>
    </div>
{% endtplhandlebars %}
<!--<script type="text/javascript" data-language="en" src="https://onepercentclub.com/static/assets/js/widget.js" data-id="opcwidget" data-project=""></script>-->