{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}
{% load bb_ember %}


{% tplhandlebars "share_embedded" %}
    <div class="modal-fullscreen-content" id="share-widget">
        <span {{action "close"}} class="modal-fullscreen-close"></span>
        <div class="widget-container">
            <div class="widget-content">
                <div class="row">
                    <div class="col12">
                        <h3>{% trans 'Embed on your site'%}</h3>
                        <small>
                            {% blocktrans%}
                                Add this widget to your website to generate even more traffic.
                            {% endblocktrans%}
                        </small>
                        {{bb-copy-code value=embedCode}}
                    </div>
                </div>
            </div>
            <div class="widget-preview">
                <div class="row">
                    <div class="col12">
                        {{render 'campaign_widget_preview' controller}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endtplhandlebars %}


