{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}
{% load bb_ember %}


{% tplhandlebars "share_embedded" %}

    <h1>DELEN!!</h1>

    {{bb-copy-code value=embedCode}}

{% endtplhandlebars %}


