{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}
{% load bb_ember %}

{% tplhandlebars "components/bb-video-main" %}

    <div class="video-item">
        <div class="vimeo-item-container">
            <div class="vimeo-item-content">
                <span class="close-video"></span>
                <span class="vimeo-video">
                    <iframe frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </span>
            </div>
        </div>
        <div class="video-item-container">
            <div class="video-action">
                <a class="video-play-btn"></a>
                <span class="video-watch">
                    <h3>{% trans 'Watch our video'%}</h3>
                </span>
            </div>
            <div class="l-section">
                <div class="l-wrapper">
                    <div class="row">
                        <div class="col12">
                            <div class="heading">
                                <h1>How to crowdfund</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-item-content">
            </div>
        </div>
    </div>

{% endtplhandlebars %}
