{% load bb_ember i18n static %}

{% tplhandlebars "mockCreditcard" %}
    <p>
        <img src="{% static 'images/mock/mock.png' %}" alt="Mock"  />
        <br/>
        You're about to pay with credit card through Big Duck Bank.
    </p>
{% endtplhandlebars %}