{% load bb_ember i18n static %}

{% tplhandlebars "mockIdeal" %}
    <p>
        <img src="{% static 'images/mock/mock.png' %}" alt="Mock"  />
        <br />
        <img src="{% static 'images/mock/ideal.png' %}" alt="iDEAL"  />
        <br/>
        You're about to pay with iDEAL through Big Duck Bank.

        {{view App.MockIdealBankSelectView valueBinding='issuerId' name='mockiDealSelect'}}

    </p>
{% endtplhandlebars %}