<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mock Payment</title>
    </head>
    <body>
        test payment
        <br />
        Return URL: {{return_url}} <br/>
        Payment ID: {{payment_id}}
        <br />
        <ul>
          <li style="clear: left; float: left;"><a href="{{return_url}}?status=success&payment_id={{payment_id}}">Successful</a></li>
          <li style="clear: left; float: left;"><a href="{{return_url}}?status=cancelled&payment_id={{payment_id}}">Cancelled</a></li>
          <li style="clear: left; float: left;"><a href="{{return_url}}?status=pending&payment_id={{payment_id}}">Pending</a></li>
        </ul>
    </body>
</html>