{% load bb_ember i18n static %}

{% tplhandlebars "payment" %}

    <a href="{{callback}}">Success</a>
    <a href="{{callback}}">Cancel</a>
    <a href="{{callback}}">Home</a>

{% endtplhandlebars %}