{% load bb_ember i18n static %}

{% tplhandlebars "mockPaypal" %}
    <p>
        <img src="{% static 'images/mock/mock.png' %}" alt="Mock"  />
        <br/>
        <img src="{% static 'images/mock/paypal.png' %}" alt="Paypal"  />
        <br/>
        You're about to pay with Paypal through Big Duck Bank.
    </p>
{% endtplhandlebars %}