{% load bb_ember i18n static %}

{% tplhandlebars "mock/paypal" %}
    <p>
        <img src="{% static 'images/mock/mock.png' %}" alt="Mock" height="60px" />
        <br/>
        <img src="{% static 'images/mock/paypal.png' %}" alt="Paypal" height="60px" />
        <br/>
        You're about to pay with Paypal through Big Duck Bank.
    </p>
{% endtplhandlebars %}