{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_file_new" %}

    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label" for="tile-title">
                    {% trans "Title" %}
                </label>

                <div class="controls">
                    {{view Ember.TextField valueBinding="title" id="file-title" name="file-title" classBinding="errors.title.length:error"}}
                </div>

                {{#if errors.title }}
                    <div class="has-errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label" for="tile-file">
                    {% trans "File" %}
                </label>

                <div class="controls">
                    <a class="btn-link btn-upload">
                        {{view App.UploadFile fileBinding="file" name="file" id="file"}}
                        <span class="flaticon solid upload-document-1"></span>
                        {% trans "Upload file" %}
                    </a>
                </div>

		        {{#if errors.file }}
		            <div class="has-errors">{{#each errors.file }}<p>{{this}}</p>{{/each}}</div>
		        {{/if}}
            </li>
        </ul>
    </fieldset>

{% endtplhandlebars %}
