label {

    &.modal-checkbox {
        font-size: 13px;
        display: block;
        cursor: pointer;
        color: #9f9f9f;

        span {
            line-height: 2em;
            display: inline-block;
            width: 17px;
            height: 18px;
            margin: 0 0 -3px 0;
            cursor: pointer;
        }

        input[type='checkbox'], input[type='radio'] {
            display: none;
        }

        input[type='checkbox'] + span {
            @include svg-icon('forms/icon-checkbox.svg');
        }

        input[type='radio'] + span {
        }

        input[type='checkbox']:checked + span {
            @include svg-icon('forms/icon-checkbox-checked.svg', #00C051, $color-sec);
        }

        input[type='radio']:checked + span {
        }
    }
}

// forms & buttons
form {

    label.error {
        display: none;
    }
}

input, textarea {

    @include placeholder {
        color: $color-placeholder;
    }

    &:focus {
        @include placeholder {
            color: $color-grey-light;
        }
    }
}


form.error {

    label.error {
        display: block;
    }
}

label.error {
    margin: 0;
    padding: 5px 20px;
    text-align: center;
    color: $color-error;
    border: 1px solid $color-error;
    background-color: $color-error-back;
}

button, .button {
    //@include transition(padding 0.1s ease-in-out);
    font-family: $font-family-base;
    font-weight: 700;
    position: relative;
    top: 1px;
    display: inline-block !important;
    min-width: 85px;
    padding: .3em 1em .3em 1em;
    padding-top: calc(.3em + 1px);
    -webkit-transform: scale(1);
    vertical-align: center;
    text-transform: inherit;
    color: $color-real-white !important;
    border: none;
    border-radius: $radius-large;
    background-color: $color-sec;
    box-shadow: 0 -1px 0 0 $color-sec-shadow inset;
    // fix for chrome animation bug
    -webkit-backface-visibility: hidden;
    text-decoration: none;
    text-align: center;
    line-height: 1.5em;

    &:hover {
        top: 0;
        margin-bottom: -1px;
        padding-bottom: calc(.3em + 1px);
        box-shadow: 0 -2px 0 0 $color-sec-shadow inset;
    }

    &:active {
        top: 2px;
        margin-bottom: 0;
        padding-bottom: .3em;
        color: $color-grey !important;
        background-color: $color-grey-dark !important;
        box-shadow: 0 2px 0 0 $color-real-black inset;
    }

    &.button-big {
        font-family: $font-family-header;
        top: 2px;
        font-size: 20px;
        font-weight: 900;
        background-color: $color-pri;
        box-shadow: 0 -2px 0 0 $color-pri-shadow inset;
        padding: .5em 1em .7em 1em;
        padding-top: calc(.5em + 2px);

        &:hover {
            top: 0;
            margin-bottom: -2px;
            box-shadow: 0 -4px 0 0 $color-pri-shadow inset;
            padding-bottom: calc(.6em + 4px);
        }

        &:active {
            top: 4px;
            padding-top: calc(.5em + 2px);
            margin-bottom: 2px;
            padding-bottom: .6em;
            box-shadow: 0 1px 0 0 $color-real-black inset;
        }
    }

    &:focus {
        outline: none;
    }

    &.action-cancel {
        @include transition(box-shadow .1s ease-out);
        font-weight: normal;
        margin-top: 1px;
        padding: .3em 1em .3em 1em;
        color: $color-grey !important;
        background-color: $color-grey-lightest;
        box-shadow: 0 0 0 1px $color-grey-medium inset;

        &:hover {
            margin-top: 2px;
            padding: .3em 1em .3em 1em;
            box-shadow: 0 0 0 1px $color-grey inset;
        }

        &:active {
            top: 2px;
            margin-top: -1px;
            padding-top: calc(.3em + 1px);
            color: $color-grey-medium !important;
            background-color: $color-grey !important;
        }
    }
}


// edit/delete dropdown
.owner-actions {
    font-size: 13px;
    line-height: 1em;
    position: relative;
    color: $color-grey;

    li {
        margin: 0;
        padding: 0;
        background-image: none;
    }

    ul {
        display: none;
    }

    .actions-dropdown {

        strong {
            @include hide-text;
            @include svg-icon('owner-actions/icon-action-dropdown.svg');
            position: relative;
            z-index: 10;
            display: block;
            float: right;
            width: 32px;
            height: 22px;
            margin: 0;
            padding: 0;
            cursor: pointer;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: transparent;
            background-position: 50% 50%;
        }

        &:hover {

            strong {
                @include border-top-radius($radius-large);
                border-color: $color-grey-medium;
                background-color: $color-real-white;
            }

            ul {
                display: block;
            }
        }
    }

    ul {
        position: absolute;
        z-index: 9;
        top: 21px;
        right: 0;
        width: 80px;
        margin: 0;
        padding: 0;
        border: 1px solid $color-grey-medium;
        border-radius: $radius-large 0 $radius-large $radius-large;
        background-color: $color-real-white;

        a {
            padding: 8px 10px;
            display: block;
            color: $color-grey !important;

            &:hover {
                color: $color-text !important;
            }
        }

        .action-delete {
            @include svg-icon('owner-actions/icon-action-delete.svg');
            background-position: 7px 50%;
            text-indent: 15px;
        }

        .action-edit {
            @include svg-icon('owner-actions/icon-action-edit.svg');
            background-position: 7px 50%;
            text-indent: 15px;
        }
    }
    //}
}

