{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
  <p>
    {% blocktrans context 'email' %}
      {{ applicant_name }} has registered their team for your activity "{{ title }}"!
    {% endblocktrans %}
  </p>
  <p>
    <b>
      {% blocktrans context 'email' %}
        Next steps:
      {% endblocktrans %}
    </b>
    {% blocktrans context 'email' %}
      <ol>
        <li>Go to your activity to review the application and accept or reject them.</li>
        <li>If accepted then contact the team captain {{ applicant_name }} to discuss a specific date, time and location for when they can take part in your activity.</li>
        <li>Add this information to the team via the ‘Unscheduled’ tab of the team list on the activity page. The team captain and team members will be notified when the information is added.</li>
      </ol>
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans context 'email' %}
      Team captain contact details:
    {% endblocktrans %}
    <br />
    <a href="mailto:{{captain_email}}">{{captain_email}}</a>
  </p>

{% endblock %}
