{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
    <p>
        {% blocktrans context 'email' %}
            Your team has applied to an activity on <b>{{ site_name }}!</b>
        {% endblocktrans %}
    </p>

    <p>
        <b>{{ title }}</b>
    </p>

    <p>
        <i>
            {% blocktrans context 'email' %}
                You will receive a notification by email when the activity manager accepts your application.
            {% endblocktrans %}
        </i>
    </p>
{% endblock %}

{% block end_message %}
    <p>
        <i>
            {% blocktrans context 'email' %}
                If you are unable to participate, please withdraw your team via the activity page so that others can take your place.
            {% endblocktrans %}
        </i>
    </p>
{% endblock %}
