{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
  <p>
    {% blocktrans context 'email' %}
      Your team joined an activity on <b>{{ site_name }}!</b>
    {% endblocktrans %}
  </p>

  <p>
    <b>{{ title }}</b>
  </p>

  {% if period %}
    {% include 'mails/messages/partial/periodic.html' %}
  {% endif %}
{% endblock %}


{% block end_message %}
  <p>
    <i>
      {% blocktrans context 'email' %}
        If you are unable to participate, please withdraw your team via the activity page so that others can take your place.
      {% endblocktrans %}
    </i>
  </p>
{% endblock %}
