{% load bb_ember i18n static %}


{% tplhandlebars "_project_actions" %}
    <div class="l-section detail" id="project-members">
        <section class="l-wrapper">

            <ul class="member-list">
                <li class="member-initiator">
                    <ul>
                        <li>
                            <a {{action 'openInBigBox' 'userModal' owner }} class="member">
                                <figure class="member-avatar"><img {{bindAttr src="owner.getAvatar"}} /></figure>
                                <h4>{% trans "Initiator" %}</h4>
                                <strong class="member-name">{{owner.full_name}}</strong>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            {{#if deadline}}
                <div class="project-deadline">
                    <span class="flaticon solid stopwatch-1"></span>
                    <span class="text">
                        {{daysToGoText daysToGo}}
                    </span>
                </div>
            {{/if}}


            {{#unless controllers.projectIndex.tasks.length}}
                {{#if isProjectOwner}}
                    <div class="task-action">
                        {{#link-to 'taskNew' id class="btn btn-primary btn-iconed"}}
                            <span class="flaticon stroke work-1"></span>
                            {% trans 'Create task' %}
                        {{/link-to}}
                    </div>
                {{/if}}
            {{/unless}}
        </section>
    </div>
{% endtplhandlebars %}
