{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_plan" %}

    <div class="l-section" id="project-plan">
        <section class="l-wrapper">

			<nav class="project-plan-navigation">
				<h1>Project plan</h1>
				<h4>{{title}}</h4>
			</nav>
			
			<article class="project-plan-main">
				<a class="project-plan-back-link" href="#">Back to project<span class="flaticon stroke close-1"></span></a>
				<p>Empty for now</p>
			</article>
			
			<img src="http://placehold.it/260x1200" alt="maps placeholder">

        </section>
    </div>

{% endtplhandlebars %}