{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_preview" %}

    <li class="project-item">

        {{#linkTo 'project' id }}
            {{ partial "_project_preview_header" }}
            {{ partial "_project_preview_status_info" }}

            <span class="project-description">
                {{{pitch}}}

                <span class="project-view">{% trans "View project" %}</span>
            </span>

        {{/linkTo}}

        {{#if taskCount}}
            <a class="project-tasks"><span class="flaticon solid wrench-1"></span> <strong>{{taskCount}}</strong> <em>{% trans "task(s) available" %}</em></a>
        {{/if}}
    </li>

{% endtplhandlebars %}
