{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message %}
{% blocktrans context 'email' %}
    <p>
        Your crowdfunding campaign "{{title}}" has been submitted on {{ site_name }}.
        <br/>
        <br/>
        <b>Here’s what happens next:</b>
        <ul>
            <li>
                Your campaign will be reviewed by the platform manager.
            </li>
            <li>
                Once approved, your campaign will be live and people can start donating.
            </li>
        </ul>
        <br/><br/>
        You will not be able to edit the application when it is in review.
    </p>
{% endblocktrans %}
{% endblock message %}
