{% load i18n bb_ember static %}


{% tplhandlebars "components/project-fundraiser-item" %}
    <li class="activity-item">
        {{#link-to "fundraiser" fundraiser classNames='item-link'}}
            <figure class="user-avatar">
                <img {{bindAttr src="image.square" alt="owner.first_name" }} />
            </figure>
            <span class="item-body">
            <strong class="user-name">{{fundraiser_name}}</strong> {% trans "raised" %} <strong>&euro; {{amount_donated}},-</strong> {% trans "so far" %}<br />
                {{!-- TODO: different text and design when fundraiser reached target or deadline --}}
                <span class="progress-bar">
                    {{bb-progressbar class="project-fund-amount-slider" targetValue=amount currentValue=amount_donated}}
                </span>
            </span>
        {{/link-to}}
    </li>
{% endtplhandlebars %}