{% extends "base.mail.html" %}
{% load i18n %}
{% load message_url %}

{% block content %}
    {% if body_html and insert_method == 'replace' %}
        {{ body_html }}
    {% else %}
        {% if not only_message %}
            <p>
                {% blocktrans context 'platform-email' %}Hi {{ recipient_name }},{% endblocktrans %}
            </p>
            {% if custom_message %}
                <div>{{ custom_message|safe }}</div>
            {% endif %}
        {% endif %}
        {% if only_message or not custom_message %}
            {% block message %}{% endblock %}
        {% endif %}
        {% if body_html and insert_method == 'append' %}
            <p>
            {{ body_html }}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block action %}
    <a href="{% message_url action_link %}" class="action-email">{{ action_title }}</a>
{% endblock action %}
