{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message%}
    <p>
        {% trans 'Unfortunately, nobody applied to your activity "{{ title }}" before the deadline to apply. That’s why we have cancelled your activity.' context 'email' %}
    </p>

    <p>
        {% trans 'Don’t worry, you can always create a new activity and try again.' context 'email' %}
    </p>

    <p>
        {% trans 'Need some tips to make your activity stand out? Reach out to the platform manager by replying to this email.' context 'email' %}
    </p>
{% endblock %}
