{% extends "base.mail.html" %}
{% load i18n %}
{% load message_url %}

{% block content %}
    {% if body_html and insert_method == 'replace' %}
        {{ body_html }}
    {% else %}
        <p>
            {% blocktrans context 'platform-email' %}Hi {{ recipient_name }},{% endblocktrans %}
        </p>
        {% if custom_message %}
            <p>{{ custom_message|linebreaks }}</p>
        {% else %}
            {% block message %}{% endblock %}
        {% endif %}
        {% if body_html and insert_method == 'append' %}
            <p>
            {{ body_html }}
            </p>
        {% endif %}
    {% endif %}
{% endblock content %}

{% block action %}
    <a href="{% message_url action_link %}" class="action-email">{{ action_title }}</a>
{% endblock action %}
