{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}{% blocktrans context 'email' %}
<p>You have been added to the activity "{{ title }}" as a participant.</p>

<p>Head over to the activity page for more information.</p>

{% endblocktrans %}{% endblock %}

{% block action %}
  <a href="{% message_url action_link %}" class="action-email">
        {% blocktrans context 'email' %}
            Confirm your account and view the activity 
        {% endblocktrans %}
    </a>
{% endblock %}`