{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message %}
    <p>
    {% blocktrans context 'email' %}
        Here’s your monthly digest with activities on {{ site }} that need your support to make the world a little bit better. These activities are selected based on your profile.
    {% endblocktrans %}
    </p>
    <ul>
        {% for activity in activities %}
        <li>
            <h2>
                <a href="{{activity.url}}">{{activity.title}}</a>
            </h2>

            {% if activity.expertise %}
                <p>{{activity.expertise}}</p>
            {% endif %}

            <p>
            {{activity.when}}
            </p>

            {% if activity.theme %}
                <p>{{activity.theme}}</p>
            {% endif %}

            {% if activity.is_online %}
                <p>{% trans "Online / Remote" %}</p>
            {% elif activity.location %}
                <p>{{activity.location}}</p>
            {% endif %}

            <img src="{{activity.image}}"/>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
