{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message %}
    <p>
        {% if custom_message %}
            {{ custom_message|linebreaks }}
        {% else %}
            {% blocktrans context 'email' %}Your team has been accepted for the activity '{{ title }}'.
            {% endblocktrans %}
        {% endif %}
    </p>
    <p>
        {% blocktrans context 'email' %}
            On the activity page you will find the link to invite your team members.
        {% endblocktrans %}
    </p>
{% endblock %}
