$font-family-body: 'Neue Helvetica W01', Helvetica, Arial, sans-serif;

#payment {
    padding-left: 30px;
    padding-right: 30px;
    font-family: $font-family-body;

    // reset ul and li
    ul {
        margin: 0;
        
        li {
            padding-left: 0;
            background: none;
        }
    }

    .payment-tabs {
        float: none;
        list-style: none;
        position: relative;
        text-align: left;

        li {
            display: block;
            margin-right: -25px;
            @include transition(all 0.2s ease-in-out);

            label {
                display: block;
                position: relative;
                cursor: pointer;
                height: 46px;
                padding: 10px 10px 10px 65px;
                font-size: 15px;
            }

            &:hover {

                label {
                    color: #9F9F9F;
                }
            }

            &:before {
                position: absolute;
                content: '';
                width: 35px;
                height: 35px;
                margin-left: 20px;
            }
            
            &.creditcard {
                
                &:before {
                    background: image-url("icons/icon-creditcard-modal.svg") transparent no-repeat 0 16px;
                }
            }

            &.paypal {
                
                &:before {
                    background: image-url("icons/icon-paypal-modal.svg") transparent no-repeat 0 14px;
                }
            }
            &.ideal {
                &:before {
                    background: image-url("icons/ideal.png") transparent no-repeat 0 13px;
                    background-size: 22px;
                }
            }
            &.directdebit {
                &:before {
                    background: image-url("icons/icon-directdebit-modal.svg") transparent no-repeat 0 16px;
                }
            }

            &.is-active {
                background: #F5F4F6;
                border-radius: 8px 0 0 8px;

                .payment-tab-content {
                    display: block;
                    padding: 15px;
                }

                label {
                    display: block;
                    font-weight: 800;
                }
            }
        }

        input[type="radio"] {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    }

    .payment-tab-content {
        position: relative;
        text-align: left;
        background: #F5F4F6;
        border-radius: 8px;
        font-size: 14px;
        line-height: 20px;
        min-height: 220px;

        form, .no-form {
            padding: 20px 25px 25px 25px;

            select {
                margin-top: 8px;

                // Webkit
                -webkit-appearance: none;
                -webkit-border-radius: 0;
                -webkit-box-shadow: none;
                -webkit-padding-end: $base-padding;
                -webkit-padding-start: $base-padding;
                -webkit-user-select: none;
                
                // Firefox
                -moz-appearance: none;
                appearance: none;
                
                background-image: image-url("img/form-select-arrow.svg");
                background-position: 100% 50% !important;
                background-repeat: no-repeat;

                border-radius: 4px;
                border-color: #d8d8d8;
                height: 40px;
                color: $color-secondary;
                
                &:hover, &:focus {
                    border-color: $color-secondary;
                    background-image: image-url("img/form-select-arrow-hover.svg");
                    background-position: 100% 50% !important;
                }

                option {
                    border-width: 0;
                }
            }

            &.directdebit-list {
                .row {
                    margin-bottom: 5px;

                    .col12, .col8 {
                        @include transition(all .2s ease-in-out);
                    }
                }

                .bic-col {
                    display: none;
                }

                #bicswift {
                    font-size: 12px;
                }
            }
        }


        span {
            font-size: 15px;
            font-weight: 800;
        }

        h6 {
            margin: 0 0 4px 0;
            text-transform: none;
            font-size: 15px;
            font-family: $font-family-body;
            font-weight: 700;
        }

        .creditcard-cvc {

            .tooltip-holder {

                .tooltip {
                    bottom: 24px;
                    width: 166%;
                    margin-left: 10px;
                    background: none;

                    &:after {
                        border-top: none;
                    }
                }

                .exclamationmark {
                    top: 5px;
                    right: 0;
                }
            }

        }
    }

    .several-cards {
        margin: 20px 0 15px 0;
    }

    .icon-card {
        width: 41.6px;
        height: 26px;
        display: block;
        margin: auto;

        &.creditcard-detector {
            position: absolute;
            right: 10px;
            bottom: 14px;
            background: image-url("icons/icon-default-card.svg") transparent no-repeat 0 0;
            @include opacity(0);
            @include transform(translateX(25px));
            @include transition(all .1s ease-in);

            &.visa {
                background: image-url("icons/icon-visa-card.svg") transparent no-repeat 0 0;
                @include opacity(1);
                @include transform(translateY(0));
            }

            &.mastercard {
                background: image-url("icons/icon-mastercard-card.svg") transparent no-repeat 0 0;
                @include opacity(1);
                @include transform(translateY(0));
            }

            &.americanexpress {
                background: image-url("icons/icon-americanexpress-card.svg") transparent no-repeat 0 0;
                @include opacity(1);
                @include transform(translateY(0));
            }

            &.dinersclub {
                background: image-url("icons/icon-discover-card.svg") transparent no-repeat 0 0;
                @include opacity(1);
                @include transform(translateY(0));
            }

            &.discover {
                background: image-url("icons/icon-discover-card.svg") transparent no-repeat 0 0;
                @include opacity(1);
                @include transform(translateY(0));
            }

            &.jcb {
                background: image-url("icons/icon-maestro-card.svg") transparent no-repeat 0 0;
                @include opacity(1);
                @include transform(translateY(0));
            }
        }

        &.paypal {
            background: image-url("icons/icon-paypal-card.svg") transparent no-repeat 0 0;
            background-size: 95%;
        }

        &.visa {
            background: image-url("icons/icon-visa-card.svg") transparent no-repeat 0 0;
            background-size: 95%;
        }

        &.mastercard {
            background: image-url("icons/icon-mastercard-card.svg") transparent no-repeat 0 0;
            background-size: 95%;
        }

        &.americanexpress {
            background: image-url("icons/icon-americanexpress-card.svg") transparent no-repeat 0 0;
            background-size: 95%;
        }

        &.amex {
            background: image-url("icons/icon-americanexpress-card.svg") transparent no-repeat 0 0;
            background-size: 95%;
        }

        &.discover {
            background: image-url("icons/icon-discover-card.svg") transparent no-repeat 0 0;
            background-size: 95%;
        }

        &.maestro {
            background: image-url("icons/icon-maestro-card.svg") transparent no-repeat 0 0;
            background-size: 95%;
        }
    }

    .card-holder {
        display: inline-block;
        margin: 15px 0 -15px 0;

        .card-item {
            float: left;
            max-width: 35px;

            .icon-card, .icon-card.is-unselected {
                background-size: 75%;
                @include opacity(.4);
                @include filter(grayscale(100%));
                @include transition(all .2s ease-in-out);
                cursor: pointer;

                &:hover, &.is-selected {
                    @include opacity(1);
                    @include filter(grayscale(0%));
                }

            }
        }
    }

    .modal-flash-message {
        margin: 31px -31px 0 -31px;
    }

    .card-types-list {
        margin-top: 20px;
        background: white;
        border-radius: 6px;
        border: solid 1px #ccc;

        .icon-card {
            float: right;
            margin: 6px 2px 0 0;
        }

        li {
            height: 35px;
            color: #9F9F9F;

            &:not(:first-of-type) {
                border-top: solid 1px #ccc;
            }

            label {
                display: block;
                width: 100%;
                height: 100%;

                &.is-active {
                    color: #5DC0ED;
                }
            }

            input[type="radio"] {
                display: none;
            }

            input[type="radio"] + i {
                display: inline-block;
                height: 7px;
                width: 12px;
                margin: 15px 2px 0 7px;
            }

            input[type="radio"]:checked + i {
                background: image-url("icons/icon-radio-checked.svg") transparent no-repeat 0 0;
            }

        }
    }
}

