{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message %}
    <p class="donation-intro">
        {% blocktrans context 'email' %}
            Great news! Your identity has been successfully verified on {{site_name}}.
            <br/>
            This means that people can now collect funds for your organisation. These funds will be paid out straight to your organisation once a funding campaign has come to an end.
        {% endblocktrans %}
    </p>
{% endblock content %} 

{% block action %}{% endblock %}`
