////// Flip ///////
@include keyframes(flipBack) {
    0% {
            @include transform(rotateY(0deg));
        }

    100% {
            @include transform(rotateY(-180deg));
        }

}

@include keyframes(flipFront) {
    0% {
            @include transform(rotateY(-180deg));
        }

    100% {
            @include transform(rotateY(0deg));
        }
}

////// Fade //////
@include keyframes(fadeIn) {
  0% {
    visibility: hidden;
    @include opacity(0);
  }

  100% {
    visibility: visible;
    @include opacity(1);
  }
}

@include keyframes(fadeOut) {
  0% {
    visibility: visible;
    @include opacity(1);
  }

  100% {
    visibility: hidden;
    @include opacity(0);
    
  }
}

@include keyframes(fadeOutDown) {
  0% {
    @include opacity(1);
    @include transform(translateY(0));
  }
  100% {
    @include opacity(0);
    @include transform(translateY(20px));
  }
}

@include keyframes(fadeInUp) {
  0% {
    @include opacity(0);
    @include transform(translateY(20px));
  }
  100% {
    @include opacity(1);
    @include transform(translateY(0));
  }
}

@include keyframes(fadeInDownBig) {
  0% {
    @include opacity(0);
    @include transform(translateY(100px));
  }
  100% {
    @include transform(translateY(0));
  }
}

@include keyframes(fadeOutUpBig) {
  0% {
    @include opacity(1);
    @include transform(translateY(0));
  }
  100% {
    @include opacity(0);
    @include transform(translateY(100px));
  }
}

////// Rotate //////
@include keyframes(rotateOutDownRight) {
  0% {
    @include transform-origin(right bottom);
    @include transform(rotate(0));
    @include opacity(1);
  }
  100% {
    @include transform-origin(right bottom);
    @include transform(rotate(-90deg));
    @include opacity(0);
  }
}

////// Shake //////
@include keyframes(shake) {
  0% {@include transform(translateX(0));}
  10% {@include transform(translateX(-10px));}
  20% {@include transform(translateX(10px));}
  30% {@include transform(translateX(-10px));}
  40% {@include transform(translateX(10px));}
  50% {@include transform(translateX(-10px));}
  60% {@include transform(translateX(10px));}
  70% {@include transform(translateX(-10px));}
  80% {@include transform(translateX(10px));}
  90% {@include transform(translateX(-10px));}
  100% {@include transform(translateX(0));}
}


////// Expose //////
@include keyframes(tada) {
  0%{ 
    @include transform(scale(1));
  }
  10% {
    @include transform(scale(0.9), rotate(-3deg));
  }
  20% {
    @include transform(scale(0.9), rotate(-3deg));
  }
  30% {
    @include transform(scale(1.1), rotate(3deg));
  }
  40% {
    @include transform(scale(1.1), rotate(-3deg));
  }
  50% {
    @include transform(scale(1.1), rotate(3deg));
  }
  60% {
    @include transform(scale(1.1), rotate(-3deg));
  }
  70% {
    @include transform(scale(1.1), rotate(3deg));
  }
  80% {
    @include transform(scale(1.1), rotate(-3deg));
  }
  90% {
    @include transform(scale(1.1), rotate(3deg));
  }
  100% {
    @include transform(scale(1), rotate(0));
  }
}

@include keyframes(shakeModal) {
  0% {
    @include transform(translateX(0));
  }
  12.5% {
    @include transform(translateX(-6px) rotateY(-5deg));
  }
  37.5% {
    @include transform(translateX(5px) rotateY(4deg));
  }
  62.5% {
    @include transform(translateX(-3px) rotateY(-2deg));
  }
  87.5% {
    @include transform(translateX(2px) rotateY(1deg));
  }
  100% {
    @include transform(translateX(0));
  }
}

@include keyframes(slideInRight) {
  0% {
    @include transform(translateX(500px));
    @include opacity(0);
  }
  100% {
    @include transform(translateX(0));
    @include opacity(1);
  }
}

@include keyframes(slideInLeft) {
  0% {
    @include transform(translateX(-500px));
    @include opacity(0);
  }
  100% {
    @include transform(translateX(0));
    @include opacity(1);
  }
}

@include keyframes(slideOutLeft) {
  0% {
    @include transform(translateX(0));
    @include opacity(1);
  }
  100% {
    @include transform(translateX(-500px));
    @include opacity(0);
  }
}

@include keyframes(slideOutRight) {
  0% {
    @include transform(translateX(0));
    @include opacity(1);
  }
  100% {
    @include transform(translateX(500px));
    @include opacity(0);
  }
}

@include keyframes(scaleBack) {
  0% {
    @include transform(scale(1));
    @include opacity(1);
  }
  100% {
    @include transform(scale(0));
    @include opacity(0); 
  }
}

@include keyframes(scaleUp) {
  0% {
    @include transform(scale(1));
    @include opacity(1);
  }
  100% {
    @include transform(scale(4));
    @include opacity(0); 
  }
}

@include keyframes(scaleDown) {
  0% {
    @include transform(scale(4));
    @include opacity(0);
  }
  100% {
    @include transform(scale(1));
    @include opacity(1); 
  }
}




