.account-achievements {
	
	.account-achievements-projects {
		background-position-x: -40px;
	}
	.account-achievements-tasks {
		background-position-x: -40px;
	}
	.account-achievements-time {
		background-position-x: -40px;
	}
}


.wall-form {
	.tabs {
		li {
			> a, > span  {
				&:before {
					position: inherit;
				}
			}
		}
	}	
}

select {
	background-image: none\9\0; // only IE9
	
	&:hover, &:focus {
		background-image: none\9\0; // only IE9
	}
}


#card {
	.front {
		z-index: 3000;
		position: relative;
		visibility: visible;

		&.slide-in-left {
				z-index: 1000;
			position: absolute;
			visibility: hidden;
			}

			&.slide-out-left {
				z-index: 3000;
			position: relative;
			visibility: visible;
			}
	}

	.back {
		z-index: 1000;
		position: absolute;
		visibility: hidden;
	}

	&.flipped {

		.front {
			z-index: 1000;
			position: absolute;
			visibility: hidden;
		}

		.back {
			z-index: 3000;
			position: relative;
			visibility: visible;
		}
	}
}

