{% load i18n %}
<h3>{%trans "Add participant to all slots" %}</h3>

<p>
{% if effects.0.instance.activity.avtivity.active_participants.count > 1 %}
    {% blocktrans with instance=effects.0.instance participant_count=effects.0.instance.activity.avtivity.active_participants.count  %}
        Add all {{ participant_count }} accepted participants to {{ instance }}
    {% endblocktrans %}
{% else %}
    {% blocktrans with instance=effects.0.instance participant_count=effects.0.instance.activity.avtivity.active_participants.count  %}
        Add the accepted participant to {{ instance }}
    {% endblocktrans %}
{% endif %}
