{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans %}

        Hi {{ receiver_name }},

        Thank you for your partnership with {{site}}.
    {% endblocktrans %}

    {% if survey_link %}
        <br><br>
        {% blocktrans with link=survey_link %}
        To record the impact we have with our initiatives, your input is extremely important.
        <br><br>
        Please help us by filling out our 1 minute <a href="{{ link }}">survey</a>
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block action %}
    {% if survey_link %}
        <a href="{{ survey_link }}"
           class="action-email">{% trans 'Fill out survey' %}</a>
    {% endif %}
{% endblock %}`
