{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans %}

        Hi {{ receiver_name }},
        <br><br>
        The deadline of your initiative "{{ title }}" has expired!<br>
        <br>
        Don't wait any longer. Let your supporters know about your next steps.
        <br>
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action-email">{% trans 'Share an update' context 'email' %}</a>
{% endblock %}`
