{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans %}

        Hi {{ receiver_name }},
        TODO: Fix content
    {% endblocktrans %}

    {% if survey_link %}
        {% blocktrans with link=survey_link %}
        <a href="{{ link }}">Please take a moment to fill in a survey about the impact you created<a/>
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action-email">{% trans 'Share an update' context 'email' %}</a>
{% endblock %}`
