{% load templatetag_handlebars %}
{% load i18n static %}

{% tplhandlebars "components/bb-picture-upload" %}
<li class="control-group">
	<label class="control-label">
	    {% trans "Profile Picture" %}
	</label>

	<div class="controls file-upload">
	    <figure class="member-avatar"><img {{bindAttr src="getAvatar"}} /></figure>
	    <a class="btn-link btn-upload">
	        {{view App.UploadFile contentBinding="this" name="picture" id="picture" accept="image/*" fileBinding="picture"}}
	        <span class="flaticon solid upload-document-1"></span>
	        {% trans "Upload picture" %}
	    </a>
	</div>
</li>
{% endtplhandlebars %}
