{% if video_url %}
  <a href="{{video_url}}" target="_blank" class="video-container">
    {% if youtubeid %}
      {# a play button overlay would be nice to show it's a video #}
      <img src="https://img.youtube.com/vi/{{youtubeid}}/default.jpg">
      <span class="play-btn"></span>
    {% else %}
      {{video_url}}
    {% endif %}
  {% if count > 0 %}
    <div class="video-text">&#43; {{count}} images</div>
  {% endif %}
  </a>

{% else %}
  <div class="photo-container">
    {% if firstimage %}
    <img src="{{firstimage}}" >
    {% endif %}
    {% if remains %}
    <div class="photo-text">&#43; {{remains}} more</div>
    {% endif %}
  </div>
{% endif %}
