{% load i18n %}

{% if has_notifications %}

<fieldset class="module aligned">
    <div class="form-row{% if field.errors %} errors{% endif %}">
        <div {% if field.is_checkbox %} class="checkbox-row" {% endif %}>
            <div class="field-box">
                <span class="checkbox">
                    <label for="id_send_messages">
                        Send e-mail notifications
                    </label>
                    <input type="checkbox" name="send_messages" id="id_send_messages" checked="">
                    <label for="id_send_messages" class="checkbox-label"></label>
                    <span class="checkbox_help">
                        <label for="id_send_messages" style='width: auto'>
                            {% trans "Unselect to continue without sending notifications"%}
                        </label>
                    </span>
                </span>
            </div>

        </div>
    </div>
</fieldset>
{% endif %}
