#project-detail-header {

    .project-detail-main {
        position: relative;
        height: 600px;
        
        .project-background {
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 600px;
            background: #181818;
            
            .project-background-image {
                width: 100%;
                height: 606px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
                @include filter(blur(10px));
                filter: url(#projectBlur);
                @include opacity(.4);
                @include transform(scale(1.05));
            }
        }

        .project-detail {
            padding: 47px 0 0 0;
        }

        .project-share {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 42px;
            padding: 0.5em 0;
            z-index: 199;
        }

        .project-image {
            width: 100%;
            float: right;
            margin-top: 17px;

            iframe {
                height: 180px;
            }
        }

        .project-info {
            .project-title {
                display: inline-block;
                width: 100%;
                text-transform: none;
                color: $white;
                font-size: 32px;
            }

            .project-description {
                overflow: hidden;
                max-height: 180px;
                color: $gray-border;
                line-height: 26px;
            }
        }

        .project-status {
            margin-top: 34px;

            .project-fund {
                .campaign-fund-amount-slider {
                    .project-fund-amount-slider {
                        background-color: rgba($gray-border, .15)
                    }
                }

                .project-fund-amount {
                    padding-top: 8px; 
                    float: left;
                    text-transform: none;
                    font-size: 18px;

                    .amount-donated {
                        color: $white;
                        font-size: 24px
                    }

                    .amount-asked {
                        font-weight: bold;
                    }
                }

                .project-days-left {
                    float: right;
                    margin-top: 8px;
                    text-transform: none;
                    @include custom-icon(clock, 21px, 20px, 4px, image-url("img/icons/icon-clock-detail.svg"));
                }
            }
        }

        .project-action {
            margin-top: 34px;

            .btn {
                width: 100%;
                text-align: center;
                font-size: 20px;
            }
        }

        #project-members {
            position: absolute;
            bottom: 0px;
            padding: 17px 0 24px 0;
            width: 100%;
            background: rgba($gray-darkest, 0.48);

            .member-initiator {
                .member {
                    .photo {
                        height: 72px;
                        width: 72px;
                    }

                    h4 {
                        color: $white;
                        text-transform: none;
                    }

                    .name {
                        color: $color-secondary;
                        text-decoration: underline;
                    }
                }
            }

            .project-member-supporters {
                float: right; 

                ul {
                    margin: 0;

                    li {
                        padding-left: 0;
                        margin: 0;
                        background: none;
                        float: left;

                        span {
                            &.member-avatar img {
                                width: 44px;
                                height: 44px;
                            }
                        }
                    }                    
                }
            }
        }

        &.without {
            height: 480px;

            .project-background {
                height: 480px;

                .project-background-image {
                    height: 482px;
                }
            }
        }
    }
}


