{% load i18n %}

{% if wizard.steps.prev %}

  <button type="submit" class="btn btn-secondary" style="display: none" >
  <button
      name="wizard_goto_step"
      type="submit"
      value="{{ wizard.steps.prev }}"
      class="btn btn-secondary"
  >
      {% trans "Back" %}
  </button>
{% endif %}
<span class="submit-row">
    <button type="submit" class="btn btn-primary">
        {% if wizard.steps.current == 'auth' %}
            {% trans "Log in with password" %}
        {% else %}
            {% trans "Next" %}
        {% endif %}
    </button>
</span>
