{% extends "admin/delete_confirmation.html" %}
{% load i18n admin_urls %}

{% block content %}
<p style="margin-top: 20px;">{% blocktrans %}
Are you sure you want to take a cut from the organization fees? The following donations and payouts will be affected:
{% endblocktrans %}
</p>

<ul>
{% for donation, data in affected.items %}
<li>
    {{ donation }}
    <ul>
    {% if data.new_status %}
        <li>{% blocktrans with status=data.new_status %}Donation/order status changes to {{ status }}{% endblocktrans %}</li>
    {% endif %}

    {% if data.updateable_payout %}
        <li>
            {% url admin_payout data.updateable_payout.pk as change_url %}
            {% blocktrans with payout=data.updateable_payout %}
                No cut will be taken, donation will not be paid out to the project:
                <a href="{{ change_url }}">{{ payout }}</a>
            {% endblocktrans %}
        </li>
    {% endif %}

    {% if data.in_progress_payout %}
        <li>
            {% url admin_payout data.in_progress_payout.pk as change_url %}
            {% blocktrans with payout=data.in_progress_payout %}
                Cut will be taken from:
                <a href="{{ change_url }}">{{ payout }}</a>
            {% endblocktrans %}
        </li>
    {% endif %}

    {% if data.updateable_payout %}
        <li>
            {% blocktrans with payout=data.new_payout %}
                A dummy payout will be created with zero payable amount and negative organizationf ee:
                {{ payout }}
            {% endblocktrans %}
        </li>
    {% endif %}
    </ul>
</li>
{% endfor %}
</ul>
<form action="" method="post">{% csrf_token %}
    <div>
        <input type="hidden" name="post" value="yes" />
        <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    </div>
</form>
{% endblock %}
