$bb-icon-width: 16px;

@mixin bb-icon($image-src) {
	padding-left: 23px;
	position: relative;
	
	&:before { 
		background: image-url($image-src) transparent no-repeat 0 0;
		background-size: 16px;
		background-color: $color-secondary;
		height: $bb-icon-width;
		width: $bb-icon-width;
		position: absolute;
		display: block;
		content: "";
		left: 0px;
		top: 5px;
	}
}


.bb-icon {
	&.icon-add-boxed { @include bb-icon("icons/icon-add-boxed.svg") }
}