{% load bb_ember i18n static %}

{% tplhandlebars "adyen/creditcard" %}
    <p>
        <img src="{% static 'images/adyen/adyen.png' %}" alt="Adyen" height="60px" />
        <br/>
        You're about to pay with credit card through Adyen.
    </p>
{% endtplhandlebars %}