{% load bb_ember i18n static %}

{% tplhandlebars "adyenIdeal" %}
    <p>
        <img src="{% static 'images/adyen/adyen.png' %}" alt="Adyen"  />
        <br />
        <img src="{% static 'images/adyen/ideal.png' %}" alt="iDEAL"  />
        <br/>
        You're about to pay with iDEAL through Adyen.
    </p>
{% endtplhandlebars %}