{% load bb_ember i18n static %}

{% tplhandlebars "adyen/paypal" %}
    <p>
        <img src="{% static 'images/adyen/adyen.png' %}" alt="Adyen" height="60px" />
        <br/>
        <img src="{% static 'images/adyen/paypal.png' %}" alt="Paypal" height="60px" />
        <br/>
        You're about to pay with Paypal through Adyen.
    </p>
{% endtplhandlebars %}