{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% if custom_message %}
        {{ custom_message|linebreaks }}
    {% else %}
        {% blocktrans with recipient_name=to.first_name assignment_title=obj.title context 'email' %}
            Hi {{ recipient_name }},<br>
            Unfortunately, you have not been selected for the task "{{ assignment_title }}".<br>
            Don’t worry, there is a lot more activities out there that need your help. Go to the activity overview page to see if there is something for you.
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block action %}
    <a href="{{ obj.activity.get_absolute_url }}"
       class="action-email">{% trans 'View task' context 'email' %}</a>
{% endblock %}`
