{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% if custom_message %}
        {{ custom_message }}
    {% else %}
        {% blocktrans with recipient_name=obj.user.first_name assignment_title=obj.activity.title context 'email' %}
            Hi {{ recipient_name }},<br>
            Unfortunately, nobody applied to your task {{ assignment_title }} before the deadline. This means we'll have to close this task.
            But, don't give up yet! You can always create a new task and try again.
            Need some tips to make your task stand out? The support team is always happy to help.
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block action %}
    <a href="{{ obj.initiative.get_absolute_url }}"
       class="action-email">{% trans 'View initiative' context 'email' %}</a>
{% endblock %}`
