{% load bb_ember i18n static %}

{% tplhandlebars "mollie/creditcard" %}
    <p>
        <img src="{% static 'images/mollie/mollie.jpg' %}" alt="Mollie" height="60px" />
        <br/>
        You're about to pay with credit card through Mollie.
    </p>
{% endtplhandlebars %}