{% load bb_ember i18n static %}

{% tplhandlebars "mollieCreditcard" %}
    <p>
        <img src="{% static 'images/mollie/mollie.jpg' %}" alt="Mollie"  />
        <br/>
        You're about to pay with credit card through Mollie.
    </p>
{% endtplhandlebars %}