{% load bb_ember i18n static %}

{% tplhandlebars "mollie/ideal" %}
    <p>
        <img src="{% static 'images/mollie/mollie.jpg' %}" alt="Mollie" height="60px" />
        <br/>
        <img src="{% static 'images/mollie/ideal.png' %}" alt="iDEAL" height="60px" />
        <br/>
        You're about to pay with iDEAL through Mollie.
    </p>
{% endtplhandlebars %}