{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "error/not_found" %}
	<div class="l-section page-error" id="page" >
		<section class="l-wrapper">
			<article class="l-content">
				<header class="page-header">
	            	<h1>{% trans "Something went wrong" %}</h1>
				</header>
				<p>{% trans "The page you are looking for couldn't be found." %}</p>
			</article>
		</section>
{% endtplhandlebars %}