{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans with recipient_name=to.first_name title=obj.content_object.title author_name=obj.author.first_name context 'email' %}
        Hi {{ recipient_name }},
        <br><br>
        {{ author_name }} just posted a comment on your '{{ title }}' wallpost.
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ obj.content_object.get_absolute_url }}"
       class="action-email">{% trans 'View initiative' context 'email' %}</a>
{% endblock %}`
