{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message%}{% blocktrans with title=obj.title  context 'email' %}
<p>You did it! Your activity "{{ title }}" has succeeded, that calls for a celebration!</p>
{% endblocktrans %}

{% if impact %}
    {% blocktrans %}
        <p>Head over to your activity page and enter the impact your activity made, so that everybody can see how effective your activity was.</p>
    {% endblocktrans %}
{% endif %}

{% blocktrans %}
    <p>And don’t forget to thank your awesome participants for their support.</p>
{% endblocktrans %}
{% endblock %}
