{% extends "mails/messages/application_base.html" %}
{% load i18n %}

{% block content %}{{block.super}}{% block message%}{% blocktrans with title=obj.activity.title applicant=obj.activity.user.full_name context 'email' %}
<p>{{ applicant }} applied to your activity "{{ title}}".<p>

<p>Review the application and decide if this person is the right fit.</p>
{% endblocktrans %}{% endblock %}{% endblock %}
{% block action %}
    <a href="{{ obj.activity.get_absolute_url }}"
       class="action-email">{% trans 'Review the application' context 'email' %}</a>
{% endblock %}`
