{% extends "mails/messages/activity_base.html" %}
{% load i18n %}
{% block message %}
<p>
{% blocktrans context 'platform-email' %}
Some details of the team activity you are a part of have changed:
{% endblocktrans %}
</p>
<p>
    {% blocktrans context 'platform-email' %}
        Updated details below:
    {% endblocktrans %}
</p>
<p>
{{ team_name }}
</p>
<p>
"{{ title }}"
</p>

{% include 'mails/messages/partial/team_slot.html' %}

<p>
{% blocktrans context 'platform-email' %}
Please view your team from the activity page to see the changes.
{% endblocktrans %}
</p>
<p>
{% endblock %}

{% block end_message %}
  {% include 'mails/messages/partials/withdraw_notification.html' %}
{% endblock %}

