{% extends "mails/messages/activity_base.html" %}
{% load i18n %}
{% block message %}
<p>
{% blocktrans context 'email' %}
Some details of the team activity you are a part of have changed:
{% endblocktrans %}
</p>
<p>
{{ team_name }}
</p>
<p>
{{ title }}
</p>

{% if start %}
    {% blocktrans context 'email' %}
        Start: {{ start }}
    {% endblocktrans %}
{% endif %}
<br />
{% if end %}
    {% blocktrans context 'email' %}
        End: {{ end }}
    {% endblocktrans %}
{% endif %}
<br />
{% if is_online %}
    {% blocktrans context 'email' %}
        Anywhere/Online
    {% endblocktrans %}
{% else %}
    {% if location %}
        {{ location }}
    {% endif %}
{% endif %}

</p>
<p>
{% blocktrans context 'email' %}
Please view your team from the activity page to see the changes.
{% endblocktrans %}
</p>
<p>
{% endblock %}

{% block end_message %}
    <p>
        <i>
            {% blocktrans context 'email' %}
                If you are unable to participate, please withdraw via the activity page so that others can take your place.
            {% endblocktrans %}
        </i>
    </p>
{% endblock %}

