{% extends "mails/messages/activity_base.html" %}
{% load i18n %}
{% block message %}
<p>
{% blocktrans context 'email' %}
The activity "{{ title }}" has changed:
{% endblocktrans %}
</p>
<p>
{% if duration %}
    {% include 'mails/messages/partial/period.html' %}
{% else %}
    {% include 'mails/messages/partial/slots.html' %}
{%  endif %}
</p>
<p>
{% blocktrans context 'email' %}
Read the latest updates on the activity page.
{% endblocktrans %}
</p>
<p>
{% endblock %}

{% block end_message %}
  {% include 'mails/messages/partial/withdraw_notification.html' %}
{% endblock %}