{% extends "mails/messages/activity_base.html" %}
{% load i18n %}
{% block message %}
<p>
{% blocktrans context 'email' %}
Some details of activity "{{ title }}" have changed.
{% endblocktrans %}
</p>
<p>

{% blocktrans context 'email' %}
These are all the time slots that you participate in:
{% endblocktrans %}
<br/>
{% include 'mails/messages/partial/slots.html' %}
</p>

<p>
{% blocktrans context 'email' %}
Read the latest updates on the activity page.
{% endblocktrans %}
</p>
{% endblock %}

{% block end_message %}
  {% include 'mails/messages/partials/withdraw_notification.html' %}
{% endblock %}
