{% extends "mails/messages/activity_base.html" %}
{% load i18n %}
{% block message %}
<p>
{% blocktrans context 'email' %}
The activity "{{ title }}" has changed:
{% endblocktrans %}
</p>
<p>
{% if duration %}
    {% include 'mails/messages/partial/period.html' %}
{% else %}
    {% include 'mails/messages/partial/slots.html' %}
{%  endif %}
</p>
<p>
{% blocktrans context 'email' %}
Read the latest updates on the activity page.
{% endblocktrans %}
</p>
<p>
{% endblock %}

{% block end_message %}
    <p>
        <i>
            {% blocktrans context 'email' %}
                If you are unable to participate, please withdraw via the activity page so that others can take your place.
            {% endblocktrans %}
        </i>
    </p>
{% endblock %}

