{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
    <p>
        {% blocktrans context 'email' %}
            You joined an activity on <b>{{ site_name }}!</b>
        {% endblocktrans %}
    </p>

    <p>
        <b>{{ title }}</b>
    </p>

    {% if duration %}
        {% include 'mails/messages/partial/period.html' %}
    {% elif slots %}
        {% include 'mails/messages/partial/slots.html' %}
    {%  endif %}
{% endblock %}


{% block end_message %}
  {% include 'mails/messages/partials/withdraw_notification.html' %}
{% endblock %}