{% extends "base.mail.html" %}
{% load i18n %}
{% load message_url %}

{% block content %}
    {% blocktrans context 'email' %}
        <p>Hi {{ recipient_name }},</p>
    {% endblocktrans %}
    {% if custom_message %}
        <p>{{custom_message|linebreaks}}</p>
    {% else %}
        {% block message %}{% endblock %}
    {% endif %}
    {% block additional %} {% endblock %}
{% endblock %}

{% block action %}
  <a href="{% message_url action_link %}"
       class="action-email">{{ action_title }}</a>
{% endblock %}`


{% block end_message %}
  <div class="info-box">
      {% blocktrans context 'email' %}
        Our partners are counting on your participation. Withdrawing at the last moment or not showing up will affect their planning. If you are unable to participate, please withdraw in time so we can find a suitable solution.
      {% endblocktrans %}
  </div>
{% endblock %}
