{% extends "mails/messages/activity_base.html" %}
{% load i18n %}
{% block content %}
<p>
{% blocktrans context 'email' %}
The activity "{{ title }}" takes place in just a few days!
{% endblocktrans %}
</p>

<p>
{% blocktrans context 'email' %}
These are all the time slots that you participate in:
{% endblocktrans %}
<br/>
{% include 'mails/messages/partial/slots.html' %}

<p>
{% blocktrans context 'email' %}
Read the latest updates on the activity page.
{% endblocktrans %}
</p>
<p>
<i>
{% blocktrans context 'email' %}
If you are unable to participate, please withdraw via the activity page so that others can take your place.
{% endblocktrans %}
</i>
</p>

{% endblock %}
