{% extends "mails/messages/activity_base.html" %}
{% load i18n %}
{% block message %}
<p>
{% blocktrans context 'email' %}
The team activity is just a few days away!
{% endblocktrans %}
</p>
<p>
{{ team_name }}
</p>
<p>
{{ title }}
</p>
<p>
{% include 'mails/messages/partial/period.html' %}
</p>

<p>
{% blocktrans context 'email' %}
Please view your team from the activity page.
{% endblocktrans %}
</p>
<p>
<i>
{% blocktrans context 'email' %}
If you are unable to participate, please withdraw via the activity page so that others can take your place.
{% endblocktrans %}
</i>
</p>

{% endblock %}
