{% extends "mails/messages/activity_base.html" %}
{% load i18n %}

{% block message %}
    <p>
        {% blocktrans context 'platform-email' %}Good news, a spot has opened up for the activity:{% endblocktrans %}
    </p>
    <p>
        <b>{{ title }}</b><br/>
        {% if slots %}
            {% for slot in slots %}
                {{ slot.start_date }}<br/>
                {{ slot.start_time }} to {{ slot.end_time }} ({{ slot.timezone }})<br/>
                {% if slot.is_online %}
                    {% if slot.online_meeting_url %}
                        <a href="{{ slot.online_meeting_url }}">
                            {% trans "Meeting link" context "platform-email" %}
                        </a>
                    {% else %}
                        {% trans "Anywhere/Online" context "platform-email" %}
                    {% endif %}
                {% else %}
                    {{ slot.location }}
                    {% if slot.location_hint %}
                        <br/>
                        {{ slot.location_hint }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if start or end %}
                {% if start and end %}
                    {{ start }} – {{ end }}<br/>
                {% elif start %}
                    {{ start }}<br/>
                {% else %}
                    {{ end }}<br/>
                {% endif %}
            {% endif %}
            {% if is_online %}
                {% trans "Anywhere/Online" context "platform-email" %}
            {% elif location %}
                {{ location }}
            {% endif %}
        {% endif %}
    </p>
    <p>
        {% blocktrans context 'platform-email' %}Head to the activity page to join. Spots are first-come, first-served. If the spot has been taken, you'll still be notified when another spot opens up.{% endblocktrans %}
    </p>
{% endblock %}

{% block end_message %}
    <p>
        <em>
            {% blocktrans context 'platform-email' %}If you're no longer interested, you don't need to do anything.{% endblocktrans %}
        </em>
    </p>
{% endblock %}
