{% load bb_ember i18n static %}

{% tplhandlebars "docdataCreditcard" %}
    <p>
        <img src="{% static 'images/docdata/docdata.png' %}" alt="Docdata"  />
        <br/>
        You're about to pay with Credit Card through Docdata.
        {{view App.DocdataCreditcardSelectView valueBinding='default_pm'}}

    </p>
{% endtplhandlebars %}