{% load bb_ember i18n static %}

{% tplhandlebars "docdataIdeal" %}
    <p>
        <img src="{% static 'images/docdata/docdata.png' %}" alt="Docdata"  />
        <br/>
        <img src="{% static 'images/docdata/ideal.png' %}" alt="iDEAL"  />
        <br/>
        You're about to pay with iDEAL through Docdata.
        {{view App.DocdataIdealBankSelectView valueBinding='ideal_issuer_id' name='docDataiDealSelect'}}

    </p>
{% endtplhandlebars %}