{% load bb_ember i18n static %}

{% tplhandlebars "docdata/ideal" %}
    <p>
        <img src="{% static 'images/docdata/docdata.png' %}" alt="Docdata" height="60px" />
        <br/>
        <img src="{% static 'images/docdata/ideal.png' %}" alt="iDEAL" height="60px" />
        <br/>
        You're about to pay with iDEAL through Docdata.
    </p>
{% endtplhandlebars %}