{% load bb_ember i18n static %}

{% tplhandlebars "docdataPaypal" %}
    <div class="no-form">
        {% blocktrans %}
            <h6>The world's most loved way to pay.</h6>
        {% endblocktrans%}
        {% blocktrans %}
            Paypal is the easy way to pay online without sharing 
            your credit-/debitcard details.
        {% endblocktrans%}

        <div class="row several-cards">
            <div class="col2">
                <i class="icon-card paypal"></i>
            </div>
            <div class="col2">
                <i class="icon-card visa"></i>
            </div>
            <div class="col2">
                <i class="icon-card mastercard"></i>
            </div>
            <div class="col2">
                <i class="icon-card americanexpress"></i>
            </div>
            <div class="col2">
                <i class="icon-card discover"></i>
            </div>
            <div class="col2">
                <i class="icon-card maestro"></i>
            </div>
        </div>
    </div>
{% endtplhandlebars %}
