.nav-actions {
    padding: 0;
    float: right;
    margin-left: 0;
    font-size: 15px;

    li {
        padding: 0;
        margin: 0;
        display: inline;

        &.nav-member {
            position: relative;
            top: -26px;
            display: block;
            margin-right: 20px;
            cursor: pointer;

            .nav-member-dropdown {
                overflow: auto;
                position: relative;
                text-decoration: none;
                display: block;
                color: $color-sec;
                @include border-top-radius($radius-large);
                padding: 20px 0 16px 20px;
                text-align: left;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;

                &.is-scrolled {
                    border-radius: 0;
                }

                strong {
                    display: inline-block;
                    font-family: $font-family-header;
                    font-weight: bold;
                    padding-right: 20px;
                    @include svg-icon("header/icon-dropdown.svg", #00C051, $color-sec);
                    background-position: 100% 55%;
                }

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    border-radius: 50%;
                    border: solid 1px $color-white;
                }
                
                /*
                .my-notifications {
                    position: absolute;
                    top: 7px;
                    left: 38px;
                    width: 20px;
                    height: 20px;
                    font-size: 0.8em;
                    line-height: 20px;
                    text-align: center;
                    color: $color-text;
                    background-color: $color-sec;
                    border-radius: 50%;
                }
                */
            }

            .nav-member-dropdown-menu {
                max-height: 0;
                overflow: hidden;
                @include transition(max-height 0.05s ease-out);

                border-radius: 0 0 8px 8px ;
                color: white;
                text-align: left;
                background: $color-sec;
                @include border-bottom-radius($radius-large);
                margin: 0;
                padding: 0;

                li {
                    padding: 0;
                    margin: 0;
                    display: inline;

                    a {
                        display: block;
                        padding: 6px 20px;
                        text-decoration: none;
                        color: $color-real-white;
                        border-top: 1px solid $color-sec-shadow;
                        @include transition(all 0.1s ease-out);

                        &:hover {
                            padding-left: 25px;
                            //background-color: $color-sec-shadow;
                            //background-color: $color-sec-shadow;
                        }
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        background-color: $color-sec-shadow;
                        font-size: 13px;
                        border-bottom: 1px solid darken($color-sec-shadow, 5%);

                        li a {
                            color: rgba($color-real-white, 0.7);
                            padding: 4px 20px 4px 30px;
                            border-top: 1px solid darken($color-sec-shadow, 5%);

                            &:hover {
                                padding-left: 35px;
                                background-color: darken($color-sec-shadow, 5%);
                            }
                        }
                    }
                }

                > li:last-of-type a {
                    border: none;
                }

                .nav-member-switch-language {
                    color: $color-text;
                    font-weight: normal;

                    span {
                        display: inline-block;;
                        padding: 0.5em 1em;
                        text-decoration: none;
                        color: $color-text;
                        margin: 0;
                        width: 120px;
                    }

                    .nav-language {
                        display: inline-block;
                        text-align: right;
                        width: 80px;

                        div {
                            display: inline;
                        }

                        a {
                            display: inline;
                            padding: 0 0 0 1em;

                            color: $color-pri-shadow;

                            &:hover, &:active {
                                color: $color-text;
                                background: none;
                            }
                        }

                        div.active a {
                            color: $color-text;
                        }
                    }
                }
            }
        }


        &:hover {

            .nav-member-dropdown {
                color: $color-text-on-dark;
                background: $color-sec;

                strong {
                    background-image: none;
                }
            }

            .nav-member-dropdown-menu {
                max-height: 300px;
                @include transition(max-height 0.2s ease-out);
            }
        }
    }

}