{% load i18n bb_ember %}


{% tplhandlebars "_matched_order_login_header" %}
    <div class="modal-fullscreen-header">
        <span {{action "modalFlip" "orderSignup"}} class="modal-fullscreen-back"></span>
        <span {{action "close"}} class="modal-fullscreen-close"></span>
        <h4>{%trans "Hello, is it me you're looking&nbsp;for"%}</h4>
    </div>
{% endtplhandlebars %}