.account-achievements {
	
	.account-achievements-projects {
		background-position-x: -40px;
	}
	.account-achievements-tasks {
		background-position-x: -40px;
	}
	.account-achievements-time {
		background-position-x: -40px;
	}
}


.wall-form {
	.tabs {
		li {
			> a, > span  {
				&:before {
					position: inherit;
				}
			}
		}
	}	
}

select {
	background-image: none\9\0; // only IE9
	
	&:hover, &:focus {
		background-image: none\9\0; // only IE9
	}
}