{% extends "mails/messages/participant_base.html" %}
{% load i18n %}
{% load message_url %}

{% block message %}
{% blocktrans context 'email' %}
<p>You have been added to an activity on {{site_name}}</p>
{% endblocktrans %}

{% blocktrans context 'email' %}
<p>View the activity to learn more about what’s planned and what to expect. We'll ask you to activate your account to stay updated which will make it easier to join future activities.</p>
{% endblocktrans %}
{% endblock %}

<p>{{ title }}</p>

{% block action %}
  <a href="{% message_url action_link %}" class="action-email">
        {% blocktrans context 'email' %}
            View activity 
        {% endblocktrans %}
    </a>
{% endblock %}`

{% block end_message %}
  {% include 'mails/messages/partials/withdraw_notification.html' %}
{% endblock %}