{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans with sender_name=sender.short_name receiver_name=receiver.short_name task_title=task.title %}
Hi {{ receiver_name }},
<br /><br />
Unfortunately the project initiator, {{ sender_name }}, found someone else to perform the task <a href="{{ site }}{{ link }}">'{{ task_title }}'</a>, which you applied for.
<br /><br />
No worries, we have some other really cool tasks that might be the perfect match for your skills.
<br /><br />
Take a look right here: <a href="{{ site }}{{ task_list }}">{{ site }}{{ task_list }}</a>
<br /><br />
Good luck!
<br /><br />
{{ site_name }}
{% endblocktrans %}
{% endblock %}

