{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans with sender_name=sender.full_name receiver_name=receiver.short_name task_title=task.title motivation=motivation %}

        Hello {{ receiver_name }},
        <br><br>
        Good news! {{ sender_name }} applied for your task
        <i>{{ task_title }}</i>.
        <br><br>
        {{ sender_name }} replied with the following motivation to your task:
        <br>
        {{ motivation }}
        <br><br>
        Please accept or reject this application, he or she will receive an
        email when you have confirmed the status.
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action">{% trans 'Confirm now' context 'email' %}</a>
{% endblock %}
