{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans with sender_name=sender.short_name receiver_name=receiver.short_name task_title=task.title %}
        Hi {{ receiver_name }},
        <br><br>
    {% endblocktrans %}
    {% blocktrans with sender_name=sender.short_name receiver_name=receiver.short_name task_title=task.title %}
        A kindly reminder that in {{ task_reminder_interval }} days your task <i>{{ task_title }}</i> will take place.
        <br><br>
        Good luck!
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action-email">{% trans 'View task' context 'email' %}</a>
{% endblock %}
