{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans with sender_name=sender.mail_name receiver_name=receiver.mail_name task_title=task.title site_name=site.name project_title=task.project.title project_link=project_link edit_project_link=edit_project_link task_link=confirm_link %}

Dear {{ receiver_name }},<br/>
<br/>

Yes, yes … your task {{ task_title }} from the project {{ project_title }} is realised!<br/>
<br/>
<strong>Please confirm the participations of member(s)</strong><br/>
Have all accepted members participated in your task? If you confirm that they were part of the task & project their status will change to ‘realised’. All participants will also receive an email to evaluate the activity. <a href="{{ site }}{{link}}">Confirm members.</a><br/><br/>
Was this the final task? If so, there are two options:<br/>
Option 1. Create a new task and keep on caring! For example when it is possible to do it again next year. Always check the status and deadline of your project! Click <a href="{{site}}{{project_link}}">here</a> to create a new task.<br/><br/>
Option 2. Are you sure that everything is done? Change the status of your project to ‘realised’ and evaluate your Cares experience by clicking <a href="{{site}}{{edit_project_link}}">here</a>.<br/>
<br/>
Oops. Is it too early to celebrate? You can always change the deadline or status of your task(s). Close your task if it hasn’t been realised by changing the status into ‘closed’. Or change the deadline if the task has not been realised yet. <a href="{{site}}{{link}}/edit">Edit task</a><br/>
<br/>
Was this not the final task for your project? Keep up the good work then!<br/>
<br/>
Best,<br/><br/>

{{ site.name }}

{% endblocktrans %}
{% endblock %}