{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans with sender_name=sender.short_name receiver_name=receiver.short_name task_title=task.title motivation=motivation %}
Hello {{ receiver_name }},
<br/><br/>
{{ sender_name }} applied for your task <a href="{{ site }}{{ link }}">{{ task_title }}</a>.
<br/><br/>
As motivation {{ sender_name }} wrote:<br/>
<i>{{ motivation }}</i>
<br/><br/>
You can now accept or reject this member, he or she will receive an email when you have confirmed the status of the participant.
<br/><br/>
<a href="{{ site }}{{ link }}">Go to the task</a>.
<br/><br/>
Good luck!<br/>
<br/>
{{ site_name }}
{% endblocktrans %}
{% endblock %}
