{% extends "admin/confirmation.html" %}
{% load i18n l10n admin_urls %}

{% block confirmation_message %}
    <p>{% trans "Are you sure you want to approve the payout to: " %}</p>
{% endblock %} 

{% block confirmation_content %}
  <h2>Project</h2>
  <ul>
    <li>{{ obj }}</li>
  </ul>
  <h2>Donations</h2>
  <ul>
      <li>Total amount confirmed: {{ obj.amount_safe }}</li>
      <li>Total amount pending: {{ obj.amount_pending }}</li>
      <li>Number of donations: {{ obj.donations.count }}</li>
  </ul>
{% endblock %}
