{% load i18n bb_ember %}


{% tplhandlebars "_account_nav_anon" %}
    <li class="nav-signup-login">
        <a {{action 'openInBox' 'login'}} class="nav-signin">{% trans "Sign in" %}</a>
    </li>

    <li class="nav-switch-language">{{view "App.LanguageSwitchView"}}</li>
{% endtplhandlebars %}
