{% load i18n bb_ember %}


{% tplhandlebars "_signup_sidebar" %}

    {% block_verbatim signup_sidebar_content %}
        
        <div class="l-sidebar">

            <a {{action openInBox "login"}} class="btn-login">
                {% block login_text %}
                    <span class="flaticon solid unlock-3"></span>
                    <strong>{%  trans "Already have an account?" %}</strong><br />
                    {% trans "Log in here, fast & easy" %}
                {% endblock login_text %}
            </a>

            <div class="signup-advantage">
                {% block member_advantages %}
                
                    <div class="signup-image">
                        <span class="flaticon solid heart-1"></span>
                    </div>

                    <h3>{% trans "Why join &lt;BlueBottle-project-name&gt;" %}</h3>
                    <ol>
                        <li>{% trans "Reason 1" %}</li>
                        <li>{% trans "Reason 2" %}</li>
                        <li>{% trans "Reason 3" %}</li>
                    </ol>

                {% endblock member_advantages %}
            </div>

        </div>

    {% endblock_verbatim signup_sidebar_content %}

{% endtplhandlebars %}