{% load i18n bb_ember %}


{% tplhandlebars "_standard_login_errors" %}
    {{#if validationErrors}}
        <div class="modal-flash-message error">
            {{validationErrors.error}}
        </div>
    {{/if}}
{% endtplhandlebars %}
