{% load bb_ember i18n static %}

{% tplhandlebars "paypal" %}
    <h3>{% trans "The world's most loved way to pay" %}</h3>
    <p>{% trans "PayPal is the easy way to pay online without sharing your credit/-debitcard details." %}</p>
{% endtplhandlebars %}