{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="modal" id="loginModal">
    <form id="login-form" action="{% url 'accounts:login' %}" method="post">
        
        <div class="modal-header">
            {% block login_header %}
                <h3>{% trans "Log in to 1%Club" %}</h3>
            {% endblock login_header %}
        </div>

        <div class="modal-body">
            {% if form.errors %}
                <p class="error">
                    {% trans "Your email address and password didn't match. Please try again." %}
                </p>
            {% endif %}
        
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="id_email">{% trans "Email" %}:</label>

                <div class="controls">
                    {# The key for the login needs to be 'username' for logins to work. #}
                    <input id="id_email" type="email" name="username" maxlength="254">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_password">{% trans "Password" %}:</label>

                <div class="controls">
                    <input id="id_password" type="password" name="password">
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <input class="btn btn-submit" type="submit" value="{% trans 'Login' %}">
             <input type="hidden" name="next" value="{{ next }}" />
        </div>
        
    </form>
</div>

    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('#login-form').validate();
                $('#loginModal').modal().on('hidden', function() {
                    window.location.replace('/');
                });
            });
        })(window.jQuery);
    </script>
{% endblock %}
