{% load bb_ember i18n static %}

{% tplhandlebars "donation_success" %}

    <div class="background-image">
        <img src=""
    </div>
    <h2>{% trans "Donation was successful" %}</h2>




{% endtplhandlebars %}