{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_supporter_list" %}
    {{#if model.length}}
        <h4>{% trans "Supporters" %} <em>{{model.meta.total}} {% trans "Total" %}</em></h4>
        <ul>
            {{#each supporter in recentSupporters}}
                {{view "App.ProjectSupporterView" }}
            {{/each}}
        </ul>
    {{/if}}
{% endtplhandlebars %}
