{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "_signin" %}

<div class="wallpost-update">
    <header class="wallpost-update-header">
        <strong class="wallpost-update-title">{% trans "Write a comment" %}</strong>
    </header>
    <div class="signin">
    	<a class="button" {{action openInBox "login"}}>{% trans "Sign in" %}</a> {% trans "to post a comment" %}.
	</div>
</div>

{% endtplhandlebars %}