// Colors
$activity-title                        : $type-h3-color !default;

$activity-list-item-background-color   : $gray-lighter !default;
$activity-list-item-link               : $color-text !default;

$activity-list-item-title-color        : $color-primary !default;
$activity-list-item-bold-color         : $color-secondary !default;


#activity {

    .activity-title {
        color: $activity-title;

        .activity-action {
            float: right;
            font-size: 1rem;
            text-decoration: underline;
        }
    }



    ul.activity-list {
        margin: 1em 0;

        li.activity-list-item {
            margin-bottom: 1em;
            background-color: $activity-list-item-background-color;

            a {
                color: $activity-list-item-link;
            }

            strong {
                color: $activity-list-item-bold-color;
            }

            h3 {
                color: $activity-list-item-title-color;
                margin: 0.2em 0;
            }

            .picture {
                @include grid(10,0,0);

                img {
                    width: 100%;
                }
            }

            .synopsis {
                padding: 1em;
                color: #7c90a6;
                @include grid(38,0,0);
                line-height: 20px;
            }

            .progress {

                .progress-bar {
                    @include grid(30,0,1);

                    .project-fund-amount-slider {
                        background-color: white;

                        .slider-progress {
                            height: 0.8em;
                        }
                    }
                }

                .amount {
                    font-size: 15px;
                    color: #7c90a6;
                    font-weight: bold;
                    margin-top: -3px;
                    
                    @include grid(18,0,1);
                }
            }
        }
    }
}