.share-menu {
    position: absolute;
    right: -10px;
    min-width: 177px;
    max-width: 216px;
    max-height: 30px;
    overflow: hidden;
    @include transition(all .2s ease-in-out);

    .share-link {
        position: relative;
        float: right;
        background: rgba(255,255,255, 0);
        width: 100%;
        padding: 6px 5px;
        line-height: 18px;
        font-size: 15px;
        color: $white;
        font-weight: bold;
        text-align: center;
        text-decoration: inherit;
        border-radius: 8px 8px 0 0;
        border-bottom: 1px solid $gray-border;
        @include transition(all .2s ease-in-out);

        &:before {
            position: absolute;
            top: 9px;
            left: 9px;                    
            content: '';
            width: 17px;
            height: 16px;   
            background: image-url("img/icons/icon-share-icon-main.svg") no-repeat;
        }

        &:after {
            position: absolute;
            top: 15px;
            right: 13px;                    
            content: '';
            width: 10px;
            height: 10px;
            background: image-url("img/icons/icon-dropdown-detail.svg") no-repeat;
            @include transform(rotate(0deg));
            @include transition(all .2s ease-in-out);
        }
    }

    &:hover {
        max-height: 300px;
        border-radius: 8px;
        @include single-box-shadow(rgba(0,0,0, .5), 0, 2px, 4px, 0);
        //overflow: visible;

        .share-link {
            color: $color-secondary;
            background: rgba(255,255,255, 1);

            &:before {
                background: image-url("img/icons/icon-share-icon-main-active.svg") no-repeat;
            }

            &:after {
                top: 8px;
                background: image-url("img/icons/icon-dropdown-detail-active.svg") no-repeat;
                @include transform(rotate(-180deg));
            }
        }

        #share {
            display: block;
            @include animation(fadeIn .2s ease-in-out);
        }
    }

    #share {
        margin-top: 20px;
        width: 100%;
        background: white;
        border-radius: 8px 0 8px 8px;
        padding: 4px;
        @include animation(fadeOut .2s ease-in-out);
        @include animation-fill-mode(forwards);
        //display: none;

        li {

            a {
                position: relative;
                padding: .2em 1em .2em 30px;
                font-size: 13px;
                line-height: 25px;
                font-family: Helvetica;
                color: #3C3C3C;
                @include transition(all .2s ease-in-out);

                &:before {
                    position: absolute;
                    top: 9px;
                    left: 9px;
                    content: '';
                    @include transition(all .1s ease-in-out);
                }
            }

            &:hover {
                a {
                    color: $color-secondary;

                    &:before {
                        top: 9px;
                        left: 5px;
                    }
                }
            }

            &.facebook {
                a {
                    &:before {
                        width: 13px;
                        height: 13px;
                        background: image-url("img/icons/icon-share-social-facebook.svg") no-repeat;
                    }
                }

            }

            &.twitter {
                a {
                    &:before {
                        width: 13px;
                        height: 13px;
                        background: image-url("img/icons/icon-share-social-twitter.svg") no-repeat;
                    }
                }
            }

            &.linkedin {
                a {
                    &:before {
                        width: 13px;
                        height: 13px;
                        background: image-url("img/icons/icon-share-social-linkedin.svg") no-repeat;
                    }
                }
            }

            &.embed {
                a {
                    &:before {
                        width: 13px;
                        height: 13px;
                        background: image-url("img/icons/icon-share-social-embed.svg") no-repeat;
                    }
                }
            }

            &.copy {
                a {
                    &:before {
                        width: 13px;
                        height: 13px;
                        background: image-url("img/icons/icon-share-social-copy.svg") no-repeat;
                    }
                }
            }
        }
    }
}