.wallpost-action {
    width: 100%;
    background: $white;
    border-radius: 4px;
    border: solid 1px $gray-border;

    // reset ul list
    ul {
        margin: 0;
        display: inline-block;

        li {
            padding-left: 0;
            margin: 0;
            background: none;

            float: left;
        }
    }

    .wallpost-header {
        padding: 10px;
        border-bottom: solid 1px $gray-border;

        .status-update {
            font-weight: bold;
            @include custom-icon(update, 21px, 21px, 4px, image-url("img/icons/wallpost/icon-update-status.svg"));

            a {
                color: $color-secondary;
            }

            .custom-icons {
                margin-right: 10px;
            }
        }

        .add-photo {
            font-weight: bold;
            @include custom-icon(add-photo, 13px, 12px, 0, image-url("img/icons/wallpost/icon-add-photo.svg"));

            a {
                color: $color-secondary;
            }

            .custom-icons {
                margin-right: 5px;
            }
        }

        .add-video {
            font-weight: bold;
            @include custom-icon(add-video, 13px, 12px, 0, image-url("img/icons/wallpost/icon-add-video.svg"));

            a {
                color: $color-secondary;
            }

            .custom-icons {
                margin-right: 5px;
            }
        }
    }

    .wallpost-form {
        padding: 10px;

        .wallpost-update {
            height: 40px;
            border: none;
            @include box-shadow(none);
            @include transition(all .2s ease-in-out);

            &:focus {
                height: 80px;
            }
        }
    }
}