{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
  <p>
  {% blocktrans context 'email' %}
    Your team has been scheduled for the activity "{{ title }}".
  {% endblocktrans %}
  </p>
  <br />
  <p>
    {% blocktrans context 'email' %}
      <b>Scheduled info:</b>
    {% endblocktrans %}
    {% include 'mails/messages/partial/slot.html' %}
  </p>
  <p>
  {% blocktrans context 'email' %}
    Invite your team members if you haven’t done so already!
  {% endblocktrans %}
  </p>
{% endblock %}
