.video-container {
    position: relative;
}

.video-container .play-btn {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    background: url("/static/assets/images/img/icons/icon-play-video.svg") no-repeat;
    background-size: 40px;
}

.video-container .play-btn:hover {
    width: 45px;
    height: 45px;
    background-size: 45px;
}

.video-container .video-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    padding: 3px 6px;
    margin-left: auto;
    margin-right: auto;
    background: #003580;
    color: #fff;
    text-align: right;
}

.photo-container {
    position: relative;
}

.photo-container .photo-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3px 6px;
    margin-left: auto;
    margin-right: auto;
    background: #003580;
    color: #fff;
    text-align: right;
}

#header ul#navigation-menu li a {
    text-transform: none;
}

.sidebar {
    width: 12rem;
}
.sidebar-popup-container {
    left: 10rem;
}

body.menu-pinned #container {
    padding-left: 12rem;
}

body.menu-pinned .changelist-footer.fixed {
    left: 12rem;
    padding: 10px;
}