.video-container {
    position: relative;
}

.video-container .play-btn {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    background: url("/static/assets/images/img/icons/icon-play-video.svg") no-repeat;
    background-size: 40px;
}

.video-container .play-btn:hover {
    width: 45px;
    height: 45px;
    background-size: 45px;
}

.video-container .video-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    padding: 3px 6px;
    margin-left: auto;
    margin-right: auto;
    background: #003580;
    color: #fff;
    text-align: right;
}

.photo-container {
    position: relative;
}

.photo-container .photo-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3px 6px;
    margin-left: auto;
    margin-right: auto;
    background: #003580;
    color: #fff;
    text-align: right;
}

#header ul#navigation-menu li a {
    text-transform: none;
}


body {
    color: #454545
}

/* Sidebar */

.sidebar {
    width: 12rem;
    background-color: #241C46;
}

.sidebar-section {
    border-bottom: #ffffff solid 1px;
}

.sidebar-popup-container {
    left: 12rem;
}

body.menu-pinned #container {
    padding-left: 12rem;
}

body.menu-pinned .changelist-footer.fixed {
    left: 12rem;
    padding: 10px;
}
body.menu-pinned table.helper {
    left: 13.3rem;
}

.sidebar-popup {
    top: 470px;
}

.sidebar-popup .sidebar-popup-search {
    display: none;
}

.sidebar .sidebar-link {
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidebar .sidebar-link:hover {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidebar .sidebar-link,
.sidebar .sidebar-link.icon,
.sidebar .sidebar-title {
    text-transform: none;
    font-size: 1rem;
}

.sidebar-popup-list-item a,
.sidebar-popup-list-item a:hover {
    padding: 1rem 1.5rem;
}

.sidebar-popup-list-item a ,
.sidebar-popup-list-item a:visited {
    color: #241C46;
    font-weight: bold;
}

.sidebar-popup-list-item a:hover {
    color: #ffffff;
}

#branding {
    background-color: transparent;
    padding: 16px;
    text-align: left;
}

#branding-menu {
    position: relative;
    margin: 0;
    left: 0;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 4px;
}

#branding-menu img {
    width: 40px;
    display: block;
}

.sidebar-opened .icon-menu:before,
.sidebar-dependent .icon-menu:before{
    content: "";
}

.sidebar-link .icon-arrow-right,
.sidebar-link:hover .icon-arrow-right,
.icon-arrow-right {
    font-weight: bold;
    color: #ffffff;
}
.sidebar-link:hover {
    background-color: #3A325E;
}

.sidebar-popup-title {
    text-transform: none;
}

.sidebar-popup-list-item.selected,
.sidebar-popup-list-item:hover {
    background-color: #CFCDD7;
}


/* Tabs */
.changeform-tabs-item a,
.changeform-tabs-item a:hover,
.changeform-tabs-item a:visited {
    color: #241C46;
    text-transform: none;
    font-size: 1rem;
    border-bottom-width: 4px;
    margin: 0 8px;
}

.changeform-tabs-item.selected a,
.changeform-tabs-item.selected a:hover,
.changeform-tabs-item.selected a:visited {
    color: #241C46;
}

/* Bread crumbs */

div.breadcrumbs {
    text-transform: none;
    color: #1cacfc;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 12px;
}

div.breadcrumbs a, div.breadcrumbs a:visited {
    font-weight: bold;
    color: #241C46;
}

.icon-arrow-right {
    font-weight: bold;
    color: #241C46;
}

.segmented-button, .segmented-button:visited, .segmented-button:hover, .segmented-button:active  {
    background-color: transparent;
    color: #241C46;
    font-weight: bold;
    font-size: 1rem;
}

.changeform-navigation-button-label {
    opacity: 1;
}

.changeform-navigation-button, .changeform-navigation-button:visited, .changeform-navigation-button:hover {
    max-width: 250px;
    width: auto;
}


/* Content */

#content {
    padding-top: 0;
}

.site-title {
    background: #ffff;
    color: #241C46;
    padding-left: 8px;
}

.site-title-logo {
    height: 30px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.site-title-text {
    margin: 12px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}


/* CMS styling */

.form-row .cp-placeholderfield {
    clear: both;
    margin-left: 0;
}

.form-row .cp-content .inline-related h2.cp-formset-item-title {
    background-image: none;
    text-transform: none;
    font-size: 1rem;
    color: #241C46;
    border-bottom: 1px solid #ddd;
}

.module h2 .cp-item-icons a,
.module h2 .cp-item-delete a {
    color: rgba(0,0,0,0);
}

.cp-content>.inline-related {
    margin: 10px 0;
}

.js-inline-admin-formset {
    width: 70%;
    margin-left: 100px;
}

.form-row .cp-content .inline-related h2.cp-formset-item-title {
    margin-top: 0;
    border-left: 0;
    border-right: 0;
}

.delete label.vCheckboxLabel {
    color: #ffffff;
}


/* Labels */

.admin-label {
    border-radius: 4px;
    padding: 4px 8px;
    color: #000000;
    font-weight: bold;
    background-color: #F5E625;
}

.admin-label-green {
    color: white;
    background-color: #2faa60;
}

.admin-label-gray {
    color: white;
    background-color: #333C47;
}

/* Admin change form */

.form-row,
.cp-content .form-row {
    padding: 1rem;
    border-bottom: 0;
}

.form-row label {
    font-weight: bold;
    color: #241C46;
}

.form-row .related-lookup:before {
    color: #1cacfc
}

.form-row .related-lookup {
    color: #1cacfc
}


#searchbar {
    width: 321px;
    background: #ffffff url('/static/assets/admin/img/search.svg') no-repeat 290px 50%;
}

/* Admin lists */

table thead th {
    background-color: #241C46;
    color: #ffffff;
    text-transform: none;
    font-weight: bold;
    padding: 12px;
}

table thead th a,
table thead th a:link {
    color: #ffffff;
    font-weight: bold;
}

.project-title {
    width: 300px;
    text-overflow: ellipsis;
}

#result_list td {
    padding: 1rem;
}


input[type="submit"], input[type="submit"]:visited, input[type="submit"]:hover,
input[type="button"], input[type="button"]:visited, input[type="button"]:hover,
.object-tools a, .object-tools a:visited, .object-tools a:hover,
a.addlink,
.submit-row a.deletelink, .submit-row a.deletelink:visited, .submit-row a.deletelink:hover,
#changelist .actions .button,
#changelist .actions .button:visited,
#changelist .actions .button:hover,
.button.default, input[type="submit"].default,
input[type="button"].default, .object-tools a.default,
#toolbar form input[type="submit"],
#toolbar form input[type="submit"]:visited,
#toolbar form input[type="submit"]:hover {
    background-color: #1cacfc;
    text-transform: none;
    font-weight: bold;
    border-bottom: #2E6793 solid 2px;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover,
#toolbar form input[type="submit"]:hover {
    background-color: #74b9ff;

}

.object-tools a.addlink:before {
    color: #ffffff;
}

#changelist .actions .button,
#changelist .actions .button:visited,
#changelist .actions .button:hover,
.button.default, input[type="submit"].default,
input[type="button"].default, .object-tools a.default
{
    background-color: #2faa60;
    border-bottom: #5E8341 solid 2px;
}

input[type="submit"].default:hover,
#changelist .actions .button:hover {
    background-color: #8bd2a0;
}

.paginator .pages-wrapper span {
    background-color: #2faa60;
    color: #fff;
}

.submit-row a.deletelink, .submit-row a.deletelink:visited, .submit-row a.deletelink:hover {
    background-color: #c7254e;
    border-bottom: #912043 solid 2px;
}

.submit-row a.deletelink:hover {
    background-color: #d88c97;
}

/* Messages */

ul.messagelist li.success {
    background-color: #2faa60;
}

ul.messagelist li.success a{
    color: #ffffff;
    border-bottom: 1px #ffffff solid;
    font-weight: bold;
}

ul.messagelist li.success a:hover{
    color: #000000;
    border-bottom: 1px #000000 solid;
    transition: color 0.3s ease;
}

/* Dashboard */

.dashboard-item-list {
    line-height: 2rem;
}

.dashboard-item-content {
    padding: 12px;
}