#donation-dashboard {
    margin-bottom: $base-margin * 6;
    
    #donation-header {
        background-color: $gray-lighter;
        
        .page-title {
            @include grid(48,1,1);

            padding: ($base-padding/2) 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    #donation-history {
        table {
            padding: 50px 0;

            th {
                padding: 0 1em;
                color: $gray;
                font-weight: bold;
            }

            td {
                &.donation-history-date,
                &.donation-history-amount {
                    width: 10%;
                }
            }
        }
    }
}