
.bb-project-map {
	
	overflow: visible;
    margin: $base-margin * 2 0;
    width: 100%;
    height: 600px;
	
	&:before {
		content: "";
		position: absolute;
		height: 10px;
		width: 100%;
		top: 0;
		left: 0;
		@include box-shadow(inset 0 10px 10px -10px #333);
		z-index: 10;
		overflow: hidden;
	}
	&:after {
		content: "";
		position: absolute;
		height: 10px;
		width: 100%;
		bottom: 0;
		left: 0;
		@include box-shadow(inset 0 -10px 10px -10px #333);
		z-index: 10;
		overflow: hidden;
	}
	
	img {
	    max-width: none;		
	}
	
	.info-windows {
		overflow: visible !important;
	}
	
	.maps-infobox {
		
		width: 400px;
		@include clear;
		font-weight: bold;
		z-index: 10;
		
		.project-title {
			padding: $base-padding / 2;
			background-color: $gray-dark;
			color: white;
			font-size: $font-size-large;
			font-weight: bold;
			text-align: center;
		}
		
		.project-description-container {
			
			@include clear;
			background-color: $color-primary;
			font-size: $font-size-large;
			color: $white;
			
			.project-thumbnail {
			
				@include grid(12,0,0);
				
				img {
					max-width: 100%;
				}
			}
			
			.project-description {
				@include grid(36,0,0);
				padding: $base-padding;
				overflow: hidden;
				max-height: 110px;
				text-overflow: ellipsis;
			}
			
			.project-meta {
				@include prepend(12);
				padding: 0 $base-padding;
				.tags, .location {
					@include grid(24,0,0);
				}									
			}

		}
		&:after {
			left: 50%;
			top: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-top-color: $color-primary;
			border-width: 6px;
			margin-left: -6px;
		}	
	}
}	
