
$black                                                     : #3C3C3C;
$gray-darkest											   : #3C3C3C;
$gray-darker											   : #676767;
$gray-dark                                                 : #8A9993;
$gray-middle                                               : #E4EDE9;
$gray-medium                                               : #F5F4F6; // Todo same as light
$gray-light                                                : #F8F7F8;
$gray-border                                               : #D8D8D8;
$gray-border-hover                                         : #9F9F9F;


// Colors
// --------------------------------

$color-primary                                             : #00C051; // green
$color-secondary                                           : #FF619A; // pink
$color-primary-shadow									   : #008438; // shadow green
$color-secondary-shadow									   : #B42A5C; // shadow pink

$color-error                                               : #b84040 !default;
$color-success                                             : #5da423 !default;
$color-deselect                                            : #bfbfbf !default;

// Social
// ----------------------------------

$facebook-blue                                             : #45619d !default;
$twitter-blue                                              : #33b9e2 !default;

$font-family                                               : 'L Futura W01', 'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-family-heavy                                         : 'L Futura W01', 'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-family-bold                                          : 'L Futura W01', 'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-family-body										   : 'Neue Helvetica W01';

$base-font-size                                            : 1em !default;
$base-font-family                                          : $font-family !default;
$base-line-height                                          : 1.5em !default;

$modal-background-color: rgba(#8A9993, .65);

.modal-fullscreen-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $modal-background-color;
	z-index: 999;
	visibility: hidden;
	@include perspective(1000);

	&.is-active {
		visibility: visible;
		@include animation(fadeIn .230s ease-out);

		.modal-fullscreen-container {
			@include opacity(1);
			@include animation(fadeInDownBig .3s ease-out);
		}
	}

	&.is-inactive {
		@include animation(fadeOut .3s ease-in);

		.modal-fullscreen-container {
			@include opacity(0);
			@include animation(fadeOutUpBig .3s ease-in);
		}
	}

	//TODO: remove this, is already used.
	.btn {
		font-size: 18px;
		position: relative;
		display: inline-block;
		background: $color-secondary;
		padding: 0.75em 1.25em;
		vertical-align: center;
		border-radius: 8px;
		color: white;
		font-family: $font-family-bold;
		font-weight: 700;
		border: none;
		text-transform: inherit;
		@include single-box-shadow($color-secondary-shadow, 0, -2px, 0, 0, true);
		@include single-transition(all, .1s ease-in-out);

		&:hover {
			top: -1px;
			@include single-box-shadow($color-secondary-shadow, 0, -4px, 0, 0, true);
			@include single-transition(none);
		}

		&.btn-sec {
			color: $color-primary;
			font-weight: normal;
			background: none;
			border: 1px solid $color-primary;
			@include single-box-shadow(none);

			&:hover {
				top: 0;
				background-color: $color-primary;
				color: $white;
			}

			&:active, &:focus {
				border: 1px solid $gray-darker;
			}
		}

		&:active, &:focus {
			top: 1px !important;
			background: $gray-darker !important;
			color: $gray-light !important;
			@include single-box-shadow($gray-darkest, 0, 2px, 0, 0, true);
		}

		&.is-inactive {
			background: $gray-dark;
			@include single-box-shadow($gray-darker, 0, -2px, 0, 0, true);
		}

		&.btn-facebook {
			background-color: #3368A2;
			padding-left: 50px;
			@include single-box-shadow(#254363, 0, -2px, 0, 0, true);

			span {
				background-color: #3368A2 !important;
				color: #fff;
				@include single-box-shadow(#254363, 0, -2px, 0, 0, true);
			}
		}

		//TODO: overwrite flaticon btn
		.flaticon {
			&.social {
				&:before {
					border-right: solid 1px;
					padding-right: 13px;
				}
			}
		}
        &:hover .flaticon {
            background-color: none !important;
        }
	}

	input {
		border-radius: 4px;
		margin: 5px 0 5px 0;
		border-color: $gray-border;
		height: 45px;
		box-shadow: none;

        &:hover {
            border-color: $gray-border-hover;
        }

        &:focus {
            border: 1px solid $gray-border-hover;
            @include single-box-shadow($gray-border, 0, 0, 0, 2px, false);
        }
	}

	.password {
		position: relative;
		text-align: center;
		&.is-incorrect {
			@include animation(shake .8s ease-in-out)
		}

		.questionmark {
			position: absolute;
			vertical-align:middle;
			display:inline-block;
			top: 35%;
			right: 10px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: $gray-dark;
			font-size: 15px;
			color: #fff;
			cursor: pointer;
		}

		.password-strength {
			position: absolute;
			top: 14px;
			right: 10px;
			width: 70px;
			border-radius: 4px;
			font-size: 14px;
			color: #fff;

			&.weak {
				background: rgb(232, 42, 28);
				padding: 2px;
			}

			&.fair {
				background: rgb(254, 180, 28);
				padding: 2px;
			}

			&.strong {
				background: rgb(24, 184, 64);
				padding: 2px;
			}

			&.loader {
				background-image: image-url("modal-loader.gif");
				background-color: white;
				background-repeat: no-repeat;
				background-position: 7px;
				width: 30px;
				height: 30px;
			}
		}
	}
}

.modal-fullscreen-container {
	position: relative;
	margin: 10% auto;
	width: 350px;
	//height: 100%;
	@include perspective(800px);
	@include opacity(0);

	#card {
		position: absolute;
		width: 100%;
		height: 100%;
		@include transform-style(preserve-3d);
		@include transition(transform .3s);

		figure {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			@include backface-visibility(hidden);
		}

		.front {
			background: transparent;

			&.slide-in-left {
				@include animation(slideInLeft .3s ease-out);
				@include animation-fill-mode(forwards);
			}

			&.slide-out-left {
				@include animation(slideOutLeft .2s ease-in);
				@include animation-fill-mode(forwards);
			}

			&.scale-back {
				@include animation(scaleBack .2s ease-in);
				@include animation-fill-mode(forwards);
			}

			&.scale-up {
				@include animation(scaleUp .3s ease-in);
				@include animation-fill-mode(forwards);
			}

			&.scale-down {
				@include animation(scaleDown .3s ease-out .1s);
				@include animation-fill-mode(forwards);
			}
		}

		.back {
			background: transparent;
			@include transform(rotateY(180deg));

			&.slide-in-right {
				@include animation(slideInRight .3s ease-out);
				@include animation-fill-mode(forwards);
			}

			&.slide-out-right {
				@include animation(slideOutRight .2s ease-in);
				@include animation-fill-mode(forwards);
			}

			&.scale-up {
				@include animation(scaleUp .2s ease-in);
			}

			&.scale-down {
				@include animation(scaleDown .3s ease-out .1s);
				@include animation-fill-mode(forwards);
			}
		}

		&.flipped {
			@include transform(rotateY(180deg));

			.front {
				z-index: 0;
			}

			.back {
				z-index: 4;
			}
		}
	}

	.modal-fullscreen-item {
		width: 350px;
		background-color: #F5F4F6;
		border-radius: 8px;
        font-family: $font-family-body;
		padding: 5px;
		text-align: center;
		@include transform-style(preserve-3d);

		&.is-shake {
			@include animation(shakeModal .4s ease-in-out);
		}

		.modal-fullscreen-header {
			position: relative;
			border-radius: 8px 8px 0 0;
			border: solid 1px #ccc;
			padding: 10px;
			background: white;

			h4 {
                font-size: 22px;
                font-family: $font-family-body;
				text-transform: inherit;
				font-weight: 700;
                margin-bottom: 15px;
			}
		}

		.modal-fullscreen-content {
			position: relative;
			width: 100%;
			height: 100%;
			background: white;
			border-radius: 8px;
			border: solid 1px #ccc;
			padding: 20px 20px 20px 20px;

			h4 {
                font-size: 22px;
                font-family: $font-family-body;
				text-transform: inherit;
				font-weight: 700;
                margin-bottom: 15px;
			}
			.modal-flash-message {
				box-model: content-box;
				text-align: center;
				margin: 15px -21px 0 -21px;
				padding: 10px 20px;
				font-size: 13px;
				line-height: 17px;
				color: #fff;
				display: block;
				
				&.error {
					background: #B51D1E;
				}

				&.success {
					
					background: $color-primary;
				}
			}

			.btn {
				margin-top: 5px;
				width: 100%;
				border-radius: 8px;
			}

			.or-hr {
				width: 100%;
				height: 20px;
				margin: 10px 0 20px 0;
				color: $gray-border;
				font-size: 14px;
				.first {
					float: left;
					width: 45%;
					height: 100%;
					border-bottom: solid 1px $gray-border;
				}
				.middle {
					float: left;
					width: 10%;
					height: 20px;
					margin-top: 6px;
				}
				.last {
					float: left;
					width: 45%;
					height: 100%;
					border-bottom: solid 1px $gray-border;
				}
			}

			&.got-header {
				border-radius: 0 0 8px 8px;
			}
		}

		.modal-fullscreen-close {
			position: absolute;
			display: block;
			top: 10px;
			right: 10px;
			width: 20px;
			height: 20px;
			background: image-url("img/icons/icon-close-modal.svg") transparent no-repeat;
			background-position: 7px;
			cursor: pointer;

			.modal-close-image {
				pointer-events: none;
			}
		}

		.modal-fullscreen-back {
			position: absolute;
			display: block;
			top: 10px;
			left: 10px;
			width: 20px;
			height: 20px;
			background: image-url("img/icons/icon-back-modal.svg") transparent no-repeat;
			background-position: 7px;
			background-size: 65%;
			cursor: pointer;

			.modal-close-image {
				pointer-events: none;
			}
		}

		.modal-fullscreen-profile {
			width: 288px;
			height: 70px;
			background: #f4f4f4;
			text-align: left;

			.photo {
				float: left;
				height: 51px;
				width: 51px;
				border-radius: 50%;
				display: inline-block;
				overflow: hidden;
				margin: 10px;
				border: solid 2px white;
			}

			.already-registerd {
				float: right;
				display: block;
				width: 70%;
				height: 50px;
				margin: 7px 15px 0 0;
				padding: 9px;
				font-size: 10px;
				line-height: 15px;
			}
		}

		.modal-fullscreen-footer {
			padding: 10px 10px 5px 10px;
			font-size: 15px;

			a {
				text-decoration: none;
				font-weight: 700;
			}
		}
	}
}
