
// Reusable project elements & sections
// --------------------------------------------------


//
// Global elements for projects
// --------------------------------------------------

.project-title {
    
    a {
        text-decoration: none;
    }
}

.project-location, .project-theme, .project-deadline {
	color: $projects-project-meta-color;
	font-family: $font-family-heavy;
	padding: $base-padding/2 0;
	margin-right: $base-margin*2;
	display: inline-block;
	
	.flaticon {
	    margin-right: $base-margin/4;
    }
}

.project-days-left {
	color: $projects-project-days-left-color;
	text-transform: uppercase;
	
	.flaticon {	
	    font-size: 1em;
        color: $projects-project-days-left-icon-color;
	}

	strong {
	    padding: 0;
	}

	em {
	    font-style: normal;
	}
}

.project-status {
    margin-top: $base-margin;
    margin-bottom: $base-margin;
    
    .project-days-left {
        text-align: center;
    }
    
    .project-fund {
        text-align: center;
    } 
    
    .project-fund-amount {
    	color: $projects-project-fund-amount-color;
        text-transform: uppercase;
        margin-bottom: $base-margin/2;
    
        .amount-donated {
            
        }
    
        .amount-asked {
        
        }
        
        strong {
            
        }
        
        em {
            font-style: normal;
        }
    }
    
    .project-action {
        
        .btn {
            float: right;
        }
    }
}

.project-fund-amount-slider {
    @include border-radius(1em);
    display: block;
    overflow: hidden;
    margin: 0 0 $base-margin/2 0;
    background-color: $projects-project-fund-amount-slider-bg-color;
    
    .slider-progress {
        position: relative;
        display: block;
        border-radius: 1em 0 0 1em;
        background-color: $projects-project-fund-amount-slider-progress-bg-color;
        color: $projects-project-fund-amount-slider-progress-color;
        text-align: right;
        white-space: nowrap;
        line-height: 1em;
        height: 1em;
        
        .slider {
            padding: 0 0.5em;
            font-style: normal;
        }

        .slider-percentage {
            visibility: hidden;
        }
    }
}

.fund-amount-control {
    float: right;
    margin-top: $base-margin;
    background: $projects-project-fund-amount-control-bg-color;
    text-transform: uppercase;

    label {
        @include grid(16);
        font-size: $font-size-smallest;
        padding: $base-padding*1.3 $base-padding/2;
        color: $projects-project-fund-amount-control-label-color;
        line-height: 1em;
        text-align: center;
    }
    
    .currency {
        @include grid(32);
    	display: block;
        position: relative;
		font-family: $font-family-bold;
		color: $projects-project-fund-amount-control-currency-color;
		
        em {
            position: absolute;
            display: block;
            top: 1px;
            left: 0;
            height: 100%;
            line-height: normal;
            font-size: $font-size-larger;
            padding: $base-padding/2 $base-padding/3;
            font-style: normal;
        }

        .fund-amount-input {
            font-size: $font-size-larger;
            text-align: right;
            padding-right: $base-padding/3;
            font-family: $font-family-bold;
        }
    }
}

.divided-amount {
	//@include rem(padding, 0 20px);
	height: 54px;
    line-height: 54px;
    //@include rem(font-size, 28px);
    color: $projects-project-fund-amount-divided-amount-color;
    font-weight: 600;
}
    
.fund-amount {
    color: $projects-project-fund-amount-color;
    text-transform: uppercase;
}

//
// Project as block item (search result)
// --------------------------------------------------

.project-item {
    display: block;
    position: relative;
    margin-top: $base-margin/2;
    margin-bottom: $base-margin/2;
    background-color: $projects-project-item-bg-color;
    overflow: hidden;
    height: 260px;
    border: 1px solid $projects-project-item-border-color;

    &.project-item-small {
        height: 230px;
    }
    
    &:hover {
        border-color: $projects-project-item-border-hover-color;
    }

    a {
        display: block;
		text-decoration: none;
		
		// Needed for position changing on active
        &:before {
    	    content: '';
    	    position: absolute;
    	    top: 0;
    	    right: 0;
    	    bottom: 0;
    	    left: 0;
    	}
    }
    
    .project-header {
        display: block;
        position: relative;
        overflow: hidden;
        min-height: 50px;
        background: $projects-project-item-header-bg-color;
        @include transition(all 0.2s ease-out);
        
        .project-title {
            z-index: 11;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: block;
			padding: $base-padding;
			background-color: rgba(0, 0, 0, 0.7);
			color: $projects-project-item-title-color;
			
			h3 {
			    font-size: $base-font-size;
			    color: $projects-project-item-title-color;
				padding: 0;
				margin: 0;
			}
			
			.project-location {
            	font-size: $font-size-small;
				text-transform: none;
				padding: 0;
				margin: 0;
			}
        }
        
        .project-image {
            position: relative;
            display: block;
            overflow: hidden;
            height: 160px;
            text-align: center;
            
            img {
        		position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
        }
        
    }
    
    .project-status {
        height: 100px;
        padding: 0 $base-padding;
        background-color: $projects-project-item-status-bg-color;
        display: block;
        color: $projects-project-item-status-color;
        
        .project-fund-amount-slider {
            background-color: $projects-project-item-fund-amount-slider-bg-color;   
        }
        
        .project-fund-amount {
            font-size: $font-size-smallest;
            float: left;
        }
        
        .project-days-left {
            font-size: $font-size-smallest;
            float: right;
            width: auto;
        }
        
        .project-phase {
            display: block;
            padding: $base-padding 0;
            text-align: center;
            text-transform: uppercase;
            
            em {
                font-style: normal;
            }
        }
    }
	
	.project-meta {
		@include clear;
		.project-location, .project-deadline, .project-theme {
			@include grid(16,0,0);
		}
	}
    
    .project-description {
        display: none;
        font-family: $font-family-heavy;
        width: 100%;
        height: 260px;
        position: absolute;
        top: 0;
        padding: $base-padding;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: $font-size-small;
        color: $projects-project-item-project-description-color;
        overflow: hidden;
        z-index: 100;
        
        .project-view {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: $projects-project-item-project-view-bg-color;
            text-transform: uppercase;
            padding: $base-padding/2 $base-padding;
        }
    }
    
    .project-tasks {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: $base-padding/4;
        text-align: center;
        text-transform: uppercase;
        background: $projects-project-item-tasks-bg-color;
        border: 1px solid $projects-project-item-tasks-border-color;
        color: $projects-project-item-tasks-color;
        font-size: $font-size-smallest;
        
        strong {
            color: $projects-project-item-tasks-strong-color;
            font-weight: bold;
            font-style: normal;
        }
        
        em {
            font-style: normal;
        }
        
        &:hover, &:active {
            
            color: $projects-project-item-tasks-hover-color;
            
            strong {
                
            }
        }
    }
}


//
// Project preview (home & detail)
// --------------------------------------------------

.project-slider {
	
	background-color: $project-slider-bg-color;
	.project-slider-prev, .project-slider-next {
		position: absolute;
		@include hide-text();
		@include border-radius(50%);
		top: 50%;
		margin-top: -22px;
		width: 44px;
		height: 44px;
		color: $white;
    	text-align: center;
		cursor: pointer;
		background-color: $project-slider-buttons-color;

		&:hover {
        	background-color: $project-slider-buttons-hover-color;
			color: $white;
		}
	}
	
	.project-slider-prev {
		@include prepend(1);
		left: 0;
		background-image: $icons;
	    background-position: sprite-position($icons, arrow-left-white, 10px, 6px);
		background-repeat: no-repeat;
	}
	
	.project-slider-next {
		@include append(1);
		right: 0;
		background-image: $icons;
		background-repeat: no-repeat;
		background-position: sprite-position($icons, arrow-right-white, 12px, 6px);
	}
	.project-image {
		@include grid(24,4,0);			
	}
	.project-info {
		@include grid(24,0,4);
	}
}


//
// Projects in vertical list
// --------------------------------------------------

.project-list {
	//padding: $base-padding;
	list-style: none;
	background-color: $projects-project-list-bg-color;
	margin: $base-margin 0;

    .project-list-item {
        @include clear;
        @include resetlist;
        @include allowmanage;
        position: relative;
        text-decoration: none;
        padding: $base-padding $base-padding $base-padding 0;
        margin: 0;
		margin-bottom: $base-margin;
        top: -1px;
		border-left: 1px solid $projects-project-list-listitem-border-left-right-color;
		border-right: 1px solid $projects-project-list-listitem-border-left-right-color;
        border-bottom: 1px solid $projects-project-list-listitem-border-bottom-color;
		background-color: $projects-project-list-listitem-bg-color;
        
        .project-header {
            @include grid(32,1,1);
            text-decoration: none;
            
            .project-image {
                @include grid(12,0,1);
                float: left;
            }
            .project-info {            	
                @include grid(36);
				a {
					text-decoration: none;
				}
            }
            .project-title, .fundraiser-title {
                text-transform: uppercase;
				margin-top: 0;
                padding: 0;
                color: $projects-project-list-listitem-project-title-color;
            }
            
            .fundraiser-subtitle {
                font-family: $base-font-family;
                color: $projects-project-list-listitem-project-subtitle-color;
                font-size: $font-size-small;
                
                em {
                   font-family: $font-family-heavy; 
                }
            }
            
            .project-location, .project-status, .project-preview  {
        		margin-top: $base-margin/2;
                color: $projects-project-list-listitem-project-meta-color;
                display: block;
            }
            
        }

        .fund-amount, .project-actions {
            @include grid(16);
        }
        
        .project-actions {
            color: $projects-project-list-listitem-project-action-color;
            
            .btn-link {
                padding: $base-padding / 4;
                width: 100%;
                text-align: left;
            }
        }
        
        .fund-amount-divided {
            padding: $base-padding/2;
            font-size: $font-size-larger;
        }
        
        &:hover, &.is-highlighted {
            border-color: $projects-project-list-listitem-highlight-color !important;
            
            .project-header h2 {
                color: $projects-project-list-listitem-highlight-header-color !important;
            }
        }
        
        &:first-of-type {
		    border-top: 1px solid $projects-project-list-listitem-first-top-border-color;
        }

        &:last-of-type {
            border-bottom-color: $projects-project-list-listitem-last-bottom-border-color;
        }
	}
}

// Full project plan

//#project-plan {
//	
//	header {
//	    margin-top: $base-margin*2;
//		@include grid(48,1,1);
//	}
//	
//	article {
//	  margin-bottom: $base-margin;
////		@include grid(24,1,1);
//		clear: none !important;
//		
//		br {
//			content: " " !important;
//			display: block !important;
//			margin-bottom: 1.5em !important;
//		}
//		
//		img {
//			width: 100%;
//		}
//	}
//}

// task list for in project view
.task-list {
	
	.task {
		
		border: 1px solid $projects-tasks-task-border-color;
		background-color: $projects-tasks-task-bg-color;
		
		@include grid(24,0,0);
		
		.task-status {
			@include grid(12,0,0);
			background-color: $projects-tasks-task-status-bg-color;
			color: $projects-tasks-task-status-color;
			text-transform: uppercase;
		}
		
		.task-content {
			@include grid(36,0,0);
			color: $projects-tasks-task-content-color;
			
			.task-name {
				color: $projects-tasks-task-content-task-name;
			}
			
			.task-time-needed {
				@include grid(16,0,0);
			}
			.task-time-deadline {
				@include grid(16,0,0);
			}
		}
	}
}


// new project plan
//#project-plan-modal {
//	top: 50%;
//	left: 50%;
//}
#project-plan {
	
	@include transition(opacity 500ms ease-in-out);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0;
	
	&.active {
		display: block;
		opacity: 1;
	}
	background: $gray-lighter;

	.project-plan-navigation {
		
		@include grid(16, 4, 0);
		
		position: relative;
		min-height: 100%;
			
		.project-plan-title {
			position: relative;
			padding: $base-padding;
			h4 {
				color: $color-secondary;
			}
			&:after {
				left: 100%;
				top: 60px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-left-color: $gray-lighter;
				border-width: 10px;
				margin-top: -10px;
				z-index: 10;
			}
		}		
		.project-plan-navigation-links {
			padding: $base-padding 0;
			li {
				@include resetlist();
				text-align: right;
				a {
					display: block;
					text-decoration: none;
					padding: ($base-padding/2) $base-padding * 2;
					&.active {
						background: white;					
					}
				}
			}
			.project-plan-download-pdf {
				@include clear;
				margin-top: $base-margin * 2;
				a {
					border: 2px solid $color-primary;
					padding: ($base-padding/2) $base-padding;
					margin: $base-margin;
					text-decoration: none;
					float: right;			
				}
			}
		}
		
	}
	.project-plan-main-container {
		position: relative;
		@include clearfix;
		background: white;
		padding: $base-padding;
		padding-top: $base-padding*3;
		@include grid(20,0,0);
		.project-plan-main {
			position: relative;
			padding: 0 ($base-padding * 2);
			background: $white;
			overflow-y: auto;
			overflow-x: hidden;
			color: $gray-darker;
			p {
				text-align: justify;
			}
		
			h3:first-of-type {
				font-size: $font-size-larger;
				margin-top: 0;
			}
		
			h1, h2, h3, h4, h5, h6 {
				color: $color-primary;
			}		
		}
		.project-plan-back-link {
			position: absolute;
			top: 10px;
			right: 10px;
			text-decoration: none;
			text-transform: uppercase;
			.flaticon {
				text-align: center;
				vertical-align: middle;
				font-size: $font-size-larger;
				margin-left: $base-margin/2;
			}
		}
	}
	
	.project-plan-map {
		@include grid(12,0,0);
		content: " ";
	}
	
	
}
