//
// Reactions
// --------------------------------------------------

.reaction-form {
    @include clear;
    position: relative;
    padding: 0;
    background-color: $reactions-reaction-form-bg-color;
    
    fieldset {
        padding: 0;
        margin: 0;
        
        ul, li {
            position: relative;
            margin: 0;
            padding: 0;
        }
    }
    
    .member-avatar {
        top: 0;
        left: 0;
        width: 40px;
        position: absolute;
        border: 1px solid $reactions-reaction-form-avatar-border-color;
        @include transition(all 0.1s ease-out);
    }
    
    textarea {
        padding-left: 50px;
        overflow: hidden;
        height: 40px;
    }
    
    button {
        position: absolute;
        z-index: -1;
        opacity: 0;
    
        bottom: 0;
        right: 0;
        font-size: $base-font-size;
        @include transition(opacity 0.1s ease-out);
        
        &:active {
            top: auto; // overwrite default behavior
        }
    }
    
    &.is-selected {
        
        .member-avatar {
          border-color: $color-secondary;
          width: 70px;
        }
        
        textarea {
            height: 70px;
            padding-left: 80px;
        }
        
        button {
            opacity: 1;
            z-index: 2;
        }
    }
}
.wallpost-reactions {
    margin: -$base-margin;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    color: $reactions-color;
    background-color: $reactions-bg-color; 
}

.reactions {
    @include clear;
    font-size: $font-size-small;
    position: relative;
    margin: 0;

    &:after {
        left: 50px;
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $reactions-bg-color;
        border-width: 10px;
        margin-left: -10px;
    }  
    
    .reaction {
        @include clear;
        @include resetlist;
        display: block;
        position: relative;
        margin-bottom: 1px;
        background-color: $reactions-bg-color;
        padding: $base-padding;
        border-bottom: 1px solid $reactions-reaction-border-bottom-color;
        // &:last-child {
        //     border-bottom: none;
        // }
		.reaction-avatar {
			@include grid(7,0,1);
		}
		.reaction-body {
			@include grid(41,0,0);	
			
			.member-name {
				color: $reactions-reaction-member-name-color;
			}
			.text {
				margin: 0;
			}	
		}
    }
	.reactions-pagination {
		
		@include resetlist;
		padding: $base-padding 0;
		background-color: $gray-lighter;
		
		a {
			@include prepend(8);
			color: $black;
		}
	}
}
