.tooltip-holder {

	.tooltip {
		background: rgb(60,60,60);
		bottom: 100%;
		color: #D8D8D8;
		display: block;
		margin-bottom: 15px;
		opacity: 0;
		padding: 10px;
		pointer-events: none;
		position: absolute;
		width: 100%;
		font-size: 12px;
		line-height: 18px;
		border-radius: 2px;
		@include animation(fadeOutDown .2s ease-out);

		&.input {
			right: -5px;
			width: 60%;
			margin-bottom: -2px;
			padding: 5px;

			&:after {
				margin-left: 45px;
			}
		}

		&:before {
			bottom: -20px;
			content: " ";
			display: block;
			height: 20px;
			left: 0;
			position: absolute;
			width: 100%;
		}

		&:after {
			border-left: solid transparent 7px;
			border-right: solid transparent 7px;
			border-top: solid rgb(60,60,60) 7px;
			bottom: -6px;
			content: " ";
			height: 0;
			left: 52%;
			margin-left: -13px;
			position: absolute;
			width: 0;
		}
	}

	&:hover {
		.tooltip {
			opacity: 1;
			pointer-events: auto;
			@include animation(fadeInUp .25s ease-out);
		}
	}
}
