.tooltip-holder {
	position: relative;
	text-align: center;
	@include transform(translateZ(0));
	-webkit-font-smoothing: antialiased; /* webkit text rendering fix */

	.tooltip {
		background: rgb(68,68,68);
		bottom: 100%;
		color: #fff;
		display: block;
		margin-bottom: 15px;
		opacity: 0;
		padding: 10px;
		pointer-events: none;
		position: absolute;
		width: 100%;
		font-size: 11px;
		line-height: 18px;
		border-radius: 6px;
		@include transform(translateY(10px));
		@include transition(all .25s ease-out);

		&.alt {
			width: 120%;
		}

		&:before {
			bottom: -20px;
			content: " ";
			display: block;
			height: 20px;
			left: 0;
			position: absolute;
			width: 100%;
		}

		&:after {
			border-left: solid transparent 10px;
			border-right: solid transparent 10px;
			border-top: solid rgb(68,68,68) 10px;
			bottom: -10px;
			content: " ";
			height: 0;
			left: 50%;
			margin-left: -13px;
			position: absolute;
			width: 0;
		}
	}
	
	&:hover {
		.tooltip {
			opacity: 1;
			pointer-events: auto;
			@include transform(translateY(0px));
		}
	}
}

