.tooltip-holder {
	position: relative;
	text-align: center;
	-webkit-transform: translateZ(0); /* webkit flicker fix */
	-webkit-font-smoothing: antialiased; /* webkit text rendering fix */

	.tooltip {
		background: rgba(65,65,65, .8);
		bottom: 100%;
		color: #fff;
		display: block;
		margin-bottom: 15px;
		opacity: 0;
		padding: 10px;
		pointer-events: none;
		position: absolute;
		width: 100%;
		font-size: 11px;
		line-height: 18px;
		border-radius: 6px;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		-ms-transform: translateY(10px);
		-o-transform: translateY(10px);
		transform: translateY(10px);
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		-ms-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;

		&:before {
			bottom: -20px;
			content: " ";
			display: block;
			height: 20px;
			left: 0;
			position: absolute;
			width: 100%;
		}

		&:after {
			border-left: solid transparent 10px;
			border-right: solid transparent 10px;
			border-top: solid rgba(65,65,65, .8) 10px;
			bottom: -10px;
			content: " ";
			height: 0;
			left: 50%;
			margin-left: -13px;
			position: absolute;
			width: 0;
		}
	}
	
	&:hover {
		.tooltip {
			opacity: 1;
			pointer-events: auto;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			-o-transform: translateY(0px);
			transform: translateY(0px);
		}
	}
}

