{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "quote_list" %}

    <div class="l-section home-quotes">
        <section class="l-wrapper">
            <div class="l-full">

                <header class="section-header">
                	<h1>{% trans "Share your time." %} <em>{%  trans "Improve your destination." %}</em></h1>
            	</header>

                <div class="quote">
                    <figure>
                        <img {{ bindAttr src="quote.user.getAvatar" alt="quote.user.full_name" }} />
                    </figure>

                    <article>
                        <p class="quote-name">{{ quote.user.full_name }}</p>
                        <p class="quote-content">{{ quote.quote }}</p>
                    </article>
                </div>

				<div class="quote-actions">
                {{#linkTo 'projectList' class="btn btn-iconed one"}}
                    <span class="flaticon stroke zoom-2"></span> {% trans "Find projects" %}
                {{/linkTo}}

    			{{#linkTo 'taskList' class="btn btn-iconed two"}}
                    <span class="flaticon solid wrench-1"></span> {% trans "Find tasks" %}
                {{/linkTo}}

                {% block_verbatim pitch_smart_idea %}
                {{#link-to "myProject" 'new' tagName="button" class="btn btn-primary btn-iconed"}}
                    <span class="flaticon solid lightbulb-3"></span>
                    {% trans "Pitch a new smart idea" %}
                {{/link-to}}
                {% endblock_verbatim %}


				</div>
            </div>
        </section>
    </div>


{% endtplhandlebars %}

