{% extends 'admin/base.html' %} {% load i18n static jet_tags %} {%
get_current_language as LANGUAGE_CODE %} {% get_current_language_bidi as
LANGUAGE_BIDI %} {% jet_get_current_theme as THEME %} {% jet_get_current_version
as JET_VERSION %} {% block content_title %} {% endblock %} {% block content %}
<iframe
  plausible-embed
  src="{{object.plausible_embed_link}}&embed=true&theme=light"
  scrolling="no"
  frameborder="0"
  loading="lazy"
  style="width: 1px; min-width: 100%; height: 1600px"
></iframe>
<div style="font-size: 14px; padding-bottom: 14px">
  Stats powered by
  <a
    target="_blank"
    style="color: #4f46e5; text-decoration: underline"
    href="https://plausible.io"
    >Plausible Analytics</a
  >
</div>
<script async src="https://plausible.io/js/embed.host.js"></script>
{% endblock %}
