{% extends "base.mail.html" %}
{% load money %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
    {% if pledged %}
        {% blocktrans with first_name=donation.user.first_name initiator_name=donation.project.owner.full_name slug=donation.project.slug%}

        Thanks {{first_name}}, for co-financing this project. The project initiator {{initiator_name}} has received an email with your pledge.
        {% endblocktrans %}
    {% else %}
        {% blocktrans with first_name=donation.user.first_name initiator_name=donation.project.owner.full_name slug=donation.project.slug%}

        Thanks {{first_name}}, for your donation! Be sure to follow the project page for the latest updates on the project.
        Give some extra support and share this project with your network.
        {% endblocktrans %}
    {% endif %}
    </p>
    
    <table class="donation-table twelve columns">
        {% include 'donations/mails/donation.html' %}
        {% include 'donations/mails/payment_details.html' %}
    </table>

    {% if pledged %}
        {% if donation.project.payout_account.account_number %}
            <p class="twelve columns">
                {% blocktrans with amount=donation.amount|format_money account_holder_name=donation.project.payout_account.account_holder_name account_number=donation.project.payout_account.account_number %}
                    <strong>Please transfer the amount of {{ amount }} to the following bank account:</strong><br />
                    {{account_holder_name}}<br />
                    {{account_number}}
                {% endblocktrans %}
            </p>
        {% else %}
            <p class="twelve columns">
                {% blocktrans with amount=donation.amount|format_money project_title=donation.project.title %}
                    <strong>Please transfer the amount of {{ amount }} to "{{ project_title }}".</strong><br />
                {% endblocktrans %}
            </p>
        {% endif %}
    {% endif %}
    {% if SHARE_OPTIONS.facebook or SHARE_OPTIONS.twitter %}
        <table class="donation-table-share twelve columns">
            <tr class="donation-table-share-title">{% trans "Support even more by sharing the project with your network:" %}</tr>
            <tr class="donation-share-buttons">
                <td>
                    {% if SHARE_OPTIONS.facebook %}
                        <a class="action-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site}}{{link}}">
                            {% trans 'Share on facebook' %}
                        </a>
                    {%  endif %}
                    {% if SHARE_OPTIONS.twitter %}
                        <a class="action-twitter" href="https://twitter.com/intent/tweet?url={{site}}{{link}}">
                            {% trans 'Share on Twitter' %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock content %} 
