{% load i18n %}

{% block content %}
    <tr class="donation-table-row">
        <tr class="donation-table-address">
            {%  if not donation.anonymous %}
                <td>
                    {% if not donation.anonymous and 'members.api_read_full_member' in to.get_all_permissions %}
                        {{donation.user.full_name}} <br />
                        {{donation.user.address.line1}}<br />
                        {{donation.user.address.postal_code}} {{donation.user.address.city}}<br />
                    {% else %}
                        {{donation.user.first_name}} <br />
                    {% endif %}
                </td>
            {% endif %}
            <td>
                <table>
                    <tr class="order-block">
                        <td>{% trans "Date" %}</td>
                        <td nowrap="true">{{donation.created}}</td>
                    </tr>
                    <tr class="order-block">
                        <td>{% trans "Method" %}</td>
                        <td>{{payment_method}}</td>
                    </tr>
                    <tr class="order-block">
                        <td>{% trans "Order" %}</td>
                        <td>{{donation.order.id}}</td>
                    </tr>
                    <tr class="order-block">
                        <td>{% trans "Recipient" %}</td>
                        <td>{{donation.project.owner.full_name}}</td>
                    </tr>
                    {% if donation.project.organization %}
                    <tr class="order-block">
                        <td>{% trans "Organization" %}</td>
                        <td>{{donation.project.organization.name}}</td>
                    </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    </tr>
{% endblock content %}
