{% load i18n %}
<p>
    {% if start %}
        {% blocktrans context 'platform-email' %}
            Start: {{ start }}.
        {% endblocktrans %}
    {% else %}
        {% blocktrans context 'platform-email' %}
            You can start right away.
        {% endblocktrans %}
    {% endif %}
    <br />
    {% if end %}
        {% blocktrans context 'platform-email' %}
            End: {{ end }}.
        {% endblocktrans %}
    {% else %}
        {% blocktrans context 'platform-email' %}
            This activity runs indefinitely.
        {% endblocktrans %}
    {% endif %}
</p>
