{% load i18n %}
<div class="slot-info">
    {% if slot.title %}
        <b>{{ slot.title }}</b>
    {% endif %}
    <br/>
    {{ slot.start_date }} <br/>
    {{ slot.start_time }} to {{ slot.end_time }} ({{slot.timezone}})
    <br/>
    {% if slot.is_online %}
        {% if slot.online_meeting_url %}
            <a href="{{ slot.online_meeting_url }}">
                {% trans "Meeting link" %}<br/>
            </a>
        {% else %}
            {% trans "Anywhere/Online" %}
        {% endif %}
    {% else %}
        {{ slot.location }}
        {% if slot.location_hint %}
            <br/>
            {{ slot.location_hint }}
        {% endif %}
    {% endif %}
    <br/>
</div>
