{% load i18n tz %}
<p>
    {% trans 'Date' context "platform-email" %}: {{ start|date:"SHORT_DATE_FORMAT" }}
</p>
<p>
    {% trans 'Time' context "platform-email" %}: {{ start|date:'TIME_FORMAT' }} - {{ end|date:'TIME_FORMAT' }} {{ timezone }}
</p>
{% if is_online %}
    {% blocktrans context 'platform-email' %}
        Anywhere/Online
    {% endblocktrans %}
{% else %}
    {% if location %}
        {% trans 'Location' context "platform-email" %}: {{ location }} {{ location_hint }}
    {% endif %}
{% endif %}
