{% load i18n %}
{% load bb_ember %}
{% load compress %}
{% load static %}

<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    {# Setting meta csrf-token here only so that django will set the csrf cookie. We don't currently use this meta value. #}
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{% block title %}Bluebottle Project{% endblock %}</title>

    {% block defaults_js %}
        <script type="text/javascript">
            var default_title = '{% blocktrans %}Site meta title{% endblocktrans %}';
            var default_description = '{% blocktrans %}Site meta description{% endblocktrans %}';
            var default_keywords = '{% blocktrans %}Site meta keywords{% endblocktrans %}';
        </script>
    {% endblock defaults_js %}

    {% block meta %}

        <meta name="description" content="{% blocktrans %}Site meta description{% endblocktrans %}" />
        <meta name="author" content="{% blocktrans %}Site meta author{% endblocktrans %}" />
        <meta name="keywords" content="{% blocktrans %}Site meta keywords{% endblocktrans %}" />

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">


    {% endblock %}


    {# Stylesheets #}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen" />
        <link rel="stylesheet" href="{% static 'css/screen-refactor.css' %}" media="screen" />
        <link rel="stylesheet" href="{% static 'css/vendor/redactor.css' %}" media="screen" />
    {% endcompress %}

    <!--[if IE]>
        <link rel="stylesheet" href="{% static 'css/ie.css' %}" media="screen" />
    <![endif]-->

    {# Scripts #}
    <!-- avoid hardcoding these urls -->
    <script type="text/javascript">
        var GIT_COMMIT = '{{ GIT_COMMIT }}';
        var RAVEN_DSN = '{{ RAVEN_DSN }}';
        var STATIC_URL = '{{ STATIC_URL }}';
        var MEDIA_URL = '{{ MEDIA_URL }}';
        var LANGUAGE_CODE = '{{ LANGUAGE_CODE }}';
        var DEBUG = {{ DEBUG|yesno:"true,false" }};
        var MAPS_API_KEY = '{{ MAPS_API_KEY }}';
        var FACEBOOK_AUTH_ID = '{{ FACEBOOK_AUTH_ID }}';
        var MIXPANEL_KEY = '{{ MIXPANEL }}';

    </script>

    {% if RAVEN_DSN %}
        {% if DEBUG %}
            <script src="//cdn.ravenjs.com/1.1.16/ember,jquery,native/raven.js"></script>
        {% else %}
            <script src="//cdn.ravenjs.com/1.1.16/ember,jquery,native/raven.min.js"></script>
        {% endif %}
    {% endif %}

    {# The Ember stack. jQuery, jQuery-ui, Ember, Ember-data, Ember-drf2-adapter, Ember meta #}
    {% if DEBUG %}
        <script type="text/javascript" src="{% static 'js/vendor/jquery-1.8.3.min.js' %}"></script>
    {% else %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% endif %}

    {% compress js %}
        {% if RAVEN_DSN %}
            <script type="text/javascript" src="{% static 'js/configs/raven.js' %}"></script>
        {% endif %}
        <script type="text/javascript" src="{% static 'js/vendor/jquery-ui/minified/jquery.ui.core.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery-ui/minified/jquery.ui.datepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/handlebars-1.0.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/ember-v1.0.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/ember-data-v0.14.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/vendor/zeroclipboard/ZeroClipboard.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/ember-facebook.js' %}"></script>

        <script type="text/javascript">
            ZeroClipboard.config({moviePath: STATIC_URL + '/js/vendor/zeroclipboard/ZeroClipboard.swf'});

        </script>

    {% endcompress %}

    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/ember-data-drf2-adapter.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/ember-meta.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/globalize.js' %}"></script>

        {% if DEBUG %}
            <script type="text/javascript" src="{% static 'js/plugins/apiary-adapter.js' %}"></script>
        {% endif %}

        {# Other libs #}
        {% with 'jsi18n/'|add:LANGUAGE_CODE|add:'/djangojs.js' as i18n_static %}
            <script type="text/javascript" src="{% static i18n_static %}"></script>
        {% endwith %}

        <script type="text/javascript" src="{% static 'js/vendor/jquery-validation/jquery.validate.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/redactor.min.js' %}"></script>

        {# Plugins #}
        <script type="text/javascript" src="{% static 'js/vendor/ember-radio-button.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery.colorbox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/handlebars.helpers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/unslider.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/ember.hashbang.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery.scrollTo.min.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'vendor/js/marker_clusterer.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/bb_modal.js' %}"></script>

        {# Bootstrap #}
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap-transition.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap-modal.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap-tooltip.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap-popover.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap-typeahead.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/ember-bootstrap-df3e710.js' %}"></script>

        {# JS slider #}
        <script src="{% static 'js/vendor/jslider/draggable-0.1.js' %}"></script>
        <script src="{% static 'js/vendor/jslider/tmpl.js' %}"></script>
        <script src="{% static 'js/vendor/jslider/jquery.dependClass-0.1.js' %}"></script>
        <script src="{% static 'js/vendor/jslider/jshashtable-2.1_src.js' %}"></script>
        <script src="{% static 'js/vendor/jslider/jquery.numberformatter-1.2.3.js' %}"></script>
        <script src="{% static 'js/vendor/jslider/jquery.slider.js' %}"></script>



        {# BlueBottle Application #}
        {% block ember_scripts %}
            <script type="text/javascript" src="{% static 'app/utils/presets.js' %}"></script>
            <script type="text/javascript" src="{% static 'app/app.js' %}"></script>
            <script type="text/javascript" src="{% static 'app/utils/auth_jwt.js' %}"></script>
            <script type="text/javascript" src="{% static 'app/utils/utils.js' %}"></script>
            <script type="text/javascript" src="{% static 'app/utils/translatables.js' %}"></script>
            <script type="text/javascript" src="{% static 'app/mixins/mixins.js' %}"></script>
            <script type="text/javascript" src="{% static 'app/controllers/controllers.js' %}"></script>
            <script type="text/javascript" src="{% static 'app/components/components.js' %}"></script>
            <script type="text/javascript" src="{% static 'app/views/views.js' %}"></script>

            {#  Tracking modules #}
            {% if MIXPANEL %}
              <script src="{% static 'js/vendor/mixpanel.js' %}"></script>
              <script type="text/javascript" src="{% static 'js/bluebottle/bb_mixpanel.js' %}"></script>
            {%  endif  %}

            {% for app in bb_apps %}
                {% with 'app/models/'|add:app|add:'.js' as js_static %}
                    <script type="text/javascript" src="{% static js_static %}"></script>
                {% endwith %}
                {% with 'app/pods/'|add:app|add:'/routes.js' as js_static %}
                    <script type="text/javascript" src="{% static js_static %}"></script>
                {% endwith %}
                {% with 'app/pods/'|add:app|add:'/controllers.js' as js_static %}
                    <script type="text/javascript" src="{% static js_static %}"></script>
                {% endwith %}
                {% with 'app/pods/'|add:app|add:'/views.js' as js_static %}
                    <script type="text/javascript" src="{% static js_static %}"></script>
                {% endwith %}
                {% with 'app/pods/'|add:app|add:'/components.js' as js_static %}
                    <script type="text/javascript" src="{% static js_static %}"></script>
                {% endwith %}
            {% endfor %}

        {% endblock %}
    {% endcompress %}

    {% block handlebars_templates %}
        {% include "common/templates.hbs" %}
    {% endblock handlebars_templates %}

    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

    {% block htmlheader %}{% endblock %}

    {% tplhandlebars "language" %}
        <a {{action "selectLanguage" view.content.code}}{{bindAttr title=view.content.name}}>{{ view.content.code }}</a>
    {% endtplhandlebars %}

</head>
<body id="body">
    <!-- Scripts -->
    <div id="fb-root"></div>
    {% block google_analytics %}
          <script type="text/javascript">
            var _gaq = _gaq || [];
              {% if ANALYTICS_CODE %}
                  _gaq.push(['_setAccount', '{{  ANALYTICS_CODE }}']);
                  _gaq.push(['_trackPageview']);
                  (function()
                  { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); }
                  )();
              {%  endif %}
          </script>
    {% endblock %}
    
  
    <!--[if lte IE 9]>
        <script type="text/javascript" src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
        <div id="browser-not-supported">
            <div class="l-section" >
                <div class="l-wrapper">
                    <h1>Oops!</h1>
                    <p>
                        {% blocktrans %}
                        Our new website currently does not work well with older versions of Internet Explorer.<br/>
                        Please install Internet Explorer 10 or use another browser such as Firefox or Chrome!<br/>
                        {% endblocktrans %}
                    </p>
                    <ul>
                        <li>
                            <a href="http://windows.microsoft.com/nl-nl/internet-explorer/download-ie">Download: Internet Explorer 10</a>
                        </li>
                        <li>
                            <a href="http://www.mozilla.org/nl/firefox/new/">Download: Firefox</a>
                        </li>
                        <li>
                            <a href="https://www.google.com/intl/nl/chrome/browser/">Download: Chrome</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <![endif]-->

    {% block content %}
    {% endblock %}
</body>
</html>
