{% load bb_ember i18n %}

{% bb_verbatim %}
<fieldset>
    <legend>
        <strong>{% trans "Personal Details" %}</strong>
        <p>{% trans "We'd like to match you to projects and events based on your location & a personal thank you in your mailbox." %}</p>
    </legend>
    <ul>
        <li class="control-group">
            <label class="control-label">
                {% trans "Address Line 1" %}
            </label>

            <div class="controls">
                {{view Em.TextField valueBinding="line1" classBinding="errors.line1.length:error"}}
            </div>

            {{#if errors.line1}}
                <div class="has-errors">{{#each errors.line1}}<p>{{this}}</p>{{/each}}</div>
            {{/if}}
        </li>
        <li class="control-group">
            <label class="control-label">
                {% trans "Address Line 2" %}
            </label>

            <div class="controls">
                {{view Em.TextField valueBinding="line2" classBinding="errors.line2.length:error"}}
            </div>

            {{#if errors.line2}}
                <div class="has-errors">{{#each errors.line2}}<p>{{this}}</p>{{/each}}</div>
            {{/if}}
        </li>
        <li class="control-group">
            <label class="control-label">
                {% trans "City" %}
            </label>

            <div class="controls">
                {{view Em.TextField valueBinding="city" classBinding="errors.city.length:error"}}
            </div>

            {{#if errors.city}}
                <div class="has-errors">{{#each errors.city}}<p>{{this}}</p>{{/each}}</div>
            {{/if}}
        </li>
        <li class="control-group">
            <label class="control-label">
                {% trans "Province / State" %}
            </label>

            <div class="controls">
                {{view Em.TextField valueBinding="state" classBinding="errors.state.length:error"}}
            </div>

            {{#if errors.state}}
                <div class="has-errors">{{#each errors.state}}<p>{{this}}</p>{{/each}}</div>
            {{/if}}
        </li>
        <li class="control-group">
            <label class="control-label">
                {% trans "Postal Code" %}
            </label>

            <div class="controls">
                {{view Em.TextField valueBinding="postal_code" classBinding="errors.postal_code.length:error"}}
            </div>

            {{#if errors.postal_code}}
                <div class="has-errors">{{#each errors.postal_code}}<p>{{this}}</p>{{/each}}</div>
            {{/if}}

        </li>

        <li class="control-group">
            <label class="control-label">
                {% trans "Country" %}
            </label>

            <div class="controls">
                {{view App.CountryCodeSelectView valueBinding="country" classBinding="errors.country.length:error"}}
            </div>

            {{#if error.country}}
                <div class="has-errors">{{#each errors.country}}<p>{{this}}</p>{{/each}}</div>
            {{/if}}
        </li>

        <li class="control-group">
            <label class="control-label">
                {% trans "Gender" %}
            </label>

            <div class="controls">
                {{#view Em.RadioButtonGroup name="gender" selectedValueBinding="gender" class="radio-group three"}}
                    <label for="genderFemale">{{view view.RadioButton value="female" elementId="genderFemale"}} <span>{% trans "Female" %}</span></label>
                    <label for="genderMale">{{view view.RadioButton value="male" elementId="genderMale"}} <span>{% trans "Male" %}</span></label>
                    <label for="genderUnset">{{view view.RadioButton value="" elementId="genderUnset"}} <span>{% trans "Unset" %}</span></label>
                {{/view}}
            </div>
        </li>

        <li class="control-group">
            <label class="control-label">
                {% trans "Date of birth" %}
            </label>

            <div class="controls">
                {{view App.DatePicker valueBinding="birthdate" classBinding="errors.birthdate.length:error"}}
            </div>

            {{#if errors.birthdate}}
                <div class="has-errors">{{#each errors.birthdate}}<p>{{this}}</p>{{/each}}</div>
            {{/if}}
        </li>
    </ul>
</fieldset>
{% endbb_verbatim %}