{% load static from staticfiles %}

{# Javascript dependencies for Emberjs #}
<script type="text/javascript" src="{% static "bluebottle/accounts/router.js" %}"></script>
<script type="text/javascript" src="{% static "bluebottle/accounts/routes.js" %}"></script>
<script type="text/javascript" src="{% static "bluebottle/accounts/models.js" %}"></script>
<script type="text/javascript" src="{% static "bluebottle/accounts/controllers.js" %}"></script>
<script type="text/javascript" src="{% static "bluebottle/accounts/views.js" %}"></script>