{% load bb_ember i18n %}

{% block request_password_reset_wrapper %}
    
    {% tplhandlebars "request_password_reset" %}

        {% block_verbatim request_password_reset_content %}

            <div class="form">
                <div class="modal-header">
                    <a class="close" rel="close">&times;</a>
                    <h3>{% trans "Forgot your password?" %}</h3>
                </div>

                <div class="modal-body">
                    <p>{% trans "Enter your email address and we'll send you an email so you can set a new password." %}</p>
                    <div class="control-group">
                        <div class="alert alert-error hidden" id="passwordResetError">
                            {{error}}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">{% trans "Email address" %}</div>
                        <div class="controls">
                            <input id="passwordResetEmail" type="text" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn" rel="secondary">
                        {% trans "Reset password" %}
                    </a>
                </div>
            </div>
        
        {% endblock_verbatim request_password_reset_content %}

    {% endtplhandlebars %}

{% endblock request_password_reset_wrapper %}




{% block password_reset_wrapper %}
    
    {% tplhandlebars "password_reset" %}

        {% block_verbatim password_reset_content %}

            <div class="modal">
                <div class="modal-header">
                    <h3>{% trans "Reset your password" %}</h3>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="control-group">
                            <div class="control-label">{% trans "New password" %}</div>

                            <div class="controls">
                                {{view Em.TextField type="password" valueBinding="new_password1" classBinding="errors.new_password1.length:error"}}
                            </div>

                            {{#if errors.new_password1}}
                                <div class="errors">{{#each errors.new_password1}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </div>

                        <div class="control-group">
                            <div class="control-label">{% trans "Confirm new password" %}</div>

                            <div class="controls">
                                {{view Em.TextField type="password" valueBinding="new_password2" classBinding="errors.new_password2.length:error"}}
                            </div>
                        </div>

                        {{#if errors.new_password2}}
                            {{#each errors.new_password2}}
                                <div class="alert alert-error">
                                    {{this}}
                                </div>
                            {{/each}}
                        {{/if}}
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-iconed right" {{action 'resetPassword' model}} {{bindAttr disabled="resetDisabled"}}>
                        <em class="flaticon solid checkmark-1"></em>
                        {% trans "Reset password" %}
                    </button>
                </div>
            </div>

            <div class="modal-backdrop"></div>

        {% endblock_verbatim password_reset_content %}

    {% endtplhandlebars %}

{% endblock password_reset_wrapper %}