{% load bb_ember i18n %}


{% tplhandlebars "userProfile" %}

{{#if isLoaded}}
    <section class="wrapper">
        <div class="content">
            <form>
                    
                {% block_verbatim profile_form %}
                
                    <div class="form-meta">
                        {% block form_meta %}
                            <div class="form-label">{% trans "Edit your profile" %}</div>
                            <div class="form-desc">{% trans "Override block form_meta from accounts/profile_form.html." %}</div>
                        {% endblock form_meta %}
                    </div>

                    {% block_verbatim fieldset1 %}
                        <fieldset>
                            <ul>
                                <li class="control-group">
                                    <label class="control-label">
                                        {% trans "Name" %}
                                    </label>

                                    <div class="controls">
                                        {{view Em.TextField valueBinding="first_name" placeholder="{% trans "First name" %}" 
                                        class="inline-prepend" classBinding="errors.first_name.length:error"}}
                                        
                                        {{view Em.TextField valueBinding="last_name" placeholder="{% trans "Surname" %}" 
                                        class="inline-append" classBinding="errors.last_name.length:error"}}
                                    </div>

                                    {# TODO: Error Handling #}
                                </li>

                                <li class="control-group">
                                    <label class="control-label">
                                        {% trans "Profile Picture" %}
                                    </label>

                                    <div class="controls profile-pic-uploader">
                                        <img {{bindAttr src="getAvatar"}} class="preview" />

                                        <a class="btn btn-iconed btn-uploader">
                                            {{view App.UploadFile contentBinding="this" name="picture" id="picture" accept="image/*" fileBinding="picture"}}
                                            <em class="flaticon solid upload-document-1"></em>
                                            {% trans "Upload picture" %}
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </fieldset>
                    {% endblock_verbatim fieldset1 %}

                    {% block_verbatim fieldset2 %}
                        <hr class="form-divider">
                        <fieldset>
                            <ul>
                                {% block_verbatim profile_fields %}
                                    
                                    <li class="control-group">
                                        <label class="control-label">
                                            {% trans "One (of many possible) profile fields" %}
                                        </label>

                                        <div class="controls">
                                            {{view Em.TextArea valueBinding="about" maxlength="265" 
                                            placeholder="{% trans "An example placeholder" %}" 
                                            classBinding="errors.about.length:error"}}
                                        </div>

                                        {{#if errors.about}}
                                            <div class="errors">{{#each errors.about}}<p>{{this}}</p>{{/each}}</div>
                                        {{/if}}
                                    </li>

                                {% endblock_verbatim profile_fields %}
                            </ul>
                        </fieldset>
                    {% endblock_verbatim fieldset2 %}

                    {% block extra_fieldsets %}
                    {% endblock extra_fieldsets %}

                    {% block_verbatim profile_save %}
                        
                        {{#if saved}}
                            <span class="left">
                                <em class="flaticon solid checkmark-1">{% trans "Profile saved" %}</em>
                            </span>
                        {{/if}}

                        <button class="btn btn-iconed btn-primary right" {{action 'save' model}}>
                            <em class="flaticon solid checkmark-1"></em>
                            {{saveButtonText}}
                        </button>

                    {% endblock_verbatim profile_save %}

                {% endblock_verbatim profile_form %}

            </form>
        </div>
    </section>

{{else}}
    <span class="loading-big">Loading&#8230;</span>
{{/if}}

{% endtplhandlebars %}