
{% load bb_ember i18n %}

{% tplhandlebars "userProfile" %}

{{#if isLoaded}}
    <form>
            
        {% block_verbatim profile_form %}
        
            <legend>
                {% block form_meta %}
                    <strong>{% trans "Edit your profile" %}</strong>
                    <p>{% trans "Override block form_meta from accounts/profile_form.html." %}</p>
                {% endblock form_meta %}
            </legend>

            {% block_verbatim fieldset1 %}
                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Name" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="first_name" placeholder="{% trans "First name" %}" 
                                class="inline-prepend" classBinding="errors.first_name.length:error"}}
                                
                                {{view Em.TextField valueBinding="last_name" placeholder="{% trans "Surname" %}" 
                                class="inline-append" classBinding="errors.last_name.length:error"}}
                            </div>

                            {# TODO: Error Handling #}
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Profile Picture" %}
                            </label>

                            <div class="controls file-upload">
                                <img {{bindAttr src="getAvatar"}} class="preview" />
                                <a class="btn btn-iconed btn-upload">
                                    {{view App.UploadFile contentBinding="this" name="picture" id="picture" accept="image/*" fileBinding="picture"}}
                                    <span class="flaticon solid upload-document-1"></span>
                                    {% trans "Upload picture" %}
                                </a>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            {% endblock_verbatim fieldset1 %}

            {% block_verbatim fieldset2 %}
                <fieldset>
                    <ul>
                        {% block_verbatim profile_fields %}
                            
                            <li class="control-group">
                                <label class="control-label">
                                    {% trans "One (of many possible) profile fields" %}
                                </label>

                                <div class="controls">
                                    {{view Em.TextArea valueBinding="about" maxlength="265" 
                                    placeholder="{% trans "An example placeholder" %}" 
                                    classBinding="errors.about.length:error"}}
                                </div>

                                {{#if errors.about}}
                                    <div class="has-errors">{{#each errors.about}}<p>{{this}}</p>{{/each}}</div>
                                {{/if}}
                            </li>

                        {% endblock_verbatim profile_fields %}
                    </ul>
                </fieldset>
            {% endblock_verbatim fieldset2 %}

            {% block extra_fieldsets %}
            {% endblock extra_fieldsets %}

            {% block_verbatim profile_save %}
                
                {{#if saved}}
                    <div class="is-saved"><span class="flaticon solid checkmark-1">{% trans "Profile saved" %}</span></div>
                {{/if}}

                <button class="btn btn-iconed btn-primary btn-save" {{action 'save' model}}>
                    <span class="flaticon solid checkmark-1"></span>
                    {{saveButtonText}}
                </button>

            {% endblock_verbatim profile_save %}

        {% endblock_verbatim profile_form %}

    </form>

{{else}}
    <div class="is-loading-big">Loading&#8230;</div>
{{/if}}

{% endtplhandlebars %}