{% extends "mails/messages/participant_base.html" %}
{% load i18n %}

{% block message %}
  <p>
    {% blocktrans context 'email' %}
      You joined an activity on <b>{{ site_name }}!</b>
    {% endblocktrans %}
  </p>

  <p>
    <b>{{ title }}</b>
  </p>

    <p>
        {% trans "You can participate at the place and time indicated below:" %}
    </p>
    <p>
        {% for slot in slots %}
            {% include 'mails/messages/partial/slot.html' %}
        {% endfor %}

    </p>
    {% if hour_registration %}
        <p>
            {% blocktrans context 'email' %}
                Make sure to register your hours using the code or URL found on the activity detail page.
            {% endblocktrans %}
        </p>
    {% endif %}

{% endblock message %}
