.tooltip-holder {
	position: relative;
	text-align: center;
	@include transform(translateZ(0));
	-webkit-font-smoothing: antialiased; /* webkit text rendering fix */
	
	.tooltip {
		background: rgb(60,60,60);
		bottom: 100%;
		color: #D8D8D8;
		display: block;
		margin-bottom: 15px;
		opacity: 0;
		padding: 10px;
		pointer-events: none;
		position: absolute;
		width: 100%;
		font-size: 12px;
		line-height: 18px;
		border-radius: 2px;
		@include animation(fadeOutDown .2s ease-out);

		&.input {
			right: -5px;
			width: 60%;
			margin-bottom: -2px;
			padding: 5px;

			&:after {
				margin-left: 53px;
			}
		}

		&:before {
			bottom: -20px;
			content: " ";
			display: block;
			height: 20px;
			left: 0;
			position: absolute;
			width: 100%;
		}

		&:after {
			border-left: solid transparent 7px;
			border-right: solid transparent 7px;
			border-top: solid rgb(60,60,60) 7px;
			bottom: -6px;
			content: " ";
			height: 0;
			left: 52%;
			margin-left: -13px;
			position: absolute;
			width: 0;
		}
	}

	&:hover {
		.tooltip {
			opacity: 1;
			pointer-events: auto;
			@include animation(fadeInUp .25s ease-out);

			&:after {
                // border-top: none;
            }

            .cvcPreview {
                width: 191px;
                height: 113px;
                margin: 0 0 -23px -53px;
                background: image-url("illustration/illustration-creditcard-cvc.svg") transparent no-repeat 0 0;
            }
		}

		.questionmark, .exclamationmark {
			position: absolute;
			vertical-align: middle;
			display: inline-block;
			cursor: pointer;
			background-size: 20px;
			@include hide-text();
		}

		.questionmark {
			top: 30%;
			right: 10px;
			width: 21px;
			height: 20px;
			background: image-url("icons/icon-form-question_hover.svg") transparent no-repeat 0 0!important;
		}

		.exclamationmark {
			top: 21%;
			right: 10px;
			width: 16px;
			height: 16px;
			background: image-url("icons/icon-form-exclamation.svg") transparent no-repeat 0 0!important;
		}
	}

	&.is-active {
		.tooltip {
			opacity: 1;
			pointer-events: auto;
			@include animation(fadeInUp .25s ease-out);

			&:after {
                border-top: none;
            }

            .cvcPreview {
                width: 191px;
                height: 113px;
                margin: 0 0 -23px -53px;
                background: image-url("illustration/illustration-creditcard-cvc.svg") transparent no-repeat 0 0;
            }
		}

		.questionmark {
			position: absolute;
			vertical-align: middle;
			display: inline-block;
			top: 30%;
			right: 10px;
			width: 21px;
			height: 20px;
			cursor: pointer;
			background: image-url("icons/icon-form-question_hover.svg") transparent no-repeat 0 0!important;
			background-size: 20px;
			@include hide-text();
		}
	}
}
