{% extends "tasks/mails/deadline_to_apply_base.mail.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    {% blocktrans with title=task.title people_applied=task.people_applied %}
        The deadline to apply for your task "{{ title }}" has been reached.
        <br><br>

        You successfully reached the requested number of task members. The task has been set to 'full'.
        <br><br>
        This is a good moment to update your task followers.
    {% endblocktrans %}
{% endblock %}
{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action-email">{% trans 'Leave a message' context 'email' %}</a>
{% endblock %}
