{% extends "tasks/mails/deadline_to_apply_base.mail.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    {% blocktrans with title=task.title people_applied=task.people_applied %}
        The deadline to apply for your task "{{ title }}" has been reached.
        <br><br>
        Your task didn’t get all the task members you requested. The task has been set to 'running' with the {{people_applied}} candidates that applied. If your task requires more task 
        members, you can change the date to apply.
        <br><br>
        Note: You have to <a href="{{ site }}{{ link }}">accept</a> candidates before they become task members
    {% endblocktrans %}
{% endblock %}
