{% extends "tasks/mails/deadline_to_apply_base.mail.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    {% blocktrans with title=task.title people_applied=task.people_applied %}
    
        The deadline to apply for your task "{{ title }}" has been reached.
        <br><br>
        You can change the date to apply if you want to look for more candidates. You can also change the date of your task to ensure you get enough task members on board. 
    {% endblocktrans %}
{% endblock %}
