{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans with receiver_name=to.short_name %}

        Hello {{ receiver_name }},

        The status of your task "{{ title }}" has changed to 'closed'.
        Please let us know if your <a href="{{ site }}{{ link}}/edit">task is realised.</a> 

    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action-email">{% trans 'Go to task' context 'email' %}</a>
{% endblock %}
