{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans with receiver_name=to.short_name %}

        Hello {{ receiver_name }}
        <br><br>
        Hopefully your task "{{ title }}" was a great success!
        Make sure that all participants are marked as confirmed so we can show the results of your task.
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action-email">{% trans 'Confirm participants' context 'email' %}</a>
{% endblock %}`
