{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans with receiver_name=to.short_name %}

        Hello {{ receiver_name }}
        <br><br>
        In case it slipped your mind. Please confirm the participants who executed "{{ title }}" so we can show the results of your project.
    {% endblocktrans %}
{% endblock %}

{% block action %}
    <a href="{{ site }}{{ link }}"
       class="action-email">{% trans 'Confirm participants' context 'email' %}</a>
{% endblock %}`
