@import "globals";

/* MESSAGES & ERRORS */

ul.messagelist {
  padding: 0;
  margin: 0;

  li {
    display: block;
    margin: 0 20px 10px 20px;
    border-radius: 6px;
    padding: 10px;

    @include for-phone {
      margin-left: 10px;
      margin-right: 10px;
    }

    &.success {
      background: $success-color;
      color: $success-text-color;
       a {
         color: $success-text-color;
         text-decoration: underline;
       }
    }

    &.warning, &.error {
      background: $warning-color;
      color: $warning-text-color;
       a {
         color: $warning-text-color;
         text-decoration: underline;
       }
    }

    &.info, &.debug {
      background: $info-color;
      color: $info-text-color;
       a {
         color: $info-text-color;
         text-decoration: underline;
       }
    }
  }
}

.errornote {
  display: block;
  margin: 0 0 10px 0;
  border-radius: 6px;
  padding: 10px;
  background: $warning-color;
  color: $warning-text-color;
}

ul.errorlist {
  margin: 0 0 4px;
  padding: 0;
  color: #ba2121;
  background: #fff;

  li {
    font-size: 1rem;
    display: block;
    margin-bottom: 4px;

    &:first-child {
      margin-top: 0;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  td & {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
    }
  }
}

.form-row.errors {
  ul.errorlist li {
    padding-left: 0;
  }
}

div.system-message {
  margin: 0 20px 10px 20px;
  border-radius: 6px;
  padding: 10px;
  background: $warning-color;
  color: $warning-text-color;

  @include for-phone {
    margin-left: 10px;
    margin-right: 10px;
  }

  p.system-message-title {
    margin: 0;

    &:before {
      @include font-icon;
      content: $icon-cross;
      vertical-align: middle;
      margin-right: 4px;
      color: $warning-text-color;
    }
  }
}

.description {
  padding: 16px 42px;
  border-radius: 4px;
  background: #ececec 20px 20px url('/static/assets/admin/images/icons/info.svg') no-repeat;

  &.warning {
    padding: 16px 42px;
    color: #B96500;
    background: #f8f0e6 20px 20px url('/static/assets/admin/images/icons/warning.svg') no-repeat;
  }

}

