{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_list" %}

    {{render "taskSearchForm" }}

    <div class="l-section">
        <section class="l-wrapper">
            {{#if model.isLoaded}}
                <ul id="search-results">
                    {{#each task in model}}
                        {{render "taskPreview" task}}
                    {{else}}
                        <li class="no-results">{% trans "No tasks found." %}</li>
                    {{/each}}
                </ul>
            {{else}}
                <div class="is-loading-big"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading tasks" %}</strong></div>
            {{/if}}
        </section>
    </div>

{% endtplhandlebars %}

