{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_member_apply" %}

   {% block_verbatim task_member_apply %}
   {% endblock_verbatim %}
    <fieldset>

        <ul>
            <li class="control-group">
                <label class="control-label wide" for="motivation" >{% trans "Motivation" %}</label>
                <small>{% trans "Please share your motivation. For planning purposes please indicate if you are in the CS department."%}</small>

                <div class="controls wide">
                    {{view Ember.TextArea valueBinding="view.motivation" name="motivation" classBinding="errors.motivation.length:error"}}
                </div>
            </li>
        </ul>
    </fieldset>

{% endtplhandlebars %}

