{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_summary" %}

	<li class="activity-item">
		{{#link-to "task" this}}
			<strong class="task-title">{{title}}</strong><br />
			<span class="task-meta">
				<span class="task-people">{{membersCount}} {% trans "people assigned" %}</span>
				<span class="task-time">{{time_needed}} {% trans "Hour(s)" %}</span>
				<div class="task-deadline">{{localize deadline formatting="X"}}</div>
			</span>
			<span class="task-status task-open">{% trans "Open" %}</span>
		{{/link-to}}
	</li>

{% endtplhandlebars %}