{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "task_member_apply" %}

    <legend>
        <p>{% trans "Before you apply for this task, make sure that you can actually take the day off. Follow the standard procedure for this Booking.com Cares day, the same procedure as if you were taking a holiday. Are you sure you are available? Then share you motivation to do this task with the project initiator below!" %}</p>
    </legend>
   {% block_verbatim task_member_apply %}
   {% endblock_verbatim %}
    <fieldset>

        <ul>
            <li class="control-group">
                <label class="control-label wide" for="motivation" >{% trans "Motivation" %}</label>

                <div class="controls wide">
                    {{view Ember.TextArea valueBinding="view.motivation" name="motivation" classBinding="errors.motivation.length:error"}}
                </div>
            </li>
        </ul>
    </fieldset>

{% endtplhandlebars %}

