{% load bb_ember %}
{% load i18n %}


{% tplhandlebars "latest_news" %}

    <ul>
        {{#each model}}
            <li>
                <a {{action 'showNews' this.id}} class="blog-navigation-item">
                    <strong class="blog-title">{{title}}</strong> <em class="blog-timestamp">{{localize publicationDate formatting="X"}}</em>
                </a>
            </li>
        {{/each}}
    </ul>


{% endtplhandlebars %}

