{% load bb_ember i18n %}

{% tplhandlebars "news_preview_list" %}

    <h3>{% trans "1%News" %}</h3>
    <ul>
    {{#each item in model}}
        <li>
            {{#link-to 'newsItem' item}}
                <span class="flaticon solid right-2"></span> {{ item.title }}
            {{/link-to}}
        </li>
    {{/each}}
    </ul>

{% endtplhandlebars %}