select {
    // Webkit
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    -webkit-padding-end: $base-padding;
    -webkit-padding-start: $base-padding;
    -webkit-user-select: none;
    
    // Firefox
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    
    background-image: image-url("select-arrow.png");
    background-position: center right;
    background-repeat: no-repeat;
    
    &:hover, &:focus {
        border-color: $form-select-hover-border-color;
        background-image: image-url("select-arrow-hover.png");
    }
}