#wall {
	clear: both;
	background-color: $color-grey-back;
	padding-top: 30px;
	padding-bottom: 50px;
}

#wallposts {
	@include span-columns(7);
}

#sidebar {
	@include span-columns(4.5);
	@include shift(0.5);
	float: right;
}