{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    <table class="twelve columns">
        <tr>
            <td>
                {% trans "Hi" context 'email' %} {{ share_name }},<br><br>
                {{ sender_name }} {% trans " wants to share the following initiative with you:" context 'email' %}<br><br>
                <hr>
                <br>
            </td>
            <td class="expander"></td>
        </tr>
    </table>

    <table class="eight columns center">
        <tr>
            <td class="wrapper last center">
                <img src="{{ project_image }}" width="400" height="auto"
                     alt="Project Image"/><br><br>
            </td>
            <td class="expander"></td>
        </tr>
    </table>

    <table class="eight columns center">
        <tr>
            <td class="wrapper last center">
                <h3>{{ project_title }}</h3>

                <p class="lead">{{ project_pitch }}</p>
                <br>
            </td>
            <td class="expander"></td>
        </tr>
    </table>

    <hr><br>

    <table class="twelve columns">
        <tr>
            <td class="wrapper last">
                <b style="font-weight: bold">{{ sender_name }} {% trans "says:" context 'email' %}</b><br>
                {{ share_motivation }}
            </td>
        </tr>
    </table>
{% endblock %}

{% block action %}
    <a href="mailto:{{ sender_email }}"
       class="action-email">{% trans "Reply" context 'email' %}</a>
{% endblock %}
