{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
    <p class="donation-intro">
        {% blocktrans with first_name=donation.user.first_name initiator_name=donation.project.owner.full_name slug=donation.project.slug%}

        Thanks {{first_name}}, for your donation! Be sure to follow the project page for the latest updates on the project.
        Give some extra support and share this project with your network.
        {% endblocktrans %}
    </p>
    <table class="donation-table twelve columns">
        <tr class="donation-table-row">
            <th class="donation-title">
                {% trans "Donation" %} {% if donation.reward %} - {{donation.reward.title}} {% endif %}
            </th>
            <th class="donation-amount">&euro; {{ donation.amount }}</th>
            <tr class="donation-location">
                <td>{{donation.project.title}}</td>
            </tr>
        </tr>
        <tr class="donation-table-row">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr class="donation-table-address">
                <td>
                    {{donation.user.full_name}} <br />
                    {{donation.user.address.line1}}<br />
                    {{donation.user.address.postal_code}} {{donation.user.address.city}}<br />
                </td>
                <td>
                    <table>
                        <tr class="order-block">
                            <td>Date</td>
                            <td>{{donation.created}}</td>
                        </tr>
                        <tr class="order-block">
                            <td>Method</td>
                            <td>{{payment_method}}</td>
                        </tr>
                        <tr class="order-block">
                            <td>Order</td>
                            <td>{{donation.order.id}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tr>
        </tr>
    </table>
    <table class="donation-table-share twelve columns">
        <tr class="donation-table-share-title">{% trans "Support even more by sharing the project with your network:" %}</tr>
        <tr class="donation-share-buttons">
            <td>
                <a class="action-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site}}{{link}}">
                    {% trans 'Share on facebook' %}
                </a>
                <a class="action-twitter" href="https://twitter.com/intent/tweet?url={{site}}{{link}}">
                    {% trans 'Share on Twitter' %}
                </a>
            </td>
        </tr>
    </table>
{% endblock content %} 
