{% load money %}
{% load i18n %}

{% block content %}
    <tr class="donation-table-row">
        <th class="donation-title">
            {% trans "Donation" %} {% if donation.reward %} - {{donation.reward.title}} {% endif %}
        </th>
        <th class="donation-amount">{{ donation.amount|format_money }}</th>
        <tr class="donation-location">
            <td><a href="{{ site }}/projects/{{donation.project.slug}}">{{donation.project.title}}</a></td>
        </tr>
    </tr>
{% endblock content %} 
