{% block content %}
    <tr class="donation-table-row">
        <tr class="donation-table-address">
            <td>
                {{donation.user.full_name}} <br />
                {{donation.user.address.line1}}<br />
                {{donation.user.address.postal_code}} {{donation.user.address.city}}<br />
            </td>
            <td>
                <table>
                    <tr class="order-block">
                        <td>Date</td>
                        <td nowrap="true">{{donation.created}}</td>
                    </tr>
                    <tr class="order-block">
                        <td>Method</td>
                        <td>{{payment_method}}</td>
                    </tr>
                    <tr class="order-block">
                        <td>Order</td>
                        <td>{{donation.order.id}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tr>
{% endblock content %}