{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "components/bb-text-wallpost-new" %}
    {{#with wallpost}}
        <div class="wallpost-action">
            <header class="wallpost-header">
                <div class="wallpost-header-text">
                    <strong class="status-update" href=""><span class="custom-icons update"></span>{% trans "Update status" %}</strong>
                </div>
                <div class="wallpost-header-action">

                </div>
            </header>
            <div class="wallpost-form">
                {{view Ember.TextArea valueBinding="text" name="wallpost-update" class="wallpost-update" classBinding="errors.text.length:error" placeholder="share an update with your comment"}}

                {{#if errors.text }}
                    <div class="errors">{{#each errors.text }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}

            </div>
            <footer class="wallpost-footer">
                <div class="wallpost-footer-action">
                    <div class="btn-group">
                        <button class="btn btn-comment btn-save" {{action 'submit'}}>{% trans "Post" %}</button>
                        <button class="btn btn-comment-inactive btn-cancel" {{action 'toggleForm' target='view'}}>{% trans "Cancel" %}</button>
                    </div>
                </div>
            </footer>
        </div>
    {{/with}}
{% endtplhandlebars %}