{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "components/bb-wallpost-help" %}

<div class="wallpost-help">
	<header class="help-header">
		<h1>{% trans "Getting started" %}</h1>
		<p>{% trans "Great! You’ve created a new campaign, now what?" %}</p>
	</header>

	<div class="help-body">
		<ol>
			<li>
				<h2>{% trans "Tell a good story" %}</h2> 
				<p>{% trans "Keep this page up to date and share progress with your supporters" %}</p>
			</li>
			<li>
				<h2>{% trans "Ask for help" %}</h2> 
				<p>{% trans "Create tasks and ask your community to help out" %}</p>
			</li>
			<li>
				<h2>{% trans "Keep on going!" %}</h2> 
				<p>{% trans "Campaigning is a lot of work, with a good story and lot’s of energy you can do this!" %}</p>
			</li>
		<ol>
	</div>
	
	<footer class="help-footer">
		<a {{action "focusOnInput"}} class="button button-big action-write-update">{% trans "Write your first update" %}</a>
	</footer>
</div>

{% endtplhandlebars %}