{% extends "mails/messages/matching/reminder-base.html" %}
{% load i18n %}

{% block message %}
    <p>
    {% blocktrans context 'platform-email' %}
    We’re halfway through the year and there’s still lots of opportunity to make impact. Whether you’ve got a few minutes or a few hours, your efforts can make a real difference.
    {% endblocktrans %}
    </p>
    <p>
    {% blocktrans context 'platform-email' %}
    Take a moment to explore the activities waiting for you.
    {% endblocktrans %}
    </p>
{% endblock %}


{% block end_message %}
    {{block.super}}
    <p>
    {% blocktrans context 'platform-email' %}
    Every action counts. Let's see what we can accomplish together in the coming months.
    {% endblocktrans %}
    </p>
{% endblock %}
