{% extends "base.mail.html" %}
{% load i18n %}
{% load message_url %}

{% block content %}
    <p>
        {% blocktrans context 'email' %}Hi {{ recipient_name }},{% endblocktrans %}
    </p>
    {% block message %}{% endblock %}
{% endblock %}

{% block action %}
<a href="{% message_url action_link %}" class="action-email">{{ action_title }}</a>
{% endblock %}`

{% block end_message %}
    {% message_url opt_out_link as profile_url %}
    {% blocktrans %}
      Go to <a href="{{profile_url}}">your profile</a> to opt-out.
    {% endblocktrans %}
{% endblock %}
