{% extends "mails/messages/matching/reminder-base.html" %}
{% load i18n %}

{% block message %}
    <p>
    {% blocktrans context 'email' %}
    Ready to make an impact from day one? On {{ site_name }} you’ll find many activities waiting for you.
    {% endblocktrans %}
    </p>
    <p>
    {% blocktrans context 'email' %}
    Take a look and you might discover your next passion project!
    {% endblocktrans %}
    </p>
{% endblock %}

{% block end_message %}
    {{block.super}}

    <p>
    {% blocktrans context 'email' %}
    Even a small step can lead to big impact. Let’s make it happen!
    {% endblocktrans %}
    </p>
{% endblock %}
