{% extends "mails/messages/matching/reminder-base.html" %}
{% load i18n %}

{% block message %}
    <p>
    {% blocktrans context 'platform-email' %}
    We know that getting started can sometimes be the hardest part. That’s why we’ve made it simple to find activities that match your interests and time.
    {% endblocktrans %}
    </p>
    <p>
    {% blocktrans context 'platform-email' %}
    Ready to explore {{ site_name }}? Just click below to find activities that fit your schedule.
    {% endblocktrans %}
    </p>
{% endblock %}

{% block end_message %}
    {{block.super}}
    <p>
    {% blocktrans context 'platform-email' %}
    Remember, even small actions can lead to big impact. We’re here to support you every step of the way.
    {% endblocktrans %}
    </p>
{% endblock %}
