{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_list admin_urls %}

{% block object-tools-items %}
    <li>
        {% if original.status == 'new' %}
            <a href="{% url 'admin:recurring_donations_monthlybatch_process' object_id %}" style="background-color: darkred">Process this monthly batch</a>
        {% elif original.status == 'processing' %}
            <a href="#" style="background-color: orangered">Processing</a>
        {% elif original.status == 'done' %}
            <a href="#" style="background-color: darkgreen">Processed</a>
        {% endif %}
    </li>
    {{ block.super }}
{% endblock %}