//
// Fundraiser detail
// Overwrites project detail elements
// --------------------------------------------------

#fundraiser-detail {
    background-color: $gray-lighter;
    color: $color-text;
    
    .project-image img {
       border: 1px solid $white; 
    }
   
    .fundraiser-project {
        
        .fundraiser-project-image {
            @include grid(16,2,2);
            position: relative;
            bottom: 24px;
            z-index: 10;
            
            img {
                border: 1px solid $gray-lighter;
            }
        }
        
        .fundraiser-project-details {
             @include grid(32,1,2);
             
             h4, p {
                font-family: $font-family-heavy;
                font-size: $font-size-smallest;
            }
        }
    }
    
    .fundraiser-member {
    	position: relative;
        bottom: 12px;
            
        .member-avatar img {
            @include grid(10,0,2);
            float: left;
            vertical-align: top;
        }
        
        .member-name {
            display: inline-block;
            @include grid(38,0,0);
            margin-bottom: $base-margin/2;
            
            em {
                color: $gray !important;
                font-style: normal;
                font-family: $base-font-family;
            }
        }
        
        .project-action {
            @include grid(38,0,0);

            .btn {
                width: 100%;
                text-align: center;
                
                font-size: 18px;
                position: relative;
                display: inline-block;
                background: $color-secondary-new;
                padding: 0.75em 1.25em;
                vertical-align: center;
                border-radius: 8px;
                color: #fff;
                font-family: $font-family-bold;
                font-weight: 700;
                border: none;
                text-transform: inherit;
                @include single-box-shadow($color-secondary-shadow, 0, -2px, 0, 0, true);
                @include single-transition(all, .1s ease-in-out);

                // fix for chrome animation bug
                -webkit-backface-visibility: hidden;
                -webkit-transform: scale(1);

                &.btn-third {
                    background: $color-primary;
                    @include single-box-shadow($color-primary-shadow, 0, -2px, 0, 0, true);

                    &:hover {
                        @include single-box-shadow($color-primary-shadow, 0, -4px, 0, 0, true);
                    }
                }


                &.btn-sec {
                    color: $color-primary;
                    font-weight: normal;
                    background: none;
                    border: 1px solid $color-primary;
                    @include box-shadow(none);

                    &:hover {
                        top: 0;
                        background-color: $color-primary;
                        color: $white;
                        @include box-shadow(none);
                    }

                    &:active, &:focus {
                        border: 1px solid $gray-darker;
                    }
                }

                &.btn-facebook {
                    background-color: #3368A2;
                    padding-left: 50px;
                    @include single-box-shadow(#254363, 0, -2px, 0, 0, true);

                    span {
                        background-color: transparent !important;
                        color: #fff !important;
                    }

                    &:hover {
                        @include single-box-shadow(#254363, 0, -4px, 0, 0, true);
                    }

                    &:active, &:focus {
                        @include single-box-shadow($gray-darkest, 0, 2px, 0, 0, true);
                    }
                }

                &:hover {
                    top: -1px;
                    @include single-transition(none);
                    @include single-box-shadow($color-secondary-shadow, 0, -4px, 0, 0, true);
                }

                &.is-inactive {
                    background: #D8D8D8;
                    @include single-box-shadow(darken(#D8D8D8, 10%), 0, -2px, 0, 0, true);

                    &:hover {
                        @include single-box-shadow(darken(#D8D8D8, 10%), 0, -4px, 0, 0, true);
                    }

                    &:active, &:focus {
                        @include single-box-shadow($gray-darkest, 0, 2px, 0, 0, true);
                    }
                }

                &:active, &:focus {
                    top: 1px !important;
                    background: $gray-darker !important;
                    color: $gray-light !important;
                    @include single-box-shadow($gray-darkest, 0, 2px, 0, 0, true);

                    span {
                        background: transparent !important; // TODO: Reset old flaticon
                    }
                }

                // TODO: Reset old flaticon
                .flaticon {
                    &.social {
                        &:before {
                            border-right: solid 1px rgba(255,255,255,0.2);
                            padding-right: 13px;
                        }
                    }
                }

                &:hover .flaticon {
                    background-color: none !important;
                }

                &.is-loading {
                    @include transition(none);
                    @include box-shadow(none);
                    background: image-url("img/loaders/loader-button-darkgrey.gif") #D8D8D8 no-repeat 50% 50% !important;
                    background-size: 32px !important;
                    @include hide-text();

                    &:hover {
                        @include box-shadow(none);
                    }
                }
            }
        }
    }
    
    .project-title {
        color: $color-heading;
        margin: 0.5em 0; 
    }

    .fundraiser-share {
        position: relative;
        display: inline-block;
        width: 100%;

        .share-menu {
            top: -23px;
        }
    }
}

#fundraiser-status {
    padding: $base-padding 0;
    background-color: $gray-light;
    
    .project-status {
        margin: 0;
    }
    
    .project-days-left {
        margin-top: $base-margin;
        color: $color-text;
    
        .flaticon {
            color: $gray-dark;
        }
    }
    
    .project-fund {
        margin-top: $base-margin;
        
        .amount-donated {
            color: $color-text;
        }
        
        .project-fund-amount-slider {
            background-color: $white;
        }
    }
    
    .project-member-list {
        
        h4 {
            color: $gray-dark;
        }
    }
}

#fundraiser-new, #fundraiser-edit {
    span.hint {
        font-size: 11px;
        display: inline-block;
        width: 60%;
        float: left;
        line-height: 16px;
        margin-top: 3px;
        color: $gray-light; 
    }

    .member-avatar img {
        @include grid(12,0,2);
        float: left;
        vertical-align: top;
    }
}
