{% load i18n %}
{% load message_url %}


<div class="receipt">
    <div class="receipt-header">
        <div>
            {{obj.user.full_name}}
        </div>
        <div>
            {{ obj.amount }}
        </div>
    </div>
    <div class="receipt-body">
        <div class="receipt-activity">
            {{obj.activity.title}}
        </div>
        {% if obj.activity.partner_organization %}
        <div class="receipt-organization">
            {{obj.activity.partner_organization.name}}
        </div>
        {% endif %}
        {% if obj.reward %}
        <div class="receipt-reward">
            {% trans "Reward:" %} {{obj.reward.title}}
        </div>
        {% endif %}
        <div class="receipt-divider">
            <svg xmlns="http://www.w3.org/2000/svg" width="570" height="2" viewBox="0 0 570 2" fill="none">
                <path d="M0 1H570" stroke="#DBDBDB" stroke-width="2" stroke-dasharray="8 8"/>
            </svg>
        </div>
        <div class="receipt-info">
            <div class="receipt-info-label">
                {% trans "Date" %} -
            </div>
            <div class="receipt-info-value">
                {{obj.created}}
            </div>
        </div>
        <div class="receipt-info">
            <div class="receipt-info-label">
                {% trans "Order" %} -
            </div>
            <div class="receipt-info-value">
                {{obj.id}}
            </div>
        </div>
    </div>
</div>
